<template>
	<div>
		<home-section-one></home-section-one>
		<video-testimonials :amount="20"></video-testimonials>
		<featured-products></featured-products>
		<home-bundles></home-bundles>
		<signup-mailing-list></signup-mailing-list>
		<home-reviews></home-reviews>
		<div class="container pb-5">
			<div class="row justify-content-center">
				<div class="col-12">
					<img src="/img/home/tm-logos-desktop.svg" loading="lazy" class="d-none d-sm-block w-100" alt="Verified logos" width="1110" height="147"/>
					<img src="/img/home/tm-logos-mobile.svg" loading="lazy" class="d-sm-none w-100 h-auto" alt="Verified logos" width="345" height="167"/>
				</div>
			</div>
		</div>
		<home-blog :category="'all'"></home-blog>
		<recent-videos></recent-videos>
	</div>
</template>
<script>

	import HomeSectionOne from '../../components/home/SectionOne.vue';
	import VideoTestimonials from '../../components/VideoTestimonials.vue';
	import FeaturedProducts from '../../components/home/FeaturedProducts.vue';
	import HomeBundles from '../../components/home/Bundles.vue';
	import SignupMailingList from '../../components/signups/MailingList.vue';
	import HomeReviews from '../../components/home/Reviews.vue';
	import HomeBlog from '../../components/home/Blog.vue';
	import RecentVideos from '../../components/home/RecentVideos.vue';
	
	export default {
    components: {
      HomeSectionOne,
      VideoTestimonials,
      FeaturedProducts,
      HomeBundles,
      SignupMailingList,
      HomeReviews,
      HomeBlog,
      RecentVideos
    }
  }
</script>