<template>
	<div class="container py-5 mob-pt-0">
		<div class="row">
			<div class="col-lg-3 mob-bg-light mob-mb-5">
				<div class="make-me-sticky">
					<p class="text-grey text-small mob-mb-0"><i>Select a category:</i></p>
					<p class="title text-large cursor-pointer" v-bind:class="{'text-primary text-underline' : cat == 'Injuries/Pains/The Programs'}"><span @click="cat = 'Injuries/Pains/The Programs', scrollTo()">Injuries/Pains/The Programs</span></p>
					<p class="title text-large cursor-pointer" v-bind:class="{'text-primary text-underline' : cat == 'Website/Your Account'}"><span @click="cat = 'Website/Your Account', scrollTo()">Website/Your Account</span></p>
					<p class="title text-large cursor-pointer" v-bind:class="{'text-primary text-underline' : cat == 'Seminars/Collabs'}"><span @click="cat = 'Seminars/Collabs', scrollTo()">Seminars/Collabs</span></p>
					<p class="title text-large cursor-pointer" v-bind:class="{'text-primary text-underline' : cat == 'Merchandise'}"><span @click="cat = 'Merchandise', scrollTo()">Merchandise</span></p>
				</div>
			</div>
			<div id="questions" class="col-lg-9">
				<div v-bind:class="{'d-block' : cat == 'Injuries/Pains/The Programs', 'd-none' : cat !='Injuries/Pains/The Programs' }">
					<div id="faq-accordion">
						<p class="larger mob-text-small mob-question-pad"><a class="dark" data-toggle="collapse" href="#answer_1" aria-expanded="false" aria-controls="answer_1">I’m not very flexible, are your programs suitable for total beginners? <i class="fa fa-angle-down collapsed float-right mt-2"></i><i class="fa fa-angle-up expanded float-right mt-2"></i></a></p>
						<div id="answer_1" class="collapse" data-parent="#faq-accordion">
							<p>Absolutely, our <a href="/products/the-simplistic-mobility-method" target="_blank">Simplistic Mobility Method</a> is focused on giving you your baseline level of flexibility and stability - in fact the more you find challenging when you start, the more you have to gain from the program!</p>
							<p>We have regressions & easier versions for all the exercises, so you’ll be able to work on the right areas in ways that suit you the best.</p>
							<p>Plus, all the movements are goal-oriented, so know exactly how to progress and where you want to be, instead of just stretching for the sake of stretching.</p>
						</div>
						<hr/>
						<p class="larger mob-text-small mob-question-pad"><a class="dark" data-toggle="collapse" href="#answer_2" aria-expanded="false" aria-controls="answer_2">I have an injury/pain, can I still do your programs? <i class="fa fa-angle-down collapsed float-right mt-2"></i><i class="fa fa-angle-up expanded float-right mt-2"></i></a></p>
						<div id="answer_2" class="collapse" data-parent="#faq-accordion">
							<p>If it’s a long term, recurring issue then yes! A lot of recurring issues, bouncing pains and general aches and niggles will be rectified by improving your overall joint flexibility and strength so it is very much worth the time investment.</p>
							<p>For a new injury or acute injury (especially one that’s the result of an actual incident) then you’re best to work with someone in person until you have had the ok to return to exercise. Then the <a href="/products/the-simplistic-mobility-method" target="_blank">Simplistic Mobility Method</a> would be a great first step to help address any imbalances you may have built up during your recovery!</p>
						</div>
						<hr/>
						<p class="larger mob-text-small mob-question-pad"><a class="dark" data-toggle="collapse" href="#answer_3" aria-expanded="false" aria-controls="answer_3">Which program should I buy? <i class="fa fa-angle-down collapsed float-right mt-2"></i><i class="fa fa-angle-up expanded float-right mt-2"></i></a></p>
						<div id="answer_3" class="collapse" data-parent="#faq-accordion">
							<p><a href="https://tommorrison.uk/blog/which-program-should-i-choose" target="_blank">This page explains in more depth</a>, but the short answer is always start with <a href="/products/the-simplistic-mobility-method" target="_blank">The Simplistic Mobility Method</a>! It’s your baseline assessment and the non-negotiable exercises that everyone should be doing regardless of their training or background.</p>
						</div>
						<hr/>
						<p class="larger mob-text-small mob-question-pad"><a class="dark" data-toggle="collapse" href="#answer_4" aria-expanded="false" aria-controls="answer_4">Are your programs suitable for people with Hypermobility? <i class="fa fa-angle-down collapsed float-right mt-2"></i><i class="fa fa-angle-up expanded float-right mt-2"></i></a></p>
						<div id="answer_4" class="collapse" data-parent="#faq-accordion">
							<p>Yes, as all our programs are based on foundational joint strength, not just stretching. As joint control is such an important thing to build when you have hypermobility, you can start with us right from a beginner level and learn how to safely progress.</p>
							<p>In The Simplistic Mobility Method, we have a full section in the ebook explaining hypermobility from Jenni.</p>
							<p>The two best programs you could combine are <a href="/products/the-simplistic-mobility-method" target="_blank">The Simplistic Mobility Method</a> and <a href="/products/stability-builder" target="_blank">Stability Builder</a>.</p>
						</div>
						<hr/>
						<p class="larger mob-text-small mob-question-pad"><a class="dark" data-toggle="collapse" href="#answer_5" aria-expanded="false" aria-controls="answer_5">I can't easily get up & down off the floor, can I still do SMM? <i class="fa fa-angle-down collapsed float-right mt-2"></i><i class="fa fa-angle-up expanded float-right mt-2"></i></a></p>
						<div id="answer_5" class="collapse" data-parent="#faq-accordion">
							<p>There are regressions and adaptations for the SMM movements, but some do still require you to get on the floor. So if you’re not confident with that yet, we have a few beginner follow alongs on <a href="https://www.youtube.com/c/TomMorrison1" target="_blank">YouTube Channel</a> that will be great for you to start with:</p>
							<ul>
								<li><p><a href="https://www.youtube.com/watch?v=IRWr3c7F0yw" target="_blank">Joint Circles (10 mins)</a></p></li>
								<li><p><a href="https://www.youtube.com/watch?v=LZv3Ekd98l4" target="_blank">Get Up & Flow (7 mins)</a></p></li>
							</ul>
							<p>Practice these as often as you can and that will give you more confidence to start the Simplistic Mobility Method!</p>
						</div>
						<hr/>
						<p class="larger mob-text-small mob-question-pad"><a class="dark" data-toggle="collapse" href="#answer_6" aria-expanded="false" aria-controls="answer_6">I'm not sure if I'm doing the exercises right? <i class="fa fa-angle-down collapsed float-right mt-2"></i><i class="fa fa-angle-up expanded float-right mt-2"></i></a></p>
						<div id="answer_6" class="collapse" data-parent="#faq-accordion">
							<p>The best thing you can do is record yourself on your phone to check your movements. We also have a <a href="https://www.facebook.com/groups/simplisticmobilitymethod" target="_blank">Facebook group</a> where you can ask any questions, or you can <a href="mailto:info@tommorrison.uk">email us</a>!</p>
							<p>If you’d like more in-depth personalized help, you can get a <a href="/products/video-call" target="_blank">video consultation</a> with Tom to see how your movements are going! It’s an incredibly beneficial call, where you explore the SMM movements and discover any extra areas that may need special attention or tailored exercises.</p>
						</div>
						<hr/>
<!-- 						<p class="larger mob-text-small mob-question-pad"><a class="dark" data-toggle="collapse" href="#answer_7" aria-expanded="false" aria-controls="answer_7">Do you offer in-person sessions? <i class="fa fa-angle-down collapsed float-right mt-2"></i><i class="fa fa-angle-up expanded float-right mt-2"></i></a></p>
						<div id="answer_7" class="collapse" data-parent="#faq-accordion">
							<p>Yes, once per month Tom does in person sessions in Lisburn, Northern Ireland. To find out the next upcoming date, <a href="mailto:info@tommorrison.uk">send us an email</a>!</p>
						</div>
						<hr/> -->
						<p class="larger mob-text-small mob-question-pad"><a class="dark" data-toggle="collapse" href="#answer_8" aria-expanded="false" aria-controls="answer_8">How can I get the videos/the program onto my TV? <i class="fa fa-angle-down collapsed float-right mt-2"></i><i class="fa fa-angle-up expanded float-right mt-2"></i></a></p>
						<div id="answer_8" class="collapse" data-parent="#faq-accordion">
							<p>There's currently no app you can use, but there are a couple of ways to get it onto a TV!</p>
							<p><b>1.</b> The best way is to use the browser in your TV and navigate to the site/play the videos that way</p>
							<p><b>2.</b> If you're on a computer using Chrome, you can cast the site from the browser by clicking the 3 dots menu on the top right and selecting "Cast"</p>
							<p><b>3.</b> If you have a compatible phone/TV combo (like a Samsung phone with a Samsung TV) you can mirror your phone on your TV</p>
							<p><b>4.</b> If you have a laptop, you can use a HDMI/DeX cable to mirror the laptop to the TV</p>
							<p>If none of these options work, please <span class="text-primary cursor-pointer" @click="showForm()">get in touch!</span></p>
						</div>
						<hr/>
						<p class="larger mt-4"><b>Didn't answer your question?<br class="d-md-none" /> <span class="text-primary cursor-pointer" @click="showForm()">Get in touch here!</span></b></p>
					</div>
				</div>
				<div v-bind:class="{'d-block' : cat == 'Website/Your Account', 'd-none' : cat !='Website/Your Account' }">
					<div id="faq-accordion-2">
						<p class="larger mob-text-small mob-question-pad"><a class="dark" data-toggle="collapse" href="#faq-accordion-2-answer_1" aria-expanded="false" aria-controls="faq-accordion-2-answer_1">I bought a program but didn't get an 'Account Created' email - how do I access my programs? <i class="fa fa-angle-down collapsed float-right mt-2"></i><i class="fa fa-angle-up expanded float-right mt-2"></i></a></p>
						<div id="faq-accordion-2-answer_1" class="collapse" data-parent="#faq-accordion-2">
							<p>If you’ve successfully bought a program, you will have an account set up, so just go to <a href="/login" target="_blank">https://tommorrison.uk/login</a> and use the “Forgot Your Password” link to set yourself up a new password.</p>
							<p>Sometimes our emails don’t get through for whatever reason! You can also check your spam/junk/promotions folder in case it’s ended up there</p>
						</div>
						<hr/>
						<p class="larger mob-text-small mob-question-pad"><a class="dark" data-toggle="collapse" href="#faq-accordion-2-answer_2" aria-expanded="false" aria-controls="faq-accordion-2-answer_2">I can access my Account, but the program I bought isn't there? <i class="fa fa-angle-down collapsed float-right mt-2"></i><i class="fa fa-angle-up expanded float-right mt-2"></i></a></p>
						<div id="faq-accordion-2-answer_2" class="collapse" data-parent="#faq-accordion-2">
							<p>Double check your back to see if your payment has gone through*, then:</p>
							<ul>
								<li><p><u>If your payment hasn’t succeeded:</u> login to your new account and buy the program as normal, this time it will be added to your dashboard! (You may need to try a different payment method)</p></li>
								<li><p><u>If it has succeeded:</u> <span class="text-primary cursor-pointer" @click="showForm()">contact us</span> and we can add your program(s) manually</p></li>
							</ul>
							<p>*Also check if a payment in your bank/app is marked as “pending”, this could mean it’s failed, and the money won’t be taken, and the sale was not complete. If you are ever charged twice, we will refund you any duplications straight away upon verification.</p>
						</div>
						<hr/>
						<p class="larger mob-text-small mob-question-pad"><a class="dark" data-toggle="collapse" href="#faq-accordion-2-answer_3" aria-expanded="false" aria-controls="faq-accordion-2-answer_3">There was an error before I completed my purchase, what should I do? <i class="fa fa-angle-down collapsed float-right mt-2"></i><i class="fa fa-angle-up expanded float-right mt-2"></i></a></p>
						<div id="faq-accordion-2-answer_3" class="collapse" data-parent="#faq-accordion-2">
							<p>Double check your back to see if your payment has gone through*, then:</p>
							<ul>
								<li><p><u>If your payment hasn’t succeeded:</u> login to your new account and buy the program as normal. If there’s another error, please contact us and send a screenshot of what you see/the error</p></li>
								<li><p><u>If it has succeeded:</u> <span class="text-primary cursor-pointer" @click="showForm()">contact us</span> and we can add your program(s) manually</p></li>
							</ul>
							<p>*Also check if a payment in your bank/app is marked as “pending”, this could mean it’s failed, and the money won’t be taken, and the sale was not complete. If you are ever charged twice, we will refund you any duplications straight away upon verification.</p>
						</div>
						<hr/>
						<p class="larger mob-text-small mob-question-pad"><a class="dark" data-toggle="collapse" href="#faq-accordion-2-answer_4" aria-expanded="false" aria-controls="faq-accordion-2-answer_4">I purchased a gift for someone, but they haven't received it. What should I do? <i class="fa fa-angle-down collapsed float-right mt-2"></i><i class="fa fa-angle-up expanded float-right mt-2"></i></a></p>
						<div id="faq-accordion-2-answer_4" class="collapse" data-parent="#faq-accordion-2">
							<p>Ask them to check their spam/junk/promotions folder first as it may have just gotten lost!</p>
							<p>If there’s nothing there, <span class="text-primary cursor-pointer" @click="showForm()">contact us</span> letting us know:</p>
							<ul>
								<li><p>Your name & email address</p></li>
								<li><p>The email address of the person you bought the gift for</p></li>
							</ul>
						</div>
						<hr/>
						<p class="larger mob-text-small mob-question-pad"><a class="dark" data-toggle="collapse" href="#faq-accordion-2-answer_5" aria-expanded="false" aria-controls="faq-accordion-2-answer_5">Can I buy a program in another currency? <i class="fa fa-angle-down collapsed float-right mt-2"></i><i class="fa fa-angle-up expanded float-right mt-2"></i></a></p>
						<div id="faq-accordion-2-answer_5" class="collapse" data-parent="#faq-accordion-2">
							<p>Yes! We don’t add any extra fees for purchasing from another country. The payment will be converted using the current exchange rate.</p>
						</div>
						<hr/>
						<p class="larger mob-text-small mob-question-pad"><a class="dark" data-toggle="collapse" href="#faq-accordion-2-answer_6" aria-expanded="false" aria-controls="faq-accordion-2-answer_6">I can't log into my account! The password is wrong/lost/not set up? <i class="fa fa-angle-down collapsed float-right mt-2"></i><i class="fa fa-angle-up expanded float-right mt-2"></i></a></p>
						<div id="faq-accordion-2-answer_6" class="collapse" data-parent="#faq-accordion-2">
							<p>If you know what email address you used to sign up with, simply use the “Forgot Your Password” link on <a href="/login" target="_blank">https://tommorrison.uk/login</a></p>
							<p>If you don’t know or have changed your email address, please <span class="text-primary cursor-pointer" @click="showForm()">contact us</span> with:</p>
							<ul>
								<li><p>Your full name</p></li>
								<li><p>Previous email address (if known)</p></li>
								<li><p>Date of purchase (can be an estimate, to help verify your account)</p></li>
							</ul>
						</div>
						<hr/>
						<p class="larger mob-text-small mob-question-pad"><a class="dark" data-toggle="collapse" href="#faq-accordion-2-answer_7" aria-expanded="false" aria-controls="faq-accordion-2-answer_7">The videos in my dashboard say: "Sorry. Because of its privacy settings, this video cannot be played here", what should I do? <i class="fa fa-angle-down collapsed float-right mt-2"></i><i class="fa fa-angle-up expanded float-right mt-2"></i></a></p>
						<div id="faq-accordion-2-answer_7" class="collapse" data-parent="#faq-accordion-2">
							<p>This usually happens because of an antivirus (such as Bitdefender) blocking Vimeo who hosts our videos. Add Vimeo to the whitelist/allowed list of your anti-virus and this should solve the issue!</p>
							<p>If this still doesn't work, <span class="text-primary cursor-pointer" @click="showForm()">Get in touch here!</span></p>
						</div>
						<hr/>
						<p class="larger mob-text-small mob-question-pad"><a class="dark" data-toggle="collapse" href="#faq-accordion-2-answer_8" aria-expanded="false" aria-controls="faq-accordion-2-answer_8">I'm getting a "419 Page Expired" error, what should I do? <i class="fa fa-angle-down collapsed float-right mt-2"></i><i class="fa fa-angle-up expanded float-right mt-2"></i></a></p>
						<div id="faq-accordion-2-answer_8" class="collapse" data-parent="#faq-accordion-2">
							<p>The website sometimes gets confused if you're signed in or out, so go to:</p>
							<p><a href="https://tommorrison.uk/logout">https://tommorrison.uk/logout</a></p>
							<p>Then you should be able to log in again without error!</p>
						</div>
						<hr/>
						<p class="larger mt-4"><b>Didn't answer your question?<br class="d-md-none" /> <span class="text-primary cursor-pointer" @click="showForm()">Get in touch here!</span></b></p>
					</div>
				</div>
				<div v-bind:class="{'d-block' : cat == 'Seminars/Collabs', 'd-none' : cat !='Seminars/Collabs' }">
					<div id="faq-accordion-3">
						<p class="larger mob-text-small mob-question-pad">Seminar & Workshop FAQs are located <a href="/seminars#faqs">here</a></p>
						<hr/>
						<p class="larger mob-text-small mob-question-pad"><a class="dark" data-toggle="collapse" href="#faq-accordion-3-answer_1" aria-expanded="false" aria-controls="faq-accordion-3-answer_1">I want to do a podcast with Tom / Tom & Jenni, how do we get started? <i class="fa fa-angle-down collapsed float-right mt-2"></i><i class="fa fa-angle-up expanded float-right mt-2"></i></a></p>
						<div id="faq-accordion-3-answer_1" class="collapse" data-parent="#faq-accordion-3">
							<p>We love doing podcasts! Online is the most convenient as we’re based in Northern Ireland, but if you’re local we can come to record in person.</p>
							<p><a href="mailto:info@tommorrison.uk">Send us an email</a> with a link to your podcast, any social channels and the topic you’d like to discuss and we can get a date/time set up!</p>
						</div>
						<hr/>
						<p class="larger mob-text-small mob-question-pad"><a class="dark" data-toggle="collapse" href="#faq-accordion-3-answer_2" aria-expanded="false" aria-controls="faq-accordion-3-answer_2">Can I make a collab video with Tom/Jenni for my own channels? <i class="fa fa-angle-down collapsed float-right mt-2"></i><i class="fa fa-angle-up expanded float-right mt-2"></i></a></p>
						<div id="faq-accordion-3-answer_2" class="collapse" data-parent="#faq-accordion-3">
							<p>If you have a similar audience, if you’re interested working with us and sharing your progress/journey, or if you just want to have a chat or create a funny video then it’s great to share audiences! We can also promote it to our audience.</p>
							<p><a href="mailto:info@tommorrison.uk">Send us an email</a> with your idea(s), along a link to your YouTube channel/socials!</p>
						</div>
						<hr/>
						<p class="larger mob-text-small mob-question-pad"><a class="dark" data-toggle="collapse" href="#faq-accordion-3-answer_3" aria-expanded="false" aria-controls="faq-accordion-3-answer_3">Can Tom/Jenni do a video for my private clients/product/group? <i class="fa fa-angle-down collapsed float-right mt-2"></i><i class="fa fa-angle-up expanded float-right mt-2"></i></a></p>
						<div id="faq-accordion-3-answer_3" class="collapse" data-parent="#faq-accordion-3">
							<p>We can do bolt-on mini programs that you can slot into an existing product, or we can do webinars & other video content that we can tailor to your needs!</p>
							<p>Send us an email here and let us know what you’d be interested in, plus how many members/clients you have.</p>
							<p>We’re also always interesting in holding in-person events for gyms or groups! <a href="/seminars" target="_blank">Find out more about our seminars & workshops here</a> and if you’d like to host one, <span class="text-primary cursor-pointer" @click="showForm()">get in touch</span>!</p>
						</div>
						<hr/>
						<p class="larger mob-text-small mob-question-pad"><a class="dark" data-toggle="collapse" href="#faq-accordion-3-answer_4" aria-expanded="false" aria-controls="faq-accordion-3-answer_4">I'd love Tom / Tom & Jenni to talk at my event, how do we get started? <i class="fa fa-angle-down collapsed float-right mt-2"></i><i class="fa fa-angle-up expanded float-right mt-2"></i></a></p>
						<div id="faq-accordion-3-answer_4" class="collapse" data-parent="#faq-accordion-3">
							<p>Big or small we love getting a chance to talk to new people and spread our flong & sexible message.</p>
							<p>If you’re hosting an event with guest speakers, it’d be great to be a part of your day! <a href="mailto:info@tommorrison.uk">Send us an email</a> with the event details, let us know what you’d require from us, and we’ll get back to you asap!</p>
						</div>
						<hr/>
						<p class="larger mt-4"><b>Didn't answer your question?<br class="d-md-none" /> <span class="text-primary cursor-pointer" @click="showForm()">Get in touch here!</span></b></p>
					</div>
				</div>
				<div v-bind:class="{'d-block' : cat == 'Merchandise', 'd-none' : cat !='merch#faqs' }">
					<div id="faq-accordion-4">
						<p class="larger mob-text-small mob-question-pad"><a class="dark" data-toggle="collapse" href="#faq-accordion-4-answer_1" aria-expanded="false" aria-controls="faq-accordion-4-answer_1">My order hasn't arrived yet, what should I do? <i class="fa fa-angle-down collapsed float-right mt-2"></i><i class="fa fa-angle-up expanded float-right mt-2"></i></a></p>
						<div id="faq-accordion-4-answer_1" class="collapse" data-parent="#faq-accordion-4">
							<p>Because our merch is printed on demand it does take quite a long time to be printed, packed & delivered!</p>
							<p>Generally, delivery times are 2-3 weeks after your order, so hopefully it will still arrive with you, but if it has been longer than 3 weeks then <span class="text-primary cursor-pointer" @click="showForm()">get in touch</span>, and we can chase it up for you.</p>
						</div>
						<hr/>
						<p class="larger mob-text-small mob-question-pad"><a class="dark" data-toggle="collapse" href="#faq-accordion-4-answer_2" aria-expanded="false" aria-controls="faq-accordion-4-answer_2">Is there a shipping charge/delivery fee? <i class="fa fa-angle-down collapsed float-right mt-2"></i><i class="fa fa-angle-up expanded float-right mt-2"></i></a></p>
						<div id="faq-accordion-4-answer_2" class="collapse" data-parent="#faq-accordion-4">
							<p>Nope, we cover all delivery fees for worldwide merch orders. There’s more information <a href="https://tommorrison.uk/delivery-and-returns" target="_blank">here</a>.</p>
						</div>
						<hr/>
						<p class="larger mt-4"><b>Didn't answer your question?<br class="d-md-none" /> <span class="text-primary cursor-pointer" @click="showForm()">Get in touch here!</span></b></p>
					</div>
				</div>
			</div>
		</div>
    <div class="form-backdrop" v-bind:class="{'on' : showform}">
    	<div class="form-close" @click="hideForm()"></div>
    	<div class="form-holder container px-4 mob-px-3 pt-3 mob-pt-0 mob-pb-4">
    		<div class="close-form title text-right cursor-pointer" @click="hideForm()"><b>x</b></div>
    		<p class="mimic-h2 mt-3 mb-0">Get in touch</p>
    		<p class="text-small text-grey mb-0 lh-14 d-md-none">Cant see the whole form? Don't worry, you can scroll down!</p>
				<contact-form :recaptcha="recaptcha" :cat="cat" @hideForm="hideForm()"></contact-form>
			</div>
		</div>
	</div>
</template>

<script>
	import ContactForm from '../ContactForm.vue';
  export default {
    props: {
      recaptcha: String,
    },
    components: {
    	ContactForm
    },
    data() {
      return {
      	cat: 'Injuries/Pains/The Programs',
        errors: {},
        fields: {},
        success: false,
        loaded: true,
        showform: false,
      }
    },
    methods: {
    	showForm(){
    		this.showform = true;
    	},
    	hideForm(){
    		this.showform = false;
    	},
    	scrollTo(){
    		const id = 'questions';
				const yOffset = -120; 
				const element = document.getElementById(id);
				const y = element.getBoundingClientRect().top + window.pageYOffset + yOffset;
				window.scrollTo({top: y, behavior: 'smooth'});
    	}
    }
  }
</script>
<style lang="scss">
	[aria-expanded="true"]{
		color: #D82737 !important;
		font-weight: 900;
	}
	.lh-14{
		line-height: 1.4;
	}
	.make-me-sticky {
		min-height: 247px;
	  position: -webkit-sticky;
		position: sticky;
    top: 110px;
	}
	.text-underline{
		text-decoration: underline;
	}

	.collapse{
		a{
			text-decoration: underline;
		}
		p .text-primary.cursor-pointer{
			text-decoration: underline;
		}
	}
	.form-backdrop{
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		z-index: -10000;
		display: none;
		background-color: rgba(0,0,0,0.8);
		&.on{
			display: block;
			z-index: 10000;
		}
		.form-close{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			cursor: pointer;
			z-index: 1;
		}
		.form-holder{
			position: absolute;
			max-width: 700px;
			top: 200px;
			left: calc(50% - 350px);
			z-index: 5;
			background-color: #fff;
			border-radius: 5px;
		}
		.close-form{
			position: absolute;
			top: 1rem;
			right: 1rem;
			font-size: 25px;
			width: 30px;
			height: 30px;
			-webkit-transition: all 200ms ease;
	    -moz-transition: all 200ms ease ;
	    -o-transition: all 200ms ease;
	    transition: all 200ms ease;
			&:hover{
				color: #D82737;
			}
		}
	}
	@media only screen and (max-width : 767px){
		.mob-bg-light{
			background-color: #F2F2F2;
		}
		.make-me-sticky {
			padding-top:1rem;
			position: relative;
	    top: auto;
		}
		.mob-question-pad{
			padding-right: 1rem;
			i{
				margin-right: -1rem;
			}
		}
		.form-backdrop{
			.form-holder{
				top: 120px;
				left: 1rem;
				max-width: calc(100% - 2rem);
				max-height: calc(100% - 150px);
				overflow: scroll;
			}
		}
		.mob-btn-full{
			margin-bottom: 2rem;
			max-width: 100%;
		}
	}
</style>