<template>
  <div class="modal fade show" id="saleModal" tabindex="-1" role="dialog" aria-labelledby="saleModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content text-center" style="border: 0 !important;">
        <picture> 
          <source srcset="/img/sales/valentines/modal.webp" type="image/webp"/> 
          <source srcset="/img/sales/valentines/modal.jpg" type="image/jpeg"/>
          <img src="/img/sales/valentines/modal.jpg" class="w-100 d-none d-lg-block" alt="valentines sale" />
        </picture>
        <picture> 
          <source srcset="/img/sales/valentines/modal-mob.webp" type="image/webp"/> 
          <source srcset="/img/sales/valentines/modal-mob.jpg" type="image/jpeg"/>
          <img src="/img/sales/valentines/modal-mob.jpg" class="w-100 d-lg-none" alt="valentines sale" />
        </picture>
        <div v-if="showTimer" class="timer-holder d-inline-block">
          <h3 class="text-white"><span class="text-center text-lg-left timer-text d-lg-block" style="color:#905125 !important;">Ends in</span> <Timer :color="'#905125'" :ds="endTime"></Timer></h3>
        </div>
        <a href="/shop">
          <button class="btn btn-primary sale-modal-btn" style="background-color:#321E19 !important;color: #fff !important; border: 2px solid #000 !important;">Shop Now >></button>
        </a>
        <p class="close-modal mb-0"><a class="close w-100 cursor-pointer" aria-label="Close" style="color:#905125 !important;text-shadow: none !important;" @click="hide"><u>No thanks, continue to site</u></a></p>
      </div>
    </div>
  </div>
</template>

<script>
  import Timer from './Timer.vue';
  import VueCookies from 'vue-cookies';
  import { Modal } from 'bootstrap';

  export default {
    components: {
      Timer
    },
    data() {
      return {
        theModal: null,
        modalEndDate: new Date("2025-02-14T22:00:00Z"),
        timerStartDate: new Date("2025-02-13T22:00:00Z"),
        now: new Date(),
        endTime: "2025-02-14T22:00:00Z"
      }
    },
    computed: {
      showTimer() {
        // Check if the current date and time are past the timer start date
        return this.now >= this.timerStartDate;
      }
    },
    mounted() {
      this.theModal = new Modal(document.getElementById('saleModal'), {})
      if (VueCookies.isKey('saleModal-valentines') == false && this.now < this.modalEndDate) {
        VueCookies.set('saleModal-valentines', 'thecookieisset');
        this.theModal.show();
      }
    },
    methods: {
      show() {
        this.theModal.show();
      },
      hide() {
        this.theModal.hide();
      }
    }
  }
</script>

<style lang="scss">
  #saleModal {
    background-color: rgba(0,0,0, 0.85);
  .modal-content {
    height: auto;
    
    p {
      color: #fff;

      &.close-modal {
        right: -40%;
        width:100%;
        bottom:calc(24% - 130px);
      }
    }

    .timer-holder {
      position: absolute;
      bottom: calc(16% + 50px);
      left: calc(50% - 145px);
      width: 150px;
    }

    .timer {
      position: absolute;
      right: calc(50% - (64px + 127px));
      top: -11px;

      .timer-box {
        .timer-number {
          color: #fff;
          border: 2px solid #fff;
        }

        p {
          bottom: -13px;
          line-height: 1.1rem;
          color: #fff;
        }
      }
    }
  }

  h3 {
    font-family: Karla;
    font-size: 26px;
    line-height: 1.4rem;
    color: #fff !important;
  }

  .timer-text {
    padding-right: 0;
  }
}

.sale-modal-btn {
  position: absolute;
  background-color: #1D3036 !important;
  color: #fff !important;
  bottom: 10%;
  border: 0 !important;
  max-width: 380px;
  right: calc(50% - 180px);
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #saleModal {
    .modal-content {
      p {
        &.close-modal {
          width: 100%;
          bottom: 3%;
        }
      }

      .timer-holder {
        bottom: calc(16% + 40px);
      }

    }
  }

  .sale-modal-btn {
    bottom: 8%;
    max-width: 260px;
    left: calc(50% - 130px);
  }
}

@media only screen and (max-width: 991px) {
  #saleModal {
    .modal-content {
      p {
        &.close-modal {
          width: 100%;
          bottom: 3%;
        }
      }

      .timer-holder {
        bottom: calc(17% + 0px);
        width: 100%;
        left: 0;
      }

      .timer {
        width: 161px;
        position: relative;
        right: auto;
        top: -8px;

        .timer-box {
          p {
            bottom: -13px;
          }
        }
      }
    }

    h3 {
      font-size: 4vw;
      line-height: 4vw;
    }
  }

  .timer-text {
    padding-right: 0;
  }

  .mob-pl-4 {
    padding-left: 1.5rem;
  }

  .sale-modal-btn {
    bottom: 8%;
    max-width: 260px;
    left: calc(50% - 130px);
  }
}

@media only screen and (max-width: 767px) {
  .sale-banner h3 {
    font-size: 7.5vw;
  }

  #saleModal {
    .modal-content {
      p {
        &.close-modal {
          width: calc(100% - 2rem) !important;
          bottom: 2%;
          left: 1rem !important;
        }
      }

      .timer-holder {
        bottom: calc(17% + 30px);
      }

      .timer {
        top: 3px;
      }
    }

    h3 {
      font-size: 6vw;
      line-height: 6vw;
    }
  }

  .sale-modal-btn {
    bottom: 7%;
  }
}
</style>