<template>
	<span class="timer" v-if="ds"><span class="timer-box"><span class="timer-number" :style="timerStyle" v-html="hours"></span><p :style="timerStyle">hrs&nbsp;</p></span><span class="timer-box"><span class="timer-number" :style="timerStyle" v-html="minutes"></span><p :style="timerStyle">mins&nbsp;</p></span><span class="timer-box"><span class="timer-number" :style="timerStyle" v-html="seconds"></span><p :style="timerStyle">secs</p></span></span>
</template>
<script>
export default {
	props:{
		ds: String,
		color: String
	},
  data() {
    return {
    	hours: null,
    	minutes: null,
    	seconds: null,
    }
  },
  computed: {
    timerStyle() {
      if (this.color) {
        return {
          borderColor: this.color,
          color: this.color
        }
      }
      return {}
    }
  },
  mounted() {
    this.startTimer();
  },
  methods: {
    startTimer(){

		  // Update the count down every 1 second
		  var x = setInterval(() => {

		  	var countDownDate = new Date(this.ds).getTime();
		    // Get today's date and time
		    var now = new Date().getTime();

		    // Find the distance between now and the count down date
		    var distance = countDownDate - now;

		    // Time calculations for days, hours, minutes and seconds
		    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
		    this.hours = (Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))) + days * 24;
		    this.minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
		    this.seconds = Math.floor((distance % (1000 * 60)) / 1000);

		    

		    // If the count down is finished, zero everything
		    if (distance < 0) {
		      clearInterval(x);
		      this.hours = '00';
			    this.minutes = '00';
			    this.seconds = '00';
		    }
		  }, 1000);
    }
  }
}
</script>
<style lang="scss">
.timer{
  width: 165px;
  display: inline-flex;
  .timer-box{
	  display: inline-block;
	  margin: 0 2px;
	  position: relative;
	  .timer-number{
		  border:  2px solid #fff;
		  font-family: Oswald,sans-serif;
		  padding: 10px 5px;
		  text-align: center;
		  color: #fff;
		  width: 50px;
		  height: 46px;
		  font-weight: 900;
		  line-height: 20px !important;
		  font-size: 20px !important;
		  display: inline-block;
		}
		p{
		  font-size: 12px;
		  text-align: center;
		  margin-top: 0px;
		  margin-bottom: 0;
		  color: #fff;
		  font-weight: 900;
		  position: absolute;
		  bottom: -6px;
		  left: 0;
		  height: 15px;
		  width: 100%;
		  font-family: Karla,sans-serif;
		}
	}
}
.text-primary{
	.timer{
		.timer-box{
			.timer-number{
			  border: 2px solid #000 !important; 
			  color:#d82737!important
			}
			p{
			  bottom: -12px;
			}
		}
	}
}
@media only screen and (max-width : 767px){
  .timer-box .timer-number{
    padding: 7px 5px;
    width: 42px;
    height: 39px;
    font-size: 18px !important;
  }
  .timer-box p{
    bottom:  -9px;
  }
  .mob-mx-auto{
    margin:  auto !important;
  }
}
</style>