<template>
	<p class="toptimer" v-if="ds && hours != null"><b><i class="fa fa-gift"></i> Black Friday Sale starts in: <span v-html="hours"></span>:<span v-html="minutes"></span>:<span v-html="seconds"></span></b></p>
</template>
<script>
export default {
	props:{
		ds: String
	},
  data() {
    return {
    	hours: null,
    	minutes: null,
    	seconds: null,
    }
  },
  mounted() {
    this.starttopTimer();
  },
  methods: {
    starttopTimer(){

		  // Update the count down every 1 second
		  var x = setInterval(() => {

		  	var countDownDate = new Date(this.ds).getTime();
		    // Get today's date and time
		    var now = new Date().getTime();

		    // Find the distance between now and the count down date
		    var distance = countDownDate - now;

		    // Time calculations for days, hours, minutes and seconds
		    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
		    this.hours = (Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))) + days * 24;
		    this.minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
		    this.seconds = Math.floor((distance % (1000 * 60)) / 1000);

		    // If the count down is finished, zero everything
		    if (distance < 0) {
		      clearInterval(x);
		      this.hours = '00';
			    this.minutes = '00';
			    this.seconds = '00';
		    }
		  }, 1000);
    }
  }
}
</script>
<style lang="scss">
.toptimer{
	color: #fff;
  font-size: 14px;
  font-family: Karla,sans-serif;
}
@media only screen and (max-width : 767px){
  .toptimer-box .toptimer-number{
    padding: 7px 5px;
    width: 42px;
    height: 39px;
    font-size: 18px !important;
  }
  .toptimer-box p{
    bottom:  -9px;
  }
  .mob-mx-auto{
    margin:  auto !important;
  }
}
</style>