<template>
	<div id="request_seminar_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="request_seminar_modal_label" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="p-5 mob-p4">
					<form @submit.prevent="submit" class="row half_row">
						<div class="col-12 half_col">
							<h2>REQUEST A SEMINAR</h2>
							<p class="statement">No location that suits? Request a seminar at your gym!</p>
						</div>
						<div class="form-group col-sm-6 half_col">
							<input id="name" type="text" class="form-control" name="name" placeholder="Name" v-model="fields.name" />
							<div v-if="errors && errors.name" class="text-primary">{{ errors.name[0] }}</div>
						</div>
						<div class="form-group col-sm-6 half_col">
							<input id="gym" type="text" class="form-control" name="name" placeholder="Gym Name" v-model="fields.gym" />
							<div v-if="errors && errors.gym" class="text-primary">{{ errors.gym[0] }}</div>
						</div>
						<div class="form-group col-sm-6 half_col">
							<input id="email" type="email" class="form-control" name="email" placeholder="Email Address" v-model="fields.email" />
							<div v-if="errors && errors.email" class="text-primary">{{ errors.email[0] }}</div>
						</div>
						<div class="form-group col-sm-6 half_col">
							<input id="phone" type="text" class="form-control" name="phone" placeholder="Phone number" v-model="fields.phone" />
							<div v-if="errors && errors.phone" class="text-primary">{{ errors.phone[0] }}</div>
						</div>
						<div class="form-group col-sm-12 half_col">
							<textarea id="message" type="text" class="form-control" name="message" placeholder="Message" v-model="fields.message"></textarea>
							<div v-if="errors && errors.message" class="text-primary">{{ errors.message[0] }}</div>
						</div>
						<div class="form-group col-sm-6 half_col">
							<div id="recaptcha-error" class="text-primary text-left"></div>
      				<div class="g-recaptcha mb-3" :data-sitekey="this.$props.recaptcha" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
						</div>
						<div class="form-group col-sm-6 half_col">
							<div class="row">
								<div class="col-12">
									<button id="submit" type="submit" class="btn btn-primary float-right mob-btn-full mt-3">SEND</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal-close" data-toggle="modal" data-target="#request_seminar_modal">
			<img src="/img/icons/close-modal.svg" alt="close modal" width="40">
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			recaptcha: String,
		},
		mounted(){
      var script = document.createElement('script');
			script.src = 'https://www.google.com/recaptcha/api.js';
			document.head.appendChild(script);
    },
		data() {
			return {
				fields: {
					name: '',
					email: '',
					phone: '',
					gym: '',
					message: '',
				},
				errors: {},
				success: false,
				loaded: true,
			}
		},
		methods: {
      submit() {
  	  	if (this.loaded && grecaptcha.getResponse().length > 0) {
  	  		document.getElementById('recaptcha-error').innerHTML = '';
      		this.loaded = false;
      		this.success = false;
      		this.errors = {};

      		document.getElementById("loader").classList.add("on");
          document.getElementById("loader-message").innerHTML = "Sending Request";

      		axios.post('/request-seminar', this.fields)
      		.then(response => {
          // Empty fields and enable success message
	         grecaptcha.reset();
	          this.loaded = true;
	          this.success = true;
	          document.getElementById('request_seminar_modal').style.display = 'none';
						document.getElementById('loader-message').innerHTML = 'Seminar Requested Successfully';
						document.getElementById('close-loader-btn').classList.remove('d-none');
						document.getElementById('close-loader-btn').classList.add('d-block');
						document.getElementById('loader-roller').classList.remove('d-block');
						document.getElementById('loader-roller').classList.add('d-none');
						document.getElementById('loader-success').classList.remove('d-none');
						document.getElementById('loader-success').classList.add('d-block');

	          this.fields = {};
	        })
      		.catch(error => {
          // Error handling
          this.loaded = true;
          if (error.response.status === 422) {
          	this.errors = error.response.data.errors || {};
          	console.log(error.response.data.message);
          	document.getElementById("loader-message").innerHTML = "Check form for errors";
            document.getElementById("loader").classList.remove("on");
          }
        });
      	}else{
      		document.getElementById('recaptcha-error').innerHTML = 'Please confirm you are not a robot.';
      	}
    	}
    }
  }
</script>