<template>
	<div id="seminars-slider">
		<carousel class="testimonials_slider">
			<slide key="1">
				<div class="container-fluid testimonial_card p-5">
          <div class="row">
            <div class="col-md-8">
              <hr class="testimonial_line mt-0">
            </div>
            <div class="col-12">
              <p class="testimonial_text"><b>“Spent a day with Tom at his recent Dublin seminar. I had large expectations and they were not only met but exceeded, the man’s a genius straight up. Beautiful hair as well, so if he’s in your area do not miss the opportunity”</b></p>
            </div>
          </div>
          <div class="testimonial_name">Graham Finn</div>
        </div>
			</slide>
			<slide key="2">
				<div class="home-testimonial-1 home-testimonial-3-1 bg"></div>
			</slide>
			<slide key="3">
				<div class="home-testimonial-1 home-testimonial-3-2 bg"></div>
			</slide>
			<slide key="4">
				<div class="home-testimonial-1 home-testimonial-3-3 bg"></div>
			</slide>
			<slide key="5">
				<div class="home-testimonial-1 home-testimonial-3-4 bg"></div>
			</slide>
			<slide key="6">
				<div class="home-testimonial-1 home-testimonial-3-5 bg"></div>
			</slide>
			<template #addons>
	      <pagination />
	    </template>
		</carousel>
	</div>
</template>
<script>
	import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';
  export default {
  	components: {
  		Carousel,
      Slide,
      Pagination,
      Navigation
    }
  }
</script>
<style lang="scss">
	#seminars-slider{
		.carousel{
			width: 100%;
			height: auto;
			margin: auto;
			margin-bottom: 40px;
			position: relative;
			.carousel__viewport{
				width: 100%;
			}
			.carousel__pagination-button{
				&:after{
					border-radius: 100%;
					width: 10px;
					height: 10px;
					background-color: #D6D6D6;
				}
				&.carousel__pagination-button--active{
					&:after{
						background-color: #869791 !important;
					}
				}
			}
			
		}
	}
	@media only screen and (max-width : 767px){
		
	}
</style>