<template>
<div class="container">
  <div :class="'row mt-4 position-relative ' + justify">
    <loader :loaderClass="loaderClass"></loader>
    <div class="col-md-4 mb-4 mt-2" v-for="(seminar, index) in seminars.data">
      <div class="seminar-box shadow bg-white">
        <div class="container">
          <div class="row">
            <div class="col-12 bg-dark py-2 text-center">
              <p class="mb-0 text-white seminar-date">{{startdate(seminar.start)}} - {{enddate(seminar.end)}}</p>
            </div>
            <div class="col-12 mt-3 px-4">
              <h3 class="mb-2">{{seminar.name}}</h3>
            </div>
            <div class="col-12 mb-3 px-4">
              <p class="text-primary seminar-price"><span v-if="seminar.currency == 'GBP'">&pound;</span><span v-else="seminar.currency == 'Euro'">&euro;</span>{{seminar.price}}</p>
            </div>
            <div class="col-12 mb-0 px-4">
              <p class="text-dark seminar-city mb-0"><b>{{seminar.city}}</b></p>
            </div>
            <div class="col-12 px-4">
              <p>Hosted by: <a :href="seminar.link" target="_blank" class="text-primary">{{seminar.location}}</a></p>
              <p>{{seminar.line1}}<br><span v-if="seminar.line2">{{seminar.line2}}<br></span>{{seminar.city}}, {{seminar.postcode}}</p>

              <a :href="seminar.eventbrite" target="_blank"> 
                <div class="btn btn-primary">Book Now</div>
              </a>
              <p class="text-primary caption mb-3 mt-1">Tickets sold through Eventbrite</p>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4 mt-2" v-if="seminarscount == 0">
      <div class="seminar-box shadow bg-white p-4">
        <div class="container px-0">
          <div class="row">
            <div class="col-12">
              <h4 class="mb-4">There’s no upcoming seminars! Booo!</h4>
              <p class="mb-4">If you’d like Tom to do a seminar at your gym, request one here:</p>
              <div class="btn btn-primary" data-toggle="modal" data-target="#request_seminar_modal">Request A Seminar</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12">
      <transition name="fade">
        <div class="row">
          <div class="col-12 mt-4 justify-content-center">
            <pagination :data="seminars" @pagination-change-page="getSeminars"></pagination>
          </div>
        </div>
      </transition>
    </div>
  </div>
  <!-- <div class="row text-center" v-if="seminarscount > 0">
    <div class="col-12 py-5 mb-5">
      <h4 class="mb-4">No location that suits?<br>Request a seminar at your gym!</h4>
      <div class="btn btn-primary mx-auto" data-toggle="modal" data-target="#request_seminar_modal">Request A Seminar</div>
    </div>
  </div> -->
</div>
</template>

<script>
  export default {
    data() {
      return {
        errors: {},
        success: false,
        loaded: true,
        category: "Movement & Mobility",
        seminars: {},
        limit: 6,
        seminarscount: 0,
        justify: "",
        loaderClass: "on",
      }
    },
    mounted(){
      this.getSeminars();
    },
    methods: {
      changeCategory(){
        this.getSeminars();
      },
      getDayWithSuffix(day) {
        if (day > 3 && day < 21) return day + 'th';
        switch (day % 10) {
          case 1:  return day + 'st';
          case 2:  return day + 'nd';
          case 3:  return day + 'rd';
          default: return day + 'th';
        }
      },
      startdate: function (date) {
        var d = new Date(date);
        var formattedDay = this.getDayWithSuffix(d.getDate());
        // Extract the month name, day of the month, and time without seconds
        return formattedDay + " " + d.toLocaleString('default', { month: 'long' }) + " " + d.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
      },
      enddate: function (date) {
        var d = new Date(date);
        // Extract only the time without seconds
        return d.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
      },
      getSeminars(page = 1) {
        this.loaderClass = "on";
        if (this.loaded) {

          this.loaded = false;
          this.success = false;
          this.errors = {};
          this.offset = 0;

          axios.get('/api/seminars/get/?page=' + page + '&limit=' + this.limit + '&category=' + this.category).then(response => {
            // Empty fields and enable success message
            this.fields = {};
            this.loaded = true;
            this.success = true;
            this.seminars = response.data;
            this.loaderClass = "off";
            this.seminarscount = response.data.data.length;
            if(this.seminarscount == 0){
              this.justify = "justify-content-center";
            }else{
              this.justify = "";
            }
            
          })
          .catch(error => {
            // Error handling
            this.loaded = true;
            console.log(error);
          });
        }
      },
    }
  }
</script>
