.no-webp{
	.home-testimonial-1-1{
		background-image: url('$img/home/home1-1.jpg');
	}
	.home-testimonial-1-2{
		background-image: url('$img/home/home1-2.jpg');
	}
	.home-testimonial-1-3{
		background-image: url('$img/home/home1-3.jpg');
	}
	.home-testimonial-1-4{
		background-image: url('$img/home/home1-4.jpg');
	}
	.home-testimonial-2-1{
		background-image: url('$img/home/home2-1.jpg');
	}
	.home-testimonial-2-2{
		background-image: url('$img/home/home2-2.jpg');
	}
	.home-testimonial-2-3{
		background-image: url('$img/home/home2-3.jpg');
	}
	.home-testimonial-2-4{
		background-image: url('$img/home/home2-4.jpg');
	}
	.home-testimonial-3-1{
		background-image: url('$img/seminars/seminars-1.jpg');
	}
	.home-testimonial-3-2{
		background-image: url('$img/seminars/seminars-2.jpg');
	}
	.home-testimonial-3-3{
		background-image: url('$img/seminars/seminars-3.jpg');
	}
	.home-testimonial-3-4{
		background-image: url('$img/seminars/seminars-4.jpg');
	}
	.home-testimonial-3-5{
		background-image: url('$img/seminars/seminars-5.jpg');
	}
	.home-testimonial-3-5{
		background-image: url('$img/seminars/seminars-5.jpg');
	}
	.beginner-header{
		background-image: url('$img/lps/beginner/header.jpg');
	}
	.athlete-header{
		background-image: url('$img/lps/athlete/header.jpg');
	}
	.banner-bg{
		background-image: url('$img/lps/smm2022/banner-bg.jpg');
	}
	.banner-bg1{
		background-image: url('$img/lps/smm2022/banner-bg1.jpg');
	}
	.banner-bg2{
		background-image: url('$img/lps/smm2022/banner-bg2.jpg');
	}
	
}
.webp{
	.home-testimonial-1-1{
		background-image: url('$img/home/home1-1.webp');
	}
	.home-testimonial-1-2{
		background-image: url('$img/home/home1-2.webp');
	}
	.home-testimonial-1-3{
		background-image: url('$img/home/home1-3.webp');
	}
	.home-testimonial-1-4{
		background-image: url('$img/home/home1-4.webp');
	}
	.home-testimonial-2-1{
		background-image: url('$img/home/home2-1.webp');
	}
	.home-testimonial-2-2{
		background-image: url('$img/home/home2-2.webp');
	}
	.home-testimonial-2-3{
		background-image: url('$img/home/home2-3.webp');
	}
	.home-testimonial-2-4{
		background-image: url('$img/home/home2-4.webp');
	}
	.home-testimonial-3-1{
		background-image: url('$img/seminars/seminars-1.webp');
	}
	.home-testimonial-3-2{
		background-image: url('$img/seminars/seminars-2.webp');
	}
	.home-testimonial-3-3{
		background-image: url('$img/seminars/seminars-3.webp');
	}
	.home-testimonial-3-4{
		background-image: url('$img/seminars/seminars-4.webp');
	}
	.home-testimonial-3-5{
		background-image: url('$img/seminars/seminars-5.webp');
	}
	.beginner-header{
		background-image: url('$img/lps/beginner/header.webp');
	}
	.athlete-header{
		background-image: url('$img/lps/athlete/header.webp');
	}
	.banner-bg{
		background-image: url('$img/lps/smm2022/banner-bg.webp');
	}
	.banner-bg1{
		background-image: url('$img/lps/smm2022/banner-bg1.webp');
	}
	.banner-bg2{
		background-image: url('$img/lps/smm2022/banner-bg2.webp');
	}
	.new-home-smm{
		background-image: url('$img/home/new-home-smm.webp');
	}
	.new-home-bb{
		background-image: url('$img/home/new-home-bb.webp');
	}
}
.birthday-gradient{
	background: rgb(254,54,17);
	background: -moz-linear-gradient(90deg, rgba(254,54,17,1) 0%, rgba(254,145,148,1) 50%, rgba(255,181,80,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(254,54,17,1) 0%, rgba(254,145,148,1) 50%, rgba(255,181,80,1) 100%);
	background: linear-gradient(90deg, rgba(254,54,17,1) 0%, rgba(254,145,148,1) 50%, rgba(255,181,80,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FE3675",endColorstr="#FFB550",GradientType=1);
}
.bg-dark-grey{
	background-color: $darkgrey !important;
}
.bg-grey{
	background-color: $lightgrey !important;
}
.bg{
	@include background();
}
.bg-top{
	@include backgroundTop();
}