// Selected Text -----------------
::selection {
	color: $white;
	background: $primary; /* WebKit/Blink Browsers */
}
::-moz-selection {
	color: $white;
	background: $primary; /* Gecko Browsers */
}
// Body Styles -------------------
body{
	background-color: $white;
	font-family: Karla,sans-serif;
	color: $darkgrey;
	font-size: 1.12rem;
	h1{
		font-family: $title;
		font-size: 24px;
		&.top-title{
			font-size: 5rem;
			line-height: 1;
		}
		&.podcast-header-text{
			font-size: 7rem;
			line-height: 7rem;
			font-weight: 700;
			position: relative;
			color: $primary;
			max-width: 550px;
  		&:after{
  			content: "YOU CAN FIX YOU";
  			position: absolute;
  			top: -5px;
  			left: 5px;
  			width: 100%;
  			max-width: 550px;
  			-webkit-text-stroke:2px black;
  			-webkit-text-fill-color:transparent;
  		}
		}
		&.home-top-title{
			font-size: 7rem;
			line-height: 7rem;
			font-weight: 700;
			padding-left: 4rem;
			position: relative;
			&:before{
				content: "TOM MORRISON //";
				color: $darkgrey;
				font-family: $title;
				font-size: 2rem;
				font-weight: 400;
				text-transform: uppercase;
				transform: rotate(270deg);
				position: absolute;
		    left: -90px;
		    top: 105px;
		    height: 2rem;
		    line-height: 2rem;
			}
		}
		&.massive-title{
			font-size: 7.25rem;
			line-height: 1;
		}
		&.page-title{
			font-size: 6.5rem;
			line-height: 7rem;
			font-weight: 700;
			position: relative;
			color: $primary;
		}
		&.title-404{
			font-size: 5.5rem;
			line-height: 6rem;
			font-weight: 700;
			position: relative;
			color: $primary;
		}
		&.lp-title{
			font-size: 5.3rem;
			line-height: 6rem;
			font-weight: 500;
			position: relative;
			color: $primary;
		}
		&.smaller-title{
			font-size: 3rem;
			line-height: 3rem;
			font-weight: 600;
			position: relative;
			color: $primary;
		}
		&.checkout-title{
			font-size: 3rem;
			line-height: 3rem;
			font-weight: 300;
			position: relative;
			color: $primary;
			text-transform: capitalize !important;
			.text-light-grey{
				color: #BCBFC5 !important;
			}
			.checkout-title-line{
				width: 62px;
				height: 2px;
				background-color: #3E4148;
				display: inline-block;
				margin: 17px;
				&.lighter{
					background-color: #BCBFC5;
				}
			}
		}
		&.lp-title-small{
			font-size: 5rem;
    	line-height: 5rem;
		}
		&.lp-title-smaller{
			font-size: 4rem;
    	line-height: 5rem;
		}
		&.podcast-title{
			font-size: 2.5rem;
    	line-height: 1.2;
		}
		.tm{
	    font-size: 2.5rem;
	    position: relative;
	    top: -2.2rem;
		}
	}
	h2{
		font-size: 2.5rem;
		line-height: 3.5rem;
		text-transform: uppercase;
		font-family: $title;
		&.large-title{
			font-size: 3.4rem;
			line-height: 4.6rem;
		}
		.tm{
			font-size: 2rem;
	    position: relative;
	    top: -18px;
		}
	}
	h3{
		font-size: 2rem;
		line-height: 2rem;
		font-family: $title;
		.caption{
			font-size: 2rem;
			font-family: $body;
		}
	}
	h4{
		font-size: 1.5rem;
		line-height: 1.8rem;
		font-family: $title;
		&.larger{
			font-size: 1.9rem;
  		line-height: 1.4;
		}
	}
	h5{
		font-size: 24px;
		font-family: $title;
		&.upsell-title{
			font-size: 26px;
		}
		&.modal-title{
			font-size: 28px;
		}
	}
	h6{
		font-size: 1.5rem;
		font-weight: 300;
		font-family: $title;
	}
	p{
		font-size: 1.12rem;
		&.mimic-h1 {
				font-size: 3.5rem;
				line-height: 1.2;
				font-family: $title;
			}
		&.mimic-h2{
			font-size: 2.5rem;
			line-height: 3.5rem;
			font-family: $title;
			.tm{
				font-size: 2rem;
		    position: relative;
		    top: -18px;
			}
		}
		&.mimic-h3{
			font-size: 2rem;
			line-height: 1.3;
			font-family: $title;
			.tm{
		    font-size: 1.2rem;
		    position: relative;
		    top: -1rem;
			}
		}
		&.larger{
			font-size: 1.2rem;
		}
		&.seminar-price{
			font-size: 2rem;
			line-height: 2rem;
			font-family: $title;
			margin-bottom: 0;
		}
		&.caption{
			font-size: 0.7rem;
			line-height: 0.9rem;
		}
		.caption{
			font-size: 0.7rem;
		}
		&.text-large{
			font-size: 1.5rem;
		}
		&.text-big{
			font-size: 1.9rem;
		}
		&.text-larger{
			font-size: 1.3rem !important;
		}
		&.text-145{
			font-size: 1.45rem !important;
		}
		&.text-even-larger{
			font-size: 1.7rem !important;
		}
		&.text-small{
			font-size: 0.9rem;
		}
		&.title{
			font-size: 1.2rem;
			font-family: $title;
		}
		&.font-16-14{
			font-size: 1rem;
		}
		&.text-title{
			font-family: $title;
		}
		&.list-check{
			position: relative;
			padding-left: 40px;
			&:before{
				content: "";
				background-image: url('$img/icons/list-check.svg');
				background-size: contain;
				background-repeat: no-repeat;
				width: 33px;
				height: 25px;
				position: absolute;
				left:0;
				top:4px;
			}
		}
		&.list-check-green{
			position: relative;
			padding-left: 40px;
			&:before{
				content: "";
				background-image: url('$img/icons/list-check-green.svg');
				background-size: contain;
				background-repeat: no-repeat;
				width: 33px;
				height: 25px;
				position: absolute;
				left:0;
				top:4px;
			}
		}
		&.list-check-green-dark{
			position: relative;
			padding-left: 40px;
			&:before{
				content: "";
				background-image: url('$img/icons/list-check-dark-green.svg');
				background-size: contain;
				background-repeat: no-repeat;
				width: 33px;
				height: 25px;
				position: absolute;
				left:0;
				top:4px;
			}
		}
		&.bundle-green-p{
			display: inline-block;
			background-color:#D6F6E7;
			border:1px solid #00BC0D;
			color: #00BC0D;
			font-size: 14px;
			a{
				display: inline-block;
				background-color: #fff;
				color: #00BC0D;
				border-left: 1px solid #00BC0D;
				&:hover{
					background-color:#00BC0D;
					color: #fff;
					@include transition(200ms);
				}
			}
		}
	}
	a{
		@include transition(300ms);
		&.white{
			color: $white;
			&:hover{
				color: $darkgrey;
			}
		}
		&.dark{
			color: $darkgrey;
			&:hover{
				color: $primary;
			}
		}
		&.grey-link{
			font-style: italic;
			color: $grey;
			&:hover{
				color: $primary;
			}
		}
		&:hover{
			text-decoration: none !important;
		}
	}
	.white-text{
		color: $white;
	}
	.text-grey{
		color: $darkgrey;
	}
	.text-light-grey{
		color: #a9a9a9;
	}
	.text-pink{
		color: $pink;
	}
	.dark-text,
	.dark_text{
		color: $darkgrey;
	}
	&.login{
		color: $white;
		text-align: center;
		@include gradient();
		p{
			color: $white;
		}
		a{
			color: $white;
		}
	}
	label{
		&.caption{
			font-size: 0.7rem;
			line-height: 0.9rem;
		}
	}
	.text-transform-none{
		text-transform: none !important;
	}
}
.fw-300{
	font-weight: 300 !important;
}
.text-light-grey{
	color: #858585;
}
.text-nocase{
	text-transform: none !important;
}
.cursor-pointer{
	cursor: pointer;
}
#content{
	z-index: 1;
	position: relative;
}
.larger{
	font-size: 1.2rem;
}
.bg-second{
	background-color: $second;
	color: $white;
}
.text-secondary{
	color: $second !important;
}
.border-2{
	border: 2px solid $darkgrey;
}
.text-small{
	font-size: 0.9rem;
}
.dash-menu{
	a{
		text-decoration: none !important;
	}
}
.link-card{
/* Apply the zoom effect to the image when the parent div is hovered */
  &:hover .zoom-in {
    transform: scale(1.1); /* Scale the image up on hover */
  }
  .zoom-in {
    transition: transform 0.3s ease;
  }
  .link-card-text{
  	background-color: #fff;
  	position: relative;
  	z-index: 2;
  	width: 100%;
  }
}
.podcast-programs{
	.product-card.shop-product .product-info .product-name{
		font-size: 1.4rem;
	}
	.product-card.shop-product .product-info p{
		font-size: 1rem;
	}
}