.btn{
	display: block;
	max-width: 220px;
	width: 100%;
	border-radius: 5px;
	font-weight: bold;
	font-size: 1rem;
	padding: 11px 15px;
	text-transform: uppercase;
	@include transition(300ms);
	&.gift-btn{
		max-width: 140px;
	}
}
.btn-white{
	width: 100%;
	height: 50px;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	background-color: $white;
	color: $primary;
}
.bg-dark-grey{
	.btn-white{
		background-color: $white;
		color: $darkgrey;
	}
}
.btn-primary{
	color: $white;
	width: 100%;
	height: 50px;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	&:hover{
		text-decoration: none !important;
	}
	&:disabled{
		color: $white;
	}
	&.no_max{
		max-width: 1000px;
	}
	&.mw-300{
		max-width: 300px;
	}
	i, span{
		font-size: 23px;
		position: relative;
    	bottom: -2px;
		&.fa-angle-double-right{
			font-size: 18px;
		    line-height: 20px;
		    margin-left: 4px;
		}
	}
	&:disabled,
	&[disabled]{
		background-color: $lightgrey !important;
		border: 2px solid $lightgrey !important;
	}
	&.powered-by-stripe{
		position: relative;
		padding-top: 0;
		&:after{
			content: "";
			width: 67px;
			height: 9px;
			position: absolute;
			bottom: 10px;
			left: calc(50% - 34px);
			background-image: url('$img/icons/powered-by-stripe.svg');
			background-size: contain;
			background-repeat:no-repeat;
		}
	}
	&.btn-small-text{
		font-size: 17px;
    	line-height: 1.2;
		max-width: 352px;
		height:63px;
		font-family: $body;
		font-weight: 400;
	}
}
.btn-paypal{
	position: relative;
	padding-left: 99px;
	padding-top: 12px;
	font-size: 13px;
	background-color: #ffc439;
	color: #000;
	width: 220px;
	text-transform: capitalize;
	&:hover{
		background-color: #f6bb30;
	}
	&:before{
		content: "";
		position: absolute;
		top: 12px;
		left: 41px;
		background-image: url('$img/logos/pp-long.png');
		background-size:contain;
		background-repeat: no-repeat;
		width: 75px;
		height: 19px;
	}
}
.btn-outline{
	color: #3E4148;
	background-color: transparent;
	border: 2px solid #3E4148;
	width: 100%;
	height: 50px;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	&:hover{
		background-color: #3E4148;
		color: $white;
		text-decoration: none !important;
	}
	&:disabled{
		color: $primary;
	}
	&.no_max{
		max-width: 1000px;
	}
	i, span{
		line-height: 1;
		font-size: 19px;
	}
	&.btn-small{
		width: 140px;
	    height: 40px;
	    padding: 6px;
	}
}
.btn-white-line{
	color: $white;
	background-color: transparent;
	border: 1px solid $white;
	width: 125px;
	height: 37px;
	font-family: $body;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	text-transform: capitalize;
	&:hover{
		background-color: transparent;
		color: $white;
		text-decoration: none !important;
	}
	&:disabled{
		color: $white;
	}
	&.no_max{
		max-width: 1000px;
	}
	i, span{
		line-height: 23px;
		font-size: 23px;
	}
}
.btn-white-outline{
	color: $white;
	background-color: transparent;
	border: 1px solid $white;
	width: 100%;
	height: 37px;
	font-family: $body;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	text-transform: capitalize;
	&:hover{
		background-color: white;
		color: $primary;
		text-decoration: none !important;
	}
	&:disabled{
		color: $white;
	}
	&.no_max{
		max-width: 1000px;
	}
	i, span{
		line-height: 18px;
		font-size: 18px;
	}
}
.btn-circle{
    width: 30px !important;
    height: 30px !important;
    border-radius: 100%;
    padding: 2px 7px;
    text-align: center;
	&:hover{
		text-decoration: none !important;
	}
	i, span{
		font-size: 15px !important;
	}
}
.btn-second{
	color: $white;
	background-color: $second;
	width: 100%;
	height: 50px;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 13px 15px;
	position: relative;
	&:hover{
		text-decoration: none !important;
		background-color: $primary;
	}
	&:disabled{
		color: $white;
	}
	&.no_max{
		max-width: 1000px;
	}
	i, span{
		line-height: 23px;
		font-size: 23px;
	}
	.selected-icon{
		position: absolute;
		top: 12px;
		left: 15px;
	}
}
.btn-danger{
	color: $white;
	width: 100%;
	height: 50px;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 13px 15px;
	&:hover{
		text-decoration: none !important;
	}
	&:disabled{
		color: $white;
	}
	&.no_max{
		max-width: 1000px;
	}
	i, span{
		line-height: 23px;
		font-size: 23px;
	}
}
.btn-grey{
	color: $darkgrey;
	background-color: $midgrey;
	width: 100%;
	height: 50px;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 13px 15px;
	position: relative;
	&:disabled{
		color: $white;
	}
	&.no_max{
		max-width: 1000px;
	}
	i, span{
		line-height: 23px;
		font-size: 23px;
	}
	&.selected{
		color: $white;
		background-color: $second;
	}
	.selected-icon{
		position: absolute;
		top: 12px;
		left: 15px;
	}
}
.read-more{
	position: relative;
	padding-left: 30px;
	font-size: 1.12rem;
	font-weight: 400;
	font-family: $title;
	color: $primary;
	&:before{
		content: url('$img/icons/read-more.svg');
		position: absolute;
		left: 0;
		top: 2px;
		width: 21px;
	}
}
.mobile-login-btn{
	position: absolute;
	top: 1rem;
	right: 1rem;
}