#app{
	min-height: 100vh;
}
.bg-light{
	background-color: $lightgrey !important;
}
.bg-error{
	background-color: $red;
}
.z-2{
	z-index: 2;
}
.full-width{
	width: 100%;
}
.full-height{
	height: 100vh;
}
.dis-table{
	display: table;
	width: 100%;
	.vert-mid{
		display: table-cell;
		vertical-align: middle;
	}
}
.alert{
	border: 1px solid $second;
	color: $darkgrey;
}
#notification_stripe{
	background-color: $primary;
	color: $white;
}
// Orientation -----------------
#orientation_change {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  background-color: $darkgrey;
  text-align: center;
  display: none; }
  #orientation_change p {
    color: $white;
    font-family: $title;
    width: 500px;
    position: absolute;
    left: calc(50% - 250px);
    top: 200px;
        font-size: 20px;
    line-height: 30px; }
  #orientation_change img {
    position: absolute;
    top: 50px;
    width: 150px;
    left: calc(50% - 75px); }
.home-top-img,
#tom-lying-down{
	margin-top: -60px;
}
.home-testimonials-img{
	margin-top: 3rem;
}
.testimonial_card{
	background-color: $darkgrey;
	color: $white;
	height: 350px;
	.testimonial_line{
		border-top: 4px solid $white;
	}
	p.testimonial_text{
		font-size: 1.35rem;
	}
	.testimonial_name{
		position: absolute;
		font-family: $title;
		font-size: 1.35rem;
		font-weight: 400;
		letter-spacing: 0.15rem;
		width: 350px;
	    right: -150px;
	    bottom: 164px;
	    padding-left: 1.35rem;
		transform: rotate(270deg);
	}
}
.bx-pager{
  width: auto;
  display: table;
  margin: 10px auto;
	.bx-pager-item,
	.bx-pager-link{
		position: relative;
		margin: 0 2px;
		display: inline-block;
	}
	a{
		border: 1px solid $darkgrey;
		background-color: transparent;
		border-radius: 100%;
		display: block;
		font-size: 0;
		margin: 0 3px;
		padding: 6px;
		@include transition(500ms);
		&.active,
		&:hover,
		&:focus{
			background-color: $darkgrey;
			border: 1px solid $darkgrey;
		}
	}
}
.intro-paragraph{
	padding-left: 4rem;
	&:before{
		content: "TAKE CONTROL //";
		color: $darkgrey;
		font-family: $title;
		font-size: 2rem;
		font-weight: 400;
		text-transform: uppercase;
		transform: rotate(270deg);
		position: absolute;
	    left: -63px;
	    top: 100px;
	    height: 2rem;
	    line-height: 2rem;
	}
}
.seminar-box{
	.seminar-date{
		font-family: $title;
		 font-size: 1.5rem;
	}
	.seminar-city{
		font-size: 1.4rem;
	}
}
.seminars-intro{
	padding-left: 4rem;
	&:before{
		content: "SEMINARS //";
		color: $darkgrey;
		font-family: $title;
		font-size: 2rem;
		font-weight: 400;
		text-transform: uppercase;
		transform: rotate(270deg);
		position: absolute;
	    left: -36px;
	    top: 70px;
	    height: 2rem;
	    line-height: 2rem;
	}
}
.tom-lying-down-spacer{
	height: 100px;
}
#tom-lying-down{
	max-width: 600px;
}
.blog-slider{
	.blog-slider-post{
		height: 520px;
		background-size: 90%;
		background-repeat: no-repeat;
		.blog-text{
			position: absolute;
			right: 1rem;
			top: 60px;
			background-color: $white;
			padding: 3rem;
			width: 400px;
			border-radius: 5px;
			@include boxShadow();
		}
	}
}
.video-container{
	border: 1px solid $darkgrey;
	background-color: $white;
	.video-text{
		height: 384px;
		padding: 1rem;
	}
}
$topsectionheight: 550px;
.top-section{
	height: $topsectionheight;
	.d-table{
		height: $topsectionheight;
		z-index: 2;
		position: relative;
		.d-table-cell{
			height: $topsectionheight;
		}
	}
	.free-videos-image{
		position: absolute;
		right: 1rem;
		bottom: -9rem;
		width: 50%;
		z-index: 0;
	}
	.blog-top-image{
		position: absolute;
		right: 1rem;
		bottom: 0;
		width: 50%;
		z-index: 0;
	}
	.shop-top-image{
		position: absolute;
		right: 1rem;
		bottom: 0;
		width: 50%;
		z-index: 0;
	}
}
.contact-image{
	position: absolute;
	right: 1rem;
	bottom: 0;
	width: 50%;
	z-index: 0;
}
.blog-posts{
	min-height: 3000px;
}
$post-text-height: 16.5rem;
.post-container{
	border-radius: 5px;
	
	overflow: hidden;
	@include boxShadow();
	.post-text{
		background-color: $white;
		height: $post-text-height;
		padding: 1rem;
		position: relative;
		.read-more{
			position: absolute;
			bottom: 1rem;
			left: 1rem;
		}
	}
	.post-image{
		height: 235px;
		@include background();
	}
}
$product-text-height: 14.5rem;
.product-container{
	border-radius: 5px;
	overflow: hidden;
	@include boxShadow();
	.product-text{
		background-color: $white;
		height: $product-text-height;
		padding: 1rem;
		color: $darkgrey;
		position: relative;
	}
	.product-image{
		height: 235px;
		@include background();
	}
	.add-to-basket{
		position: absolute;
		top: 0.5rem;
		right: 1.5rem;
		background-color: $primary;
		color: $white;
		font-size: 20px;
		width: 40px;
		height: 40px;
		border-radius: 100%;
		text-align: center;
		padding: 5px 0;
		@include transition(300ms);
		&:hover{
			background-color: $darkgrey;
		}
	}
}
$blog-top-height: 40rem;
.blog-post-top{
	height: $blog-top-height;
	@include background();
	.trans{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $transgreylight;
	}
	.d-table{
		height: $blog-top-height;
		z-index: 2;
		position: relative;
		width: 100%;
		.d-table-cell{
			height: $blog-top-height;
			h2{
				color: $white;
			}
		}
	}
}
$product-top-height: 40rem;
.product-top{
	height: $product-top-height;
	@include background();
	.trans{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $transgreylight;
	}
	.d-table{
		height: $product-top-height;
		z-index: 2;
		position: relative;
		width: 100%;
		.d-table-cell{
			height: $product-top-height;
			h2{
				color: $white;
			}
		}
	}
}
$facts-top-height: 100vh;
.facts-top{
	height: $facts-top-height;
	@include background();
	.d-table{
		height: $facts-top-height;
		z-index: 2;
		position: relative;
		width: 100%;
		.d-table-cell{
			height: $facts-top-height;
			h2{
				color: $white;
			}
			.white-line{
				width: 200px;
				border-top: 4px solid $white;
				margin: 2rem auto;
				display: block;
			}
		}
	}
}
figure{
	img{
		width: 100%;
		height: auto;
	}
}
.attachment__caption{
	display: none !important;
}
.home-testimonial-1{
	width: 100%;
	height: 350px;
}
.pagination-holder{
	display: table;
	margin: auto;
	.pagination{
		display: inline-flex;
	}
}
.modal-close{
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 200;
	width: 40px;
	height: 40px;
	cursor: pointer;
	@include transition(300ms);
	&:hover{
		transform: rotate(90deg);
	}
}
.modal{
	    background-color: rgba(0,0,0,0.75);
}
figcaption,
.attachment__caption{
	display: none !important;
}
.dark-line{
	border-top: 3px solid $darkgrey;
}
.grey-line{
	border-top: 1px solid $darkgrey;
}
.add-on-product{
	.square{
		cursor: pointer;
		position: relative;
		&:before{
			background-color: $transred;
			color: $white;
			width: 100%;
			height: 100%;
			position: absolute;
			padding: 6rem 0;
			text-align: center;
			font-size: 1.2rem;
			content: 'Add to basket';
			opacity: 0;
			cursor: pointer;
			@include transition(300ms);
		}
		&:after{
			color: $white;
			width: 100%;
			height: 100%;
			position: absolute;
			padding: 4rem 0;
			text-align: center;
			font-size: 1.5rem;
			font-family: 'FontAwesome';
			content: '\f067';
			opacity: 0;
			cursor: pointer;
			@include transition(300ms);
		}
	}
	&:hover{
		.square{
			&:before{
				opacity: 1;
			}
			&:after{
				opacity: 1;
			}
		}
	}
}
.bg-light-grey{
	background-color:#F1F1F1;
}
.dash-product{
	position: relative;
	background-color: $white;
	color: $grey;
	.dash-product-name{
		font-size: 15px;
	}
	.dash-product-btn{
		position: absolute;
		top: 0;
		right: -1px;
		width: 100%;
		height: 100%;
		font-size: 1rem;
		line-height: 1.1;
		text-align: center;
		cursor: pointer;
		&.buy-btn{
			background-color: #B9BABC;
			color: $white;
			@include transition(300ms);
			&:hover{
				background-color: $primary;
			}
		}
		&.coming-soon-btn{
			background-color: #B9BABC;
			color: $white;
			cursor: not-allowed;
			@include transition(300ms);
		}
		&.view-btn{
			background-color: $primary;
			color: $white;
			@include transition(300ms);
			&:hover{
				background-color: $darkgrey;
			}
		}
	}
	&.purchased{
		background-color: $white;
		color: $darkgrey;
	}
}
.product-menu{
	padding: 1rem;
	border: 3px solid $darkgrey;
	a{
		&.active{
			text-decoration: underline;
		}
	}
}
.success-top-image{
	max-width: 400px;
}
.play-btn{
	position: absolute;
	bottom: 5rem;
	left: calc(50% - 35px);
	width: 70px;
	height: 70px;
	cursor: pointer;
	opacity: 1;
	@include transition(300ms);
	&:hover{
		opacity: 0.8;
	}
}
.img-abs-btm-left{
	position:absolute;
	bottom: 0;
	left: 0;
	width: 140%;
}
#smm-menu,
#stability-builder-menu{
	position: fixed;
	top: 1rem;
	right: 0;
	width: 80px;
	height: 40px;
	padding: 1rem;
	z-index: 100000;
	background-color: $white;
	@include transition(300ms);
	@include boxShadow();
	.smm-menu-btn{
		position: absolute;
	    top: 2px;
	    right: 0;
	    width: 70px;
	    height: 38px;
		color: $primary;
		font-weight: 900;
		padding-top: 5px;
		z-index: 2000;
		cursor: pointer;
	}
	.smm-menu-inner{
		position: absolute;
		top: 30px;
		right: 0;
		width: 0;
		height: 0;
		padding: 0 1rem;
		z-index: 1000;
		overflow: hidden;
		@include transition(300ms);
	}
	&.on{
		width: 250px;
		height: 270px;
		.smm-menu-btn{
			width: 90px;
		}
		.smm-menu-inner{
			width: 250px;
			height: 240px;
		}
	}
}
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: $primary;
    color: $white;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    @include transition(300ms);
}
#back-to-top:hover {
    opacity: 0.7;
}
#back-to-top.show {
    opacity: 1;
}
.review-box{
	position: relative;
	.review-avatar{
		width: 130px;
		height: 130px;
		position: absolute;
		top: -22px;
		left: 3rem;
		border-radius: 100%;
		overflow: hidden;
		img{
			width: 100%;
		}
		&.smaller{
			width: 96px;
			height: 96px;
			left: 1rem;
		}
	}
	.review-name{
		padding-left: 150px;
		&.smaller{
			padding-left:120px;
			font-size: 1.3rem;
			line-height: 1.2;
			.review-star{
				width: 20px;
			}
		}
		.review-star{
			width: 30px;
			margin-right: 2px;
		}
	}
	.review-body{
		img{
			display:block;
			margin: 1rem auto 0;
			width: initial;
			max-width: 100%;
		}
	}
}
.get-smm-now{
	position: fixed;
	background-color: $primary;
	color: $white;
	width: 300px;
  transform: rotate(-90deg);
  right: -122px;
  top: calc(50% - 15px);
  height: 56px;
  padding: 10px;
  text-align: center;
	@include boxShadow();
}
.payment-options{
	position: absolute;
	width: 100%;
	bottom:0;
	left:0;
	p{
		font-size:14px;
	}
}
ul.check-graphics{
	padding-left: 30px;
	li{
		position: relative;
    text-align: left !important;
    padding: 10px 0px 10px 15px;
    /* reset styles (optional): */
    list-style: none;
    margin: 0;
    &:before{
      content: "";
      background-image: url('$img/icons/list-check.svg');
      background-size: contain;
      position: absolute;
      left: -30px;
      width: 30px;
      height: 26px;
      border-radius: 100%;
      top: 15px;
    }
	}
}
ul.check-graphics-green{
	padding-left: 30px;
	li{
		position: relative;
    text-align: left !important;
    padding: 10px 0px 10px 15px;
    /* reset styles (optional): */
    list-style: none;
    margin: 0;
    &:before{
      content: "";
      background-image: url('$img/icons/list-check-dark-green.svg');
      background-size: contain;
      position: absolute;
      left: -30px;
      width: 30px;
      height: 26px;
      border-radius: 100%;
      top: 15px;
    }
	}
}
#mailinglist-signup{
	button,input{
		border-radius: 0 !important;
		height: 50px !important;
		border: 0 !important;
	}
}
[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}
.video-container{
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  .video-container-content{
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	z-index: 3;
  }
  .video-trans{
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	background-color: #222428;
  	opacity: 0.75;
  	z-index: 2;
  }
  video{
  	z-index: 1;
  	position: absolute;
    left: 50%; /* % of surrounding element */
    top: 50%;
    transform: translate(-50%, -50%); /* % of current element */
  }
  &.video-container-600{
  	height: 600px;
  	.video-container-content{
  		height: 600px;
  	}
  }
}
.bx-has-controls-direction{
	.bx-controls-direction{
		.bx-prev{
			display: block;
			position: absolute;
	    left: -4rem;
	    top: calc(50% - 50px);
	    background-image: url('$img/icons/prev.svg');
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: contain;
	    width: 34px;
	    height: 100px;
	    color: transparent;
	    font-size: 0rem;
		}
		.bx-next{
			display: block;
			position: absolute;
	    right: -4rem;
	    top: calc(50% - 50px);
	    background-image: url('$img/icons/next.svg');
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: contain;
	    width: 34px;
	    height: 100px;
	    color: transparent;
	    font-size: 0rem;
		}
	}
	
}
.border-radius-0{
	border-radius: 0 !important;
}
.circle-counter{
	width: 161px;
	height: 161px;
	border-radius: 100%;
	background-color: $primary;
	color: $white;
	display: inline-block;
	padding-top: 40px;
	h2{
		line-height: 1;
	}
	p{
		line-height: 1.2;
	}
}
.weird-height-thing{
	min-height: 556px;
}
.smm-lp-flag{
	position: absolute;
	top: 0;
	right: 85px;
	z-index: 10;;
}
.smm-upsell-circle{
	margin-top: -85px;
}
.smm-upsell-desc{
	font-size: 22px;
	line-height: 28px;
}
.upsell-prices{
	font-size: 26px;
	font-family: $title;
	.text-light-grey{
		font-size: 22px;
		font-weight: 300;
	}
}
#products-container{
  .page-item{
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #d82737;
    background-color: #fff;
    border: 1px solid #dee2e6;
    &.active{
      .page-link{
        z-index: 3;
        color: #fff;
        background-color: #d82737;
        border-color: #d82737;
      }
    }
    &:first-child{
      margin-left: 0;
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }
    &:last-child{
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
    .sr-only{
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0,0,0,0);
      border: 0;
    }
  }
}
.page-item{
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #d82737;
  background-color: #fff;
  border: 1px solid #dee2e6;
	&.active{
		.page-link{
		  z-index: 3;
		  color: #fff;
		  background-color: #d82737;
		  border-color: #d82737;
		}
	}
	&:first-child{
		margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
	}
	&:last-child{
		border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
	}
	.sr-only{
		position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
	}
}
.shadow{
	-webkit-box-shadow: 0px 0.5rem 1rem 0 rgba(0, 0, 0, 0.1) !important;
	-moz-box-shadow: 0px 0.5rem 1rem 0 rgba(0, 0, 0, 0.1) !important;
	box-shadow: 0px 0.5rem 1rem 0 rgba(0, 0, 0, 0.1) !important;
}
.list-style-none{
	list-style:none !important;
}
ul.basket-check{
	list-style:none;
	li{
		padding: 0 0 0 22px; 
		position: relative;
		&:before{
			content: "";
			position: absolute;
			left: 0;
			top: 8px;
			background-image: url('$img/icons/basket-check.svg');
			background-size:contain;
			background-repeat: no-repeat;
			width: 13px;
			height: 13px;
		}
	}
}
.list-check-green{
	list-style:none;
	li{
		padding: 0 0 0 45px; 
		position: relative;
		&:before{
			content: "";
			position: absolute;
			left: 0;
			top: 8px;
			background-image: url('$img/icons/list-check-green.svg');
			background-size:contain;
			background-repeat: no-repeat;
			width: 34px;
			height: 34px;
		}
		img.to-edge{
			width: calc(100% + 40px);
	    left: -40px;
	    position: relative;
		}
	}
}
.list-pointer{
	list-style:none;
	li{
		padding: 0 0 0 34px; 
		position: relative;
		&:before{
			content: "";
			position: absolute;
	    left: 0;
	    top: 0px;
			background-image: url('$img/icons/pointer.svg');
			background-size:contain;
			background-repeat: no-repeat;
			width: 34px;
			height: 34px;
		}
	}
}
#mob-basket{
	position: fixed;
	bottom:0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 2;
	.card{
		border-radius: 0 !important;
	}
}
.floating-bg-box{
	position: relative;
	.content{
		background-color: $white;
		position: relative;
		z-index: 1;
		border: 3px solid #3E4146;
	}
	&:before{
		content: "";
		width: 100%;
		height: 100%;
		background-color: $primary;
		position:absolute;
		top: 0;
		left: 0;
		z-index: 0;
		@include transition_delay(all, 200ms, 600ms);
	}
	&.show-red{
		&:before{
			top: -1rem;
			left: -1rem;
		}
	}
}
.about-tom-morrison-smm2022{
	width: 550px;
}
.contact-option{
	width: 100%;
	height: 50px;
	padding: 10px 15px;
	@include box-shadow();
}
.add-to-basket-follow{
	position: fixed;
	bottom: 0.5rem;
	right: 0.5rem;
	width: 40px;
	height: 40px;
	background-color: $primary;
	color: $white;
	padding: 4px 2px 0 0;
	font-size: 20px;
	text-align: center;
	display: block;
	z-index: 10;
	border-radius: 100%;
	@include box-shadow();
}
.alert{
	&.alert-danger{
		border-color: $red;
	}
}