// Footer ---------------
footer{
	background-color: $darkgrey;
	color: $white;
	padding: 3rem 0 2rem;
	.footer-email{
		font-size: 24px;
		font-family: $title;
	}
	a{
		color: #BCBFC5;
		&:hover{
			color: $white;
		}
	}
	.social-circle{
		background-color: transparent;
		color: $white;
		padding: 5px;
		border-radius: 100%;
		width: 35px;
		height: 35px;
		text-align: center;
		display: inline-block;
		@include transition(300ms); 
		&:hover{
			background-color: transparent;
			color: $white;
		}
	}
}
.copyright{
	background-color: #23262B;
	padding: 0.5rem 1rem;
	p{
		color: #8F9195;
		font-size: 12px;
	}
}
.text-footer-grey{
	color: #BCBFC5;
}