.form-group{
	&.select-form-group{
		
	}
}
input.form-control,
select.form-control{
	height: 50px;
	box-shadow: none !important;
	outline: none !important;
	&:focus{
		box-shadow: none !important;
		outline: none !important;
	}
}
#app{

}
label{
	cursor: pointer;
}
/* Custom dropdown */
.custom-dropdown {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

.custom-dropdown select {
	background-color: $primary;
	color: $white;
	font-size: 24px;
	font-weight: 700;
	padding: 0.5rem 1rem;
	padding-right: 3rem;	
	border: 0;
	margin: 0;
	border-radius: 3px;
	text-indent: 0.01px;
	text-overflow: '';
	/*Hiding the select arrow for firefox*/
	-moz-appearance: none;
	/*Hiding the select arrow for chrome*/
	-webkit-appearance:none;
	/*Hiding the select arrow default implementation*/
	appearance: none;
	width: 100%;
}
/*Hiding the select arrow for IE10*/
.custom-dropdown select::-ms-expand {
	display: none;
}

.custom-dropdown::before,
.custom-dropdown::after {
	content: "";
	position: absolute;
	pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
	font-family: FontAwesome;
	content: "\f107";
	height: 1em;
	font-size: 2rem;
	line-height: 1;
	right: 1rem;
	top: 50%;
	margin-top: -.5em;
	color: $white;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
	width: 2em;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
	color: rgba(0,0,0,.25);
}
.vue-tel-input{
	.dropdown{
		background-color: $white;
	}
}
.share-journey{
	.btn, input{
		border-radius: 0 !important;
	}
}