// Menu  --------------------
#menu_btn,
.menu_btn{
	position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1005;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: inline-block;
  @include transition(300ms);
	.nav-icon {
		width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    @include transition(300ms);
    span {
    	display: block;
	    position: absolute;
	    height: 3px;
	    width: 100%;
	    background: $darkgrey;
	    opacity: 1;
	    right: 0;
	    cursor: pointer;
	    // @include menuBoxShadow();
			@include transition(300ms);
    }
		span:nth-child(1) {
			top: 0px;
		}
		span:nth-child(2) {
			top: 9px; 
			@include transition(300ms);
		}
		span:nth-child(3) {
			top: 18px; 
			width: 60%;
		}
		&.nav_open{
			span {
			    background: $white;
			}
		    span:nth-child(1) {
				top: 9px !important;
				-webkit-transform: rotate(135deg) !important;
				-moz-transform: rotate(135deg) !important;
				-o-transform: rotate(135deg) !important;
				transform: rotate(135deg) !important; }
			span:nth-child(2) {
				opacity: 0 !important;
				left: 20vw !important; 
			}
			span:nth-child(3) {
				width: 100%;
				top: 9px !important;
				-webkit-transform: rotate(-135deg) !important;
				-moz-transform: rotate(-135deg) !important;
				-o-transform: rotate(-135deg) !important;
				transform: rotate(-135deg) !important; 
			}
	    }
    }
    &:hover{
	    .nav-icon{
			span:nth-child(3) {
				width: 100%;
			}
		}
	}
}
#shopping-cart{
	width: 30px;
	height: 30px;
	position: fixed;
	top: 11px;
	right: calc(2rem + 35px);
	z-index: 1005;
	a{
		color: $darkgrey;
		i{
			font-size: 30px;
		}
	}
	&.shopping-cart-dark{
		a{
			color: $darkgrey !important;
		}
	}
	&.menu-open{
		a{
			color: $white !important;
		}
	}
}
#menubtntrigger{
	position: absolute;
	top: calc(100vh + 60px);
	left:0;
	height: 1px;
	width:1px;
	opacity: 0;
}
#menu{
	z-index: 100;
	.navbar-nav{
		.nav-item{
			padding-left: 10px;
			.nav-link{
				color: $darkgrey;
				font-size: 20px;
				font-weight: bold;
				img{
					margin-top: -5px;
				}
				&.underline{
					position:  relative;
					&:after{
						content: "";
						border-bottom: 2px solid $primary;
						position: absolute;
						bottom: 5px;
						left: 0.5rem;
						width: calc(100% - 1rem);
					}
				}
			}
		}
	}
	.navbar-brand{
		img{
			width: 65px;
		}
	}
}
