#saleModal{
	.modal-content{
		width: 1080px;
		height: 608px;
		background-color: $white;
		border: 16px solid $black;
		border-radius: 0;
		h5{
			font-size: 51px;
			font-weight: 900;
			font-family: $body;
			color: $black;
			letter-spacing: 5px;
		}
		p{
			color: $black;
			&.text-large{
				font-size: 24px;
				font-weight: 900;
				color: $black;
				font-family: $body;
			}
			&.big-modal-text{
				font-size: 147px;
				line-height: 1;
				font-weight: 900;
				color: $black;
				font-family: $title;
			}
			&.close-modal{
				position: absolute;
				z-index: 2;
				bottom: 15px;
				font-weight: 300;
				left: 0;
				color: $black;
				a{
					cursor: pointer;
					opacity: 1;
					font-size: 20px;
					font-weight: 300;
					color: $black !important;
					&:hover{
						color: $primary !important;
					}
				}
			}
		}
		.btn-black{
			background-color: $black;
			color: $white;
			&.btn-long{
				font-size: 30px;
				width: 412px;
				padding: 5px;
				max-width: 412px;
				text-transform: none;
				border-radius: 0;
			}
			&:hover{
				background-color: $primary;
			}
		}
		.modal-bg-img{
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 0;
			height: 95%;
		}
	}
	
	.modal-header,
	.modal-body{
		position: relative;
		z-index: 1;
		border-bottom: 0;
	}
}

#videoTestimonialsModal{
	.modal-xl {
	  max-width: 480px;
	}
	.modal-content{
		background-color: transparent !important;
		border: 0 !important;
	}
	.embed-responsive-9by16{
		max-height: calc(100vh - 6rem);
		&:before{
	    padding-bottom: 176.25%;
		}
	}
}
.close-video-modal{
	position: fixed;
	top: 1rem;
	right: 1rem;
	display: none;
	z-index: 99999;
}
#video-testimonials{
	.owl-carousel .owl-stage-outer{
		overflow: visible;
	}
	.prev, 
	.next{
		display: block !important;
		cursor: pointer;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 2px;
		position: absolute;
		bottom: -40px;
		width: 54px;
		-webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease ;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
		&:hover{
			color: #D82737;
		}
	}
	.prev{
   	left:calc(50% - 60px);
  }
  .next{
  	left:calc(50% + 15px);
  }
	.video-testimonial{
    position: relative;
    width: 100px;
    height: 180px;
    background-color: #ededed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    text-align: left;
    vertical-align: top;
    overflow: hidden;
    cursor: pointer;
    .icon{
    	position: absolute;
	    top: 50%;
	    left: 50%;
	    margin-top: -14px;
	    margin-left: -14px;
	    width: 28px;
	    height: 28px;
	    font-size: 26px;
	    line-height: 26px;
	    color: rgba(255, 255, 255, 0.8);
	    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
	    transition: color 0.25s;
	    cursor: pointer;
    }
    .name{
    	position: absolute;
	    bottom: 0;
	    left: 0;
	    padding: 10px;
	    width: 100%;
	    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
	    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	    white-space: normal;
	    font-size: 13px;
	    font-weight: bold;
	    color: #fff;
	    letter-spacing: normal;
	    line-height: normal;
	    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
	    cursor: pointer;
    }
    &:hover{
    	.icon{
    		color: rgba(255, 255, 255, 1);
    		cursor: pointer;
    	}
    }
	}
}

// iPad in portrait & landscape: ;
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
	#saleModal{
		.modal-content{
			height: 508px;
			h5{
				font-size: 41px;
			}
			p{
				&.big-modal-text{
					font-size: 107px;
				}
			}
		}
	}
}
// iPad in landscape
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	#saleModal{
		.modal-content{
			height: 508px;
			h5{
				font-size: 41px;
			}
			p{
				&.big-modal-text{
					font-size: 107px;
				}
			}
		}
	}
}
// iPad in portrait
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	#saleModal{
		.modal-dialog{
			max-width: 700px;
		}
		.modal-content{
			height: 438px;
			width: 700px;
			h5{
				font-size: 35px;
			}
			p{
				&.big-modal-text{
					font-size: 87px;
				}
			}
			.btn-black{
				&.btn-long{
					font-size: 23px;
					width: 272px;
					max-width: 272px;
				}
			}
		}
	}
}
@media only screen and (max-width : 767px){
	#saleModal{
		.modal-dialog{
			max-width: 100%;
		}
		.modal-content{
			height: calc(79vw + 105px);
	    width: 100%;
	    border: 3vw solid #000;
			h5{
				margin:  auto;
				font-size: 5.5vw;
			}
			p{
				&.text-large{
					font-size: 4vw;
				}
				&.big-modal-text{
					font-size: 20vw;
    			margin-bottom: 10px !important;
				}
				&.close-modal{
					left: calc(50% - 23vw);
					margin-bottom: 0;
					a{
						font-size: 3vw;
					}
				}
			}
			.btn-black{
				&.btn-long{
					font-size: 18px;
					width: 200px;
					max-width: 200px;
				}
			}
			.modal-bg-img{
				height: auto;
				width: 50%;
			}
		}
	}
}