.half_row{
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 7.5px;
	padding-right: 7.5px;
	.half_col{
		padding-left: 7.5px;
		padding-right: 7.5px;
	}
}
.mb-minus-3rem{
	margin-bottom: -3rem;
}