
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Karla', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #187EF4;
$indigo: #6574cd;
$purple: #9254DB;
$pink: #F4406D;
$red: #EB3333;
$orange: #FF7141;
$yellow: #ffed4a;
$green: #32D188;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Colours -----------------
$primary: #D82737; 
$primarylight: #27A9FA;
$second: #187EF4;
$white: #fff;
$black: #000;
$darkgrey: #3E4146;
$midgrey: #EBEBEB;
$lightgrey: #F7F7F7;
$grey: #B4B4B4;
$highlight: #FF6A6A;
$mastercard: #FF4D2D;
$visa: #283891;

$transgreylight: rgba(0,0,0,0.5);
$transgrey: rgba(0,0,0,0.9);
$transgreydark: rgba(0,0,0,0.7);
$transwhite: rgba(255,255,255,0.98);
$transblue: rgba(20,114,221,0.8);
$transbluelight: rgba(26,126,244,0.1);
$transred: rgba(235,51,51,0.8);

// Fonts --------------------
$title: 'Oswald', sans-serif;
$body: 'Karla', sans-serif;