.owl-dots{
      .owl-dot{
        width: 48px;
        height: 48px;
        span{
          display: inline-block !important;
        }
      }
    }
    .cc-window{opacity:1;transition:opacity 1s ease}.cc-window.cc-invisible{opacity:0}.cc-animate.cc-revoke{transition:transform 1s ease}.cc-animate.cc-revoke.cc-top{transform:translateY(-2em)}.cc-animate.cc-revoke.cc-bottom{transform:translateY(2em)}.cc-animate.cc-revoke.cc-active.cc-bottom,.cc-animate.cc-revoke.cc-active.cc-top,.cc-revoke:hover{transform:translateY(0)}.cc-grower{max-height:0;overflow:hidden;transition:max-height 1s}
.cc-link,.cc-revoke:hover{text-decoration:underline}.cc-revoke,.cc-window{position:fixed;overflow:hidden;box-sizing:border-box;font-family:Helvetica,Calibri,Arial,sans-serif;font-size:16px;line-height:1.5em;display:-ms-flexbox;display:flex;-ms-flex-wrap:nowrap;flex-wrap:nowrap;z-index:9999}.cc-window.cc-static{position:static}.cc-window.cc-floating{padding:2em;max-width:24em;-ms-flex-direction:column;flex-direction:column}.cc-window.cc-banner{padding:1em 1.8em;width:100%;-ms-flex-direction:row;flex-direction:row}.cc-revoke{padding:.5em}.cc-header{font-size:18px;font-weight:700}.cc-btn,.cc-close,.cc-link,.cc-revoke{cursor:pointer}.cc-link{opacity:.8;display:inline-block;padding:.2em}.cc-link:hover{opacity:1}.cc-link:active,.cc-link:visited{color:initial}.cc-btn{display:block;padding:.4em .8em;font-size:.9em;font-weight:700;border-width:2px;border-style:solid;text-align:center;white-space:nowrap}.cc-highlight .cc-btn:first-child{background-color:transparent;border-color:transparent}.cc-highlight .cc-btn:first-child:focus,.cc-highlight .cc-btn:first-child:hover{background-color:transparent;text-decoration:underline}.cc-close{display:block;position:absolute;top:.5em;right:.5em;font-size:1.6em;opacity:.9;line-height:.75}.cc-close:focus,.cc-close:hover{opacity:1}
.cc-revoke.cc-top{top:0;left:3em;border-bottom-left-radius:.5em;border-bottom-right-radius:.5em}.cc-revoke.cc-bottom{bottom:0;left:3em;border-top-left-radius:.5em;border-top-right-radius:.5em}.cc-revoke.cc-left{left:3em;right:unset}.cc-revoke.cc-right{right:3em;left:unset}.cc-top{top:1em}.cc-left{left:1em}.cc-right{right:1em}.cc-bottom{bottom:1em}.cc-floating>.cc-link{margin-bottom:1em}.cc-floating .cc-message{display:block;margin-bottom:1em}.cc-window.cc-floating .cc-compliance{-ms-flex:1 0 auto;flex:1 0 auto}.cc-window.cc-banner{-ms-flex-align:center;align-items:center}.cc-banner.cc-top{left:0;right:0;top:0}.cc-banner.cc-bottom{left:0;right:0;bottom:0}.cc-banner .cc-message{display:block;-ms-flex:1 1 auto;flex:1 1 auto;max-width:100%;margin-right:1em}.cc-compliance{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-line-pack:justify;align-content:space-between}.cc-floating .cc-compliance>.cc-btn{-ms-flex:1;flex:1}.cc-btn+.cc-btn{margin-left:.5em}
@media print{.cc-revoke,.cc-window{display:none}}@media screen and (max-width:900px){.cc-btn{white-space:normal}}@media screen and (max-width:414px) and (orientation:portrait),screen and (max-width:736px) and (orientation:landscape){.cc-window.cc-top{top:0}.cc-window.cc-bottom{bottom:0}.cc-window.cc-banner,.cc-window.cc-floating,.cc-window.cc-left,.cc-window.cc-right{left:0;right:0}.cc-window.cc-banner{-ms-flex-direction:column;flex-direction:column}.cc-window.cc-banner .cc-compliance{-ms-flex:1 1 auto;flex:1 1 auto}.cc-window.cc-floating{max-width:none}.cc-window .cc-message{margin-bottom:1em}.cc-window.cc-banner{-ms-flex-align:unset;align-items:unset}.cc-window.cc-banner .cc-message{margin-right:0}}
.cc-floating.cc-theme-classic{padding:1.2em;border-radius:5px}.cc-floating.cc-type-info.cc-theme-classic .cc-compliance{text-align:center;display:inline;-ms-flex:none;flex:none}.cc-theme-classic .cc-btn{border-radius:5px}.cc-theme-classic .cc-btn:last-child{min-width:140px}.cc-floating.cc-type-info.cc-theme-classic .cc-btn{display:inline-block}
.cc-theme-edgeless.cc-window{padding:0}.cc-floating.cc-theme-edgeless .cc-message{margin:2em 2em 1.5em}.cc-banner.cc-theme-edgeless .cc-btn{margin:0;padding:.8em 1.8em;height:100%}.cc-banner.cc-theme-edgeless .cc-message{margin-left:1em}.cc-floating.cc-theme-edgeless .cc-btn+.cc-btn{margin-left:0}
.cc-compliance,.cc-banner .cc-message{
  display: inline-block !important;
  text-align: center;
}
.cc-window{
  text-align: center;
  display: block !important;
}
.cc-link{
  color: #fff !important;
  font-weight: 700;
}
.cc-window.cc-invisible{
  display: none !important;
}
  #saleModal .modal-content{
    height: auto;
  }
  .sale-modal-btn{
    position: absolute;
    background-color: #ffffff !important;
    color: #3E366E !important;
    border-color: #fff !important;
    bottom: 20%;
    border: 0 !important;
    max-width: 380px;
    right: calc(50% - 180px);
  }
  #saleModal .modal-content .timer-holder {
    position: absolute;
    bottom: calc(16% + 124px);
    left: calc(50% - 145px);
    width: 150px;
  }
  #saleModal .modal-content p.close-modal{
    right: -40%;
    width: 100%;
    bottom: calc(24% - 155px);
  }
  #saleModal .modal-content p{
    color: #fff;
  }
  #saleModal .modal-content .timer .timer-box p{
    bottom:  -13px;
    line-height: 1.1rem;
    color: #fff;
  }
  #saleModal h3{
    font-family: 'Karla';
    font-size: 26px;
    line-height: 1.4rem;
    color: #fff !important;
  }
  #saleModal .timer-text{
    padding-right: 0;
  }
  #saleModal .timer{
    position: absolute;
    right: calc(50% - (64px + 127px));
    top: -11px;
  }
  #saleModal .timer .timer-box .timer-number{
    color: #fff;
    border:  2px solid #fff;
  }

  @media only screen and (min-width : 992px) and (max-width : 1199px){
    #saleModal .modal-content p.close-modal{
      bottom: calc(24% - 98px);
      left: -15px;
    }
    .sale-modal-btn{
      bottom: 17%;
      right: 7%;
    }
    #saleModal .modal-content .timer-holder{
      bottom: calc(20% + 110px);
      left: 35px !important;
    }
  }
@media only screen and (max-width : 991px){
  #saleModal .modal-content .timer-holder {
    bottom: calc(20% + 55px);
    width: 100%;
    left: 0;
  }
  #saleModal h3{
    font-size: 4vw;
    line-height: 4vw;
  }
  #saleModal .timer-text{
    padding-right: 0;
  }
  .mob-pl-4{
    padding-left: 1.5rem;
  }
  .sale-modal-btn{
    bottom: 18%;
    max-width: 260px;
    left: calc(50% - 130px);
  }
  #saleModal .modal-content .timer {
    width: 161px;
    position: relative;
    right: auto;
    top: -8px;
  }
  #saleModal .modal-content p.close-modal{
    width: calc(100% - 2rem) !important;
    bottom: 6%;
  }
  #saleModal .modal-content .timer .timer-box p {
    bottom: -13px;
  }
}

@media only screen and (max-width : 767px){
  .sale-banner h3{
    font-size: 7.5vw;
  }
  #saleModal .modal-content p.close-modal{
    width: calc(100% - 2rem) !important;
    bottom: 5%;
    left: 1rem !important;
  }
  #saleModal h3{
    font-size: 6vw;
    line-height: 6vw;
  }
  .sale-modal-btn{
    bottom: 11%;
  }
  #saleModal .modal-content .timer-holder{
    bottom: calc(27% + 8px);
  }
  #saleModal .modal-content .timer{
    top: 3px;
  }
}