  .no-webp .new-home-smm{
    background-image: url('/img/home/new-home-smm-2.jpg');
  }
  .no-webp .new-home-bb{
    background-image: url('/img/home/new-home-bb.jpg?v=2024-07-24');
  }
  .webp .new-home-smm{
    background-image: url('/img/home/new-home-smm-2.webp');
  }
  .webp .new-home-bb{
    background-image: url('/img/home/new-home-bb.webp?v=2024-07-24');
  }

  #home-header .full-height-minus-menu{
    height: calc(100vh - 96px);
  }
  .home-vimeo .vlt-preview:before{
    height: 0 !important;
    padding-bottom: 0 !important;
    display: none !important;
  }
  #home-header .or{
    position: absolute;
    left: -27px;
    top: calc(50% - 20px);
    width: 54px;
    height: 40px;
    background-color: white;
    border-radius: 3px;
    color: black;
    font-size: 23px;
    line-height: 23px;
    font-weight: 700;
    text-align: center;
    padding-top: 9px;
  }
  #home-header .special-offer{
    display: inline-block;
    text-align: center;
    width: 160px;
    height: 33px;
    font-weight: 900;
    background-color: #d82737;
    color: #ffffff;
    padding-top:3px;
    border-radius: 15px;
  }
  .owl-carousel .owl-stage-outer{
    overflow: visible !important;
  }
  .home-bg-newyear{
    position: relative;
    background-image: url('/img/sales/newyear/home-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .webp .home-bg-newyear{
    background-image: url('/img/sales/newyear/home-bg.webp');
  }
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : portrait) {
    #home-header .or{
      top: 50%;
    }
  }

  @media only screen and (max-width : 767px){
    .no-webp .new-home-smm{
      background-image: url('/img/home/new-home-smm-2-mob.jpg');
    }
    .no-webp .new-home-bb{
      background-image: url('/img/home/new-home-bb-mob.jpg?v=2024-07-24');
    }
    .webp .new-home-smm{
      background-image: url('/img/home/new-home-smm-2-mob.webp');
    }
    .webp .new-home-bb{
      background-image: url('/img/home/new-home-bb-mob.webp?v=2024-07-24');
    }
    #home-header .full-height-minus-menu{
      height: calc(50vh - 48px);
      max-height: 500px;
    }
    #home-header p.mimic-h2{
      font-size: 8vw;
      line-height: 1.4;
    }
    #home-header p.mimic-h2 .tm{
      font-size: 5vw;
      top: -14px;
    }
    #home-header .or{
      top: -20px;
      left: calc(50% - 20px);
    }
  }