<template>
  <a :href="'/podcast/'+post.id+'/'+post.slug">
    <div class="podcast-card shadow rounded overflow-hidden mb-2">
      <picture>
        <source :srcset="post.webp" type="image/webp"/>
        <source :srcset="post.image" :type="post.mime"/>
        <img 
          :src="post.image" 
          :type="post.mime" 
          :alt="post.name + ' - You Can Fix You Podcast - Tom Morrison'" 
          width="348" 
          height="195" 
          class="w-100 h-auto zoom-in" 
        />
      </picture>
      <div class="podcast-text p-3">
        <p class="mb-1 text-light-grey"><b><span class="text-primary">Ep.{{post.episode}}</span> // You Can Fix You</b></p>
        <h5 class="mb-2 scroll text-dark">{{post.name}}</h5>
        <p class="text-dark text-small podcast-excerpt mb-3">{{post.excerpt.substring(0, 80)}} [...]</p>
        <div class="read-more mt-3">View Episode</div>
      </div>
    </div>
  </a>
</template>
<script>
  export default {
    props: {
      post: Object,
    }
  }
</script>
<style lang="scss">
  .podcast-card{
    .podcast-text{
      position: relative;
      z-index: 2;
      background: #fff;
      min-height: 221px;
      .podcast-excerpt{
        line-height: 1.5;
      }
    }
  }
  /* Apply the zoom effect to the image when the parent div is hovered */
  .podcast-card:hover .zoom-in {
    transform: scale(1.1); /* Scale the image up on hover */
  }
  .zoom-in {
    transition: transform 0.3s ease;
  }

  /* Media query to apply the effect only on desktop */
  @media (max-width: 768px) {
    .zoom-in {
      transition: none; /* Remove transition on mobile */
    }
    
    .podcast-card:hover .zoom-in {
      transform: none; /* Remove transform on hover on mobile */
    }
    .podcast-card{
      .podcast-text{
        min-height: 0;
      }
    }

  }
</style>