<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5">
        <p class="d-inline-block" style="top: 5px;position:relative;font-size:24px;"><b>Sort by:</b></p>
        <div class="custom-dropdown ml-3 d-inline-block">
          <select v-model="sort" @change="resetPosts">
            <option value="desc">Most Recent</option>
            <option value="asc">Oldest First</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container position-relative mb-5 pb-5">
        <div id="blog-posts" class="row">
          <div v-for="post in posts" :key="post.id" class="col-lg-4 col-sm-6 mb-4">
            <podcast-card :post="post"></podcast-card>
          </div>
          <infinite-loading
            :identifier="infiniteId"
            @infinite="infiniteHandler"
            :slots="{complete: ''}"
          >
            <template #complete>
              <div></div>
            </template>
          </infinite-loading>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import debounce from 'lodash.debounce';
  import PodcastCard from "./Card.vue";
  import InfiniteLoading from "v3-infinite-loading";

  export default {
    props: {
      count: Number,
      categories: Object
    },
    components: {
      PodcastCard,
      InfiniteLoading
    },
    data() {
      return {
        sort: "desc",
        errors: {},
        success: false,
        limit: 6,
        loaded: true,
        posts: [],
        more: false,
        years: [],
        page: 1,
        infiniteId: +new Date()
      }
    },
    methods: {
      resetPosts() {
        this.page = 1;
        this.posts = [];
        this.infiniteId += 1;
      },
      infiniteHandler($state) {
        axios.get('/podcast/fetch/' + this.limit, {
          params: {
            page: this.page,
            sort: this.sort,
          },
        }).then(({ data }) => {
          if (data.data.length) {
            this.page += 1;
            this.posts.push(...data.data);
            $state.loaded();
          } else {
            $state.complete();
          }
        }).catch(error => {
          console.error(error);
          $state.complete();
        });
      },
      slug: function (post) {
        var slug = post.slug;
        return slug;
      }
    }
  }
</script>

<style>
.custom-dropdown{
  max-width: 250px;
}
.custom-dropdown select{
  font-weight: 400;
}
</style>