<template>
	<div id="complete-bundle-slider">
		<carousel>
			<slide key="1">
				<picture> 
					<source srcset="/img/programs/complete-bundle/cb-top1-images.webp?v=2023-07-24" type="image/webp"/> 
					<source srcset="/img/programs/complete-bundle/cb-top1-images.jpg?v=2023-07-24" type="image/jpeg"/>
					<img src="/img/programs/complete-bundle/cb-top1-images.jpg?v=2023-07-24" width="634" height="357" class="w-100 h-auto" alt="Tom Morrison - Complete bundle screenshot 1" />
				</picture>
			</slide>
			<slide key="2">
				<picture> 
					<source srcset="/img/programs/complete-bundle/cb-top2-SMM-Image.webp?v=2023-07-24" type="image/webp"/> 
					<source srcset="/img/programs/complete-bundle/cb-top2-SMM-Image.jpg?v=2023-07-24" type="image/jpeg"/>
					<img src="/img/programs/complete-bundle/cb-top2-SMM-Image.jpg?v=2023-07-24" width="634" height="357" class="w-100 h-auto" alt="Tom Morrison - Complete bundle screenshot 2" />
				</picture>
			</slide>
			<slide key="3">
				<picture> 
					<source srcset="/img/programs/complete-bundle/cb-top3-UC-Image.webp" type="image/webp"/> 
					<source srcset="/img/programs/complete-bundle/cb-top3-UC-Image.jpg" type="image/jpeg"/>
					<img src="/img/programs/complete-bundle/cb-top3-UC-Image.jpg" width="634" height="357" class="w-100 h-auto" alt="Tom Morrison - Complete bundle screenshot 3" />
				</picture>
			</slide>
			<slide key="4">
				<picture> 
					<source srcset="/img/programs/complete-bundle/cb-top4-stability-builder.webp" type="image/webp"/> 
					<source srcset="/img/programs/complete-bundle/cb-top4-stability-builder.jpg" type="image/jpeg"/>
					<img src="/img/programs/complete-bundle/cb-top4-stability-buildere.jpg" width="634" height="357" class="w-100 h-auto" alt="Tom Morrison - Complete bundle screenshot 4" />
				</picture>
			</slide>
			<slide key="5">
				<picture> 
					<source srcset="/img/programs/complete-bundle/cb-top5-WIWW-Image.webp" type="image/webp"/> 
					<source srcset="/img/programs/complete-bundle/cb-top5-WIWW-Image.jpg" type="image/jpeg"/>
					<img src="/img/programs/complete-bundle/cb-top5-WIWW-Image.jpg" width="634" height="357" class="w-100 h-auto" alt="Tom Morrison - Complete bundle screenshot 5" />
				</picture>
			</slide>
			<slide key="6">
				<picture> 
					<source srcset="/img/programs/complete-bundle/cb-top6-end-range.webp" type="image/webp"/> 
					<source srcset="/img/programs/complete-bundle/cb-top6-end-range.jpg" type="image/jpeg"/>
					<img src="/img/programs/complete-bundle/cb-top6-end-range.jpg" width="634" height="357" class="w-100 h-auto" alt="Tom Morrison - Complete bundle screenshot 3" />
				</picture>
			</slide>
			<template #addons>
				<navigation />
	      <pagination />
	    </template>
		</carousel>
	</div>
</template>
<script>
	import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';
  export default {
  	components: {
  		Carousel,
      Slide,
      Pagination,
      Navigation
    }
  }
</script>
<style lang="scss">
	#complete-bundle-slider{
		.carousel{
			width: 100%;
			height: auto;
			margin: auto;
			margin-bottom: 40px;
			position: relative;
			.carousel__viewport{
				width: 100%;
			}
			.carousel__pagination-button{
				&:after{
					border-radius: 100%;
					width: 10px;
					height: 10px;
					background-color: #D6D6D6;
				}
				&.carousel__pagination-button--active{
					&:after{
						background-color: #869791 !important;
					}
				}
			}
			
		}
	}
	@media only screen and (max-width : 767px){
		
	}
</style>