<template>
	<div id="intermediate-bundle-slider">
		<carousel>
			<slide key="1">
				<picture> 
					<source srcset="/img/programs/intermediate-bundle/ib-top1-resistance-band.webp" type="image/webp"/> 
					<source srcset="/img/programs/intermediate-bundle/ib-top1-resistance-band.jpg" type="image/jpeg"/>
					<img src="/img/programs/intermediate-bundle/ib-top1-resistance-band.jpg" width="634" height="357" class="w-100 h-auto" alt="Tom Morrison - Intermediate bundle screenshot 1" />
				</picture>
			</slide>
			<slide key="2">
				<picture> 
					<source srcset="/img/programs/intermediate-bundle/ib-top2-stability-builder.webp" type="image/webp"/> 
					<source srcset="/img/programs/intermediate-bundle/ib-top2-stability-builder.jpg" type="image/jpeg"/>
					<img src="/img/programs/intermediate-bundle/ib-top2-stability-builder.jpg" width="634" height="357" class="w-100 h-auto" alt="Tom Morrison - Intermediate bundle screenshot 2" />
				</picture>
			</slide>
			<slide key="3">
				<picture> 
					<source srcset="/img/programs/intermediate-bundle/ib-top3-end-range.webp" type="image/webp"/> 
					<source srcset="/img/programs/intermediate-bundle/ib-top3-end-range.jpg" type="image/jpeg"/>
					<img src="/img/programs/intermediate-bundle/ib-top3-end-range.jpg" width="634" height="357" class="w-100 h-auto" alt="Tom Morrison - Intermediate bundle works on all devices" />
				</picture>
			</slide>
			<template #addons>
				<navigation />
	      <pagination />
	    </template>
		</carousel>
	</div>
</template>
<script>
	import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';
  export default {
  	components: {
  		Carousel,
      Slide,
      Pagination,
      Navigation
    }
  }
</script>
<style lang="scss">
	#intermediate-bundle-slider{
		.carousel{
			width: 100%;
			height: auto;
			margin: auto;
			margin-bottom: 40px;
			position: relative;
			.carousel__viewport{
				width: 100%;
			}
			.carousel__pagination-button{
				&:after{
					border-radius: 100%;
					width: 10px;
					height: 10px;
					background-color: #D6D6D6;
				}
				&.carousel__pagination-button--active{
					&:after{
						background-color: #869791 !important;
					}
				}
			}
			
		}
	}
	@media only screen and (max-width : 767px){
		
	}
</style>