<template>
	<div class="container-fluid bg-light py-4">
		<div class="row">
			<div class="container">
				<form class="row mailing-list-row half_row" @submit.prevent="submit">
					<div class="col-12 half_col text-center">
						<p><b>Psst! Want to get our FREE mobility series the <span class="text-primary">7 Days of Awesome?</span></b></p>
					</div>
					<div class="col-lg-2 col-6 half_col mb-3">
						<input type="text" class="form-control" name="FNAME" placeholder="First Name" v-model="fields.FNAME" style="height: 48px;"/>
						<div v-if="errors && errors.FNAME" class="text-primary">{{ errors.FNAME[0] }}</div>
					</div>
					<div class="col-lg-2 col-6 half_col mb-3">
						<input type="text" class="form-control" name="LNAME" placeholder="Last Name" v-model="fields.LNAME" style="height: 48px;"/>
						<div v-if="errors && errors.LNAME" class="text-primary">{{ errors.LNAME[0] }}</div>
					</div>
					<div class="col-12 col-lg-5 half_col mb-3">
						<input id="ml-email-7-days" type="email" class="form-control" name="email" placeholder="Email Address" v-model="fields.email" style="height: 48px;"/>
						<div v-if="errors && errors.email" class="text-primary">{{ errors.email[0] }}</div>
					</div>
					<div class="col-6 col-lg-3 offset-6 offset-lg-0 half_col text-right text-lg-left">
						<button class="btn btn-primary d-inline-block" id="submit-ml" type="submit">Sign Up Now <i class="fa fa-angle-double-right"></i></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>
<script>
	import { VueReCaptcha } from 'vue-recaptcha-v3';
	export default {
		data() {
			return {
				fields: {
					FNAME: "",
					LNAME: "",
					email: ""
				},
				errors: {},
				success: false,
				loaded: true,
			}
		},
		methods: {
			async submit() {
    		this.success = false;
    		this.errors = {};

    		try {
          const token = await this.$recaptcha('signup');
          if (token) {
            // Proceed with form submission
            document.getElementById("loader").classList.add("on");
	      		document.getElementById("loader-message").innerHTML = "Subscribing...";

            axios.post('/seven-days-mailinglist', { ...this.fields, recaptcha_token: token })
              .then(response => {
                this.handleSuccess();
              })
              .catch(error => {
                this.handleError(error);
              });
          }
        } catch (error) {
          console.error('ReCAPTCHA execution failed', error);
        }
 
      },
      handleSuccess() {
	      this.fields = {};
	      document.getElementById("loader-message").innerHTML = "Subscribed successfully!";
	      document.getElementById("loader-second-text").innerHTML = "You should get your first email soon! If it doesn't arrive, don't forget to check your Spam/Junk folder.";
        document.getElementById('close-loader-btn').classList.remove('d-none');
        document.getElementById('close-loader-btn').classList.add('d-block');
        document.getElementById('loader-roller').classList.remove('d-block');
        document.getElementById('loader-roller').classList.add('d-none');
        document.getElementById('loader-success').classList.remove('d-none');
        document.getElementById('loader-success').classList.add('d-block');
	    },
	    handleError(error) {
	    	console.log(error.response.data.message);
	      document.getElementById("loader-message").innerHTML = "Check form for errors";
	      document.getElementById("loader").classList.remove("on");
	    }
    },
  }
</script>
<style lang="scss">
	.mailing-list-row{
		.btn{
			height: 48px;
		}
	}
</style>