<template>
	<div id="end-range-slider">
		<carousel>
			<slide key="1">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="https://player.vimeo.com/video/795263824?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>
			</slide>
			<slide key="2">
				<picture> 
					<source srcset="/img/programs/end-range-training/er-top2-lunge.webp" type="image/webp"/> 
					<source srcset="/img/programs/end-range-training/er-top2-lunge.jpg" type="image/jpeg"/>
					<img src="/img/programs/end-range-training/er-top2-lunge.jpg" width="634" height="357" class="w-100 h-auto" alt="Tom Morrison - End Range Training screenshot 1" />
				</picture>
			</slide>
			<slide key="3">
				<picture> 
					<source srcset="/img/programs/end-range-training/er-top3-bands.webp" type="image/webp"/> 
					<source srcset="/img/programs/end-range-training/er-top3-bands.jpg" type="image/jpeg"/>
					<img src="/img/programs/end-range-training/er-top3-bands.jpg" width="634" height="357" class="w-100 h-auto" alt="Tom Morrison - End Range Training screenshot 2" />
				</picture>
			</slide>
			<slide key="4">
				<picture> 
					<source srcset="/img/programs/end-range-training/er-top4-devices.webp" type="image/webp"/> 
					<source srcset="/img/programs/end-range-training/er-top4-devices.jpg" type="image/jpeg"/>
					<img src="/img/programs/end-range-training/er-top4-devices.jpg" width="634" height="357" class="w-100 h-auto" alt="Tom Morrison - End Range Training works on all devices" />
				</picture>
			</slide>
			<slide key="5">
				<picture> 
					<source srcset="/img/programs/end-range-training/er-top5-deadlift.webp" type="image/webp"/> 
					<source srcset="/img/programs/end-range-training/er-top5-deadlift.jpg" type="image/jpeg"/>
					<img src="/img/programs/end-range-training/er-top5-deadlift.jpg" width="634" height="357" class="w-100 h-auto" alt="Tom Morrison - End Range Training screenshot 5" />
				</picture>
			</slide>
			<slide key="6">
				<picture> 
					<source srcset="/img/programs/end-range-training/er-top6-rings.webp" type="image/webp"/> 
					<source srcset="/img/programs/end-range-training/er-top6-rings.jpg" type="image/jpeg"/>
					<img src="/img/programs/end-range-training/er-top6-rings.jpg" width="634" height="357" class="w-100 h-auto" alt="Tom Morrison - End Range Training screenshot 6" />
				</picture>
			</slide>
			<template #addons>
				<navigation />
	      <pagination />
	    </template>
		</carousel>
	</div>
</template>
<script>
	import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';
  export default {
  	components: {
  		Carousel,
      Slide,
      Pagination,
      Navigation
    }
  }
</script>
<style lang="scss">
	#end-range-slider{
		.carousel{
			width: 100%;
			height: auto;
			margin: auto;
			margin-bottom: 40px;
			position: relative;
			.carousel__viewport{
				width: 100%;
			}
			.carousel__pagination-button{
				&:after{
					border-radius: 100%;
					width: 10px;
					height: 10px;
					background-color: #D6D6D6;
				}
				&.carousel__pagination-button--active{
					&:after{
						background-color: #869791 !important;
					}
				}
			}
			
		}
	}
	@media only screen and (max-width : 767px){
		
	}
</style>