<template>
  <div class="">
    <div class="flex grid-cols-4 mb-3">
        <div class="w-3/4 mb-6" style="width:75%">
            <card class="d-block">
                <div class="px-3 py-3">
                    <select v-model="days" @change="getMoreSales()">
                        <option value="7">Last 7 days</option>
                        <option value="30">Last 30 days</option>
                        <option value="90">Last 90 days</option>
                    </select>
                    <canvas id="myChart" height="400"></canvas>
                </div>
            </card>
        </div>
        <div class="w-1/4 col-start-4 mb-6 pl-3" style="width:25%">
            <card class="d-block">
                <div class="px-3 py-3">
                    <h3 class="py-3">Totals</h3>
                    <p class="py-3"><b style="width: 90px; display: inline-block;">Today:</b> £{{today}} <span :class="todaychange > 0 ? 'text-success' : 'text-danger'" style="font-size:11px; margin-left: 10px;">{{todaychange}}%</span></p>
                    <p class="py-3"><b style="width: 90px; display: inline-block;">30 days:</b> £{{thirtydays}} <span :class="thirtydayschange > 0 ? 'text-success' : 'text-danger'" style="font-size:11px; margin-left: 10px;">{{thirtydayschange}}%</span></p>
                    <p class="py-3"><b style="width: 90px; display: inline-block;">90 days:</b> £{{ninetydays}} <span :class="ninetydayschange > 0 ? 'text-success' : 'text-danger'" style="font-size:11px; margin-left: 10px;">{{ninetydayschange}}%</span></p>
                    <hr style="border-top: 1px solid #333333;"/>
                    <p class="py-3"><b style="width: 90px; display: inline-block;">M.T.D:</b> £{{mtd}}</p>
                    <p class="py-3"><b style="width: 90px; display: inline-block;">Y.T.D:</b> £{{ytd}}</p>
                </div>
            </card>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-3">
        <div class="px-3 mb-6 w-1/3"  style="width:33%">
            <card class="d-block">
                <div class="px-3 py-3" v-if="topproducts != null">
                    
                    <table cellpadding="0" cellspacing="0" data-testid="resource-table" class="table w-full table-default">
                        <tr><td class="text-left" style="border-top: 0;"><h3 class="py-3">Top Products</h3></td><td class="text-center" style="border-top: 0;font-weight:900;">%</td><td class="text-center" style="border-top: 0;font-weight:900;">X</td><td class="text-center" style="border-top: 0;font-weight:900;">£</td></tr>
                        <tr dusk="1-row" v-for="p in topproducts">
                            <td class="w-24" style="font-size: 14px;">{{p.name}}</td>
                            <td class="w-16" style="font-size: 14px;">{{p.percent}}</td>
                            <td class="w-16" style="font-size: 14px;">{{p.count}}</td>
                            <td class="w-16" style="font-size: 14px;">£{{p.total.toFixed(2)}}</td>
                        </tr>
                    </table>
                </div>
            </card>
        </div>
        <div class="px-3 mb-6 w-1/3"  style="width:33%">
            <card class="d-block">
                <div class="px-3 py-3" v-if="countries != null">
                    <table cellpadding="0" cellspacing="0" data-testid="resource-table" class="table w-full table-default">
                        <tr><td class="text-left" style="border-top: 0;"><h3 class="py-3">Top Countries</h3></td><td class="text-center" style="border-top: 0;font-weight:900;">%</td><td class="text-center" style="border-top: 0;font-weight:900;">£</td></tr>
                        <tr dusk="1-row" v-for="c in countries">
                            <td class="w-24" style="font-size: 14px;">{{c.name}}</td>

                            <td class="w-16" style="font-size: 14px;" v-if="days == 7">{{c.sevendaypercent}}%</td>
                            <td class="w-16" style="font-size: 14px;" v-if="days == 30">{{c.thirtydaypercent}}%</td>
                            <td class="w-16" style="font-size: 14px;" v-if="days == 90">{{c.ninetydaypercent}}%</td>

                            <td class="w-16" style="font-size: 14px;" v-if="days == 7">£{{c.sevendaytotal.toFixed(2)}}</td>
                            <td class="w-16" style="font-size: 14px;" v-if="days == 30">£{{c.thirtydaytotal}}</td>
                            <td class="w-16" style="font-size: 14px;" v-if="days == 90">£{{c.ninetydaytotal}}</td>

                        </tr>
                    </table>                    
                </div>
            </card>
        </div>
        <div class="px-3 mb-6 w-1/3"  style="width:33%">
            <card class="d-block">
                <div class="px-3 py-3">
                    <h3 class="py-3">Sales Volume</h3>
                    <p>Coming soon!</p>
                </div>
            </card>
        </div>
    </div>
  </div>
</template>

<script>
  
const axios = require('axios');
export default {
    props: [
    'card',

    // The following props are only available on resource detail cards...
    // 'resource',
    // 'resourceId',
    // 'resourceName',
    ],
    data() {
      return {
        sales: [],
        topproducts: null,
        countries: null,
        thirtydays: null,
        thirtydayschange: 0,
        ninetydays: null,
        ninetydayschange: 0,
        mtd: null,
        ytd: null,
        today: null,
        todaychange: 0,
        days: 30,
        myChart: null,
      }
    },
    mounted() {
      const loadScript = (source, beforeEl, async = true, defer = true) => {
          return new Promise((resolve, reject) => {
              let script = document.createElement('script');
              const prior = beforeEl || document.getElementsByTagName('script')[0];

              script.async = async;
              script.defer = defer;

              function onloadHander(_, isAbort) {
                if (isAbort || !script.readyState || /loaded|complete/.test(script.readyState)) {
                  script.onload = null;
                  script.onreadystatechange = null;
                  script = undefined;

                  if (isAbort) { reject(); } else { resolve(); }
              }
          }

          script.onload = onloadHander;
          script.onreadystatechange = onloadHander;

          script.src = source;
          prior.parentNode.insertBefore(script, prior);
      });
      }
      const scriptUrl = 'https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js';
        loadScript(scriptUrl).then(() => {

        this.getProductData();
        this.getTotals();
        this.getCountries();
        this.getSales();
        

      }, () => {
          console.log('fail to load script');
      });
      
      
      
        
    },
    methods: {
        getTotals(){
            axios.get('/api/sales/get-totals').then(response => {
                // Empty fields and enable success message
                this.thirtydays = response.data[0]['Thirty Days'];
                this.thirtydayschange = response.data[1]['Thirty Days change'];
                this.ninetydays = response.data[2]['Ninety Days'];
                this.ninetydayschange = response.data[3]['Ninety Days change'];
                this.mtd = response.data[4]['MTD'];
                this.ytd = response.data[5]['YTD'];
                this.todaychange = response.data[6]['Previous Day change'];
                this.today = response.data[7]['Today'];
            })
            .catch(error => {
                // Error handling
                this.loaded = true;
                console.log(error);
                // if (error.response.status === 422) {
                //   this.errors = error.response.data.errors || {};
                // }
            });
            
        },

        getProductData(){
            axios.get('/api/sales/get-product-data/' + this.days).then(response => {
                // Empty fields and enable success message
                this.topproducts = response.data;
            })
            .catch(error => {
                // Error handling
                this.loaded = true;
                console.log(error);
                // if (error.response.status === 422) {
                //   this.errors = error.response.data.errors || {};
                // }
            });
            
        },

        getCountries() {
            axios.get('/api/sales/get-top-countries/' + this.days).then(response => {
                // Empty fields and enable success message
                this.countries = response.data;
            })
            .catch(error => {
                // Error handling
                this.loaded = true;
                console.log(error);
                // if (error.response.status === 422) {
                //   this.errors = error.response.data.errors || {};
                // }
            });
        },

        getSales() {
            axios.get('/api/sales/get-sales'+ '?days=' + this.days).then(response => {
                // Empty fields and enable success message
                this.sales = response.data;
                this.createChart();
            })
            .catch(error => {
                // Error handling
                this.loaded = true;
                console.log(error);
                // if (error.response.status === 422) {
                //   this.errors = error.response.data.errors || {};
                // }
            });
        },
        getMoreSales() {
            this.getProductData();
            this.getCountries();
            axios.get('/api/sales/get-sales'+ '?days=' + this.days).then(response => {
                // Empty fields and enable success message
                this.sales = response.data;
                this.myChart.destroy();
                this.createChart();
            })
            .catch(error => {
                // Error handling
                this.loaded = true;
                console.log(error);
                // if (error.response.status === 422) {
                //   this.errors = error.response.data.errors || {};
                // }
            });
        },
        createChart(){

            var days = [];
            var cards = [];
            var paypals = [];
            var totals = [];
            for (var i = 0; i < this.sales.length; i++) { 
                days.push(this.sales[i]['day']);
                cards.push(this.sales[i]['cardpayments']);
                paypals.push(this.sales[i]['paypalpayments']);
                totals.push(this.sales[i]['total']);
            }
            const ctx = document.getElementById('myChart').getContext('2d');
            this.myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: days,
                    datasets: [
                    {
                        label: 'Total',
                        data: totals,
                        backgroundColor: [
                        'rgba(68, 122, 231, 1)'
                        ],
                        borderColor: [
                        'rgba(68, 122, 231, 1)'
                        ],
                        borderWidth: 1,
                        type: 'line',
                        yAxisID: 'y1'
                    },
                    {
                        label: 'Card Payments',
                        data: cards,
                        backgroundColor: [
                        'rgba(217, 228, 250, 1)'
                        ],
                        borderColor: [
                        'rgba(217, 228, 250, 1)'
                        ],
                        borderWidth: 1,
                        stack: 'Stack 0',
                        yAxisID: 'y2'
                    },
                    {
                        label: 'PayPal Payments',
                        data: paypals,
                        backgroundColor: [
                        'rgba(219, 244, 233, 1)'
                        ],
                        borderColor: [
                        'rgba(219, 244, 233, 1)'
                        ],
                        borderWidth: 1,
                        stack: 'Stack 0',
                        yAxisID: 'y2'
                    }
                    ]
                },
                options: {
                    scales: {
                      y1: {
                        type: 'linear',
                        display: true,
                        position: 'left',
                      },
                      y2: {
                        type: 'linear',
                        display: true,
                        position: 'right',
                        stacked: true,
                        beginAtZero: true,
                        // grid line settings
                        grid: {
                          drawOnChartArea: false, // only want the grid lines for one axis to show up
                        },
                      },
                    },

                    responsive: true,
                    maintainAspectRatio: false,

                }
                
            });
        }
    }
}
</script>
<style>
    #myChart{
        width: 100%;
        max-height: 300px;
    }
</style>