<template>
	<div class="modal fade" id="questionModal" tabindex="-1" role="dialog" aria-labelledby="questionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content p-5 position-relative">
      	<form id="contact-page-form" @submit.prevent="submit" class="row half_row">
      		<div class="col-12 half_col">
      			<h2 class="mb-2">Ask a Question</h2>
      		</div>
			    <div class="col-md-6 half_col mt-3">
			      <label class="mb-1" for="name">Name</label>
			      <input type="text" class="form-control" v-model="fields.name" placeholder="Name"/>
			      <div v-if="errors && errors.name" class="text-primary">{{ errors.name[0] }}</div>
			    </div>
			    <div class="col-md-6 half_col mt-3">
			      <label class="mb-1" for="email">Email</label>
			      <input type="text" class="form-control" v-model="fields.email" placeholder="Email"/>
			      <div v-if="errors && errors.email" class="text-primary">{{ errors.email[0] }}</div>
			    </div>
			    <div class="col-md-12 mt-4 half_col">
			      <label class="mb-1" for="message">Message</label>
			      <textarea class="form-control" rows="5" v-model="fields.message" placeholder="Message"></textarea>
			      <div v-if="errors && errors.message" class="text-primary">{{ errors.message[0] }}</div>
			    </div>
			    <div class="col-md-6 half_col mt-4">
			      <div id="recaptcha-error" class="text-primary text-left"></div>
			      <div class="g-recaptcha mb-3" :data-sitekey="this.$props.recaptcha" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
			    </div>
			    <div class="col-md-6 half_col mt-4 mob-mt-0">
			      <div class="row">
			        <div class="col-12">
			          <button id="submit" type="submit" class="btn btn-primary float-right mob-btn-full">Send</button>
			        </div>
			      </div>
			    </div>
			  </form>
			  <div class="modal-close" data-toggle="modal" data-target="#questionModal">
					<img src="/img/icons/close-modal-dark.svg" alt="close modal" width="40">
				</div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
	props: {
    recaptcha: String,
  },
  data() {
    return {
      errors: {},
        fields: {},
        success: false,
        loaded: true,
    }
  },
  mounted(){
    var script = document.createElement('script');
		script.src = 'https://www.google.com/recaptcha/api.js';
		document.head.appendChild(script);
  },
  methods: {
    submit() {
	    if (this.loaded && grecaptcha.getResponse().length > 0) {
  	  	document.getElementById('recaptcha-error').innerHTML = '';

	      this.loaded = false;
	      this.success = false;
	      this.errors = {};

	      document.getElementById("loader").classList.add("on");
	      document.getElementById("loader-message").innerHTML = "Sending Question";

	      axios.post('/contact/ask-a-question', this.fields)
	      .then(response => {
	        // Empty fields and enable success message
	        grecaptcha.reset();
	        this.fields = {};
	        this.loaded = true;
	        this.success = true;
	        // Turn off loader animation and reirect user to destination page
	        document.getElementById("loader-message").innerHTML = "Question sent successfully";
	        document.getElementById('close-loader-btn').classList.remove('d-none');
					document.getElementById('close-loader-btn').classList.add('d-block');
					document.getElementById('loader-roller').classList.remove('d-block');
					document.getElementById('loader-roller').classList.add('d-none');
					document.getElementById('loader-success').classList.remove('d-none');
					document.getElementById('loader-success').classList.add('d-block');
					document.getElementById('questionModal').style.display = 'none';
	      })
	      .catch(error => {
	        // Error handling
	        console.log(error.response.data);
	        this.loaded = true;
	        if (error.response.status === 422) {
	          this.errors = error.response.data.errors || {};
	        }
	        document.getElementById("loader").classList.remove("on");
	      });
	    }else{
    		document.getElementById('recaptcha-error').innerHTML = 'Please confirm you are not a robot.';
    	}
	  }
  },
}
</script>