<template>
  <form id="contact-page-form" @submit.prevent="submit" class="row half_row">
    <div class="col-md-6 half_col mt-2">
      <label class="mb-1 text-grey text-small" for="name"><i>Name</i></label>
      <input type="text" class="form-control" v-model="fields.name" placeholder="Name"/>
      <div v-if="errors && errors.name" class="text-primary">{{ errors.name[0] }}</div>
    </div>
    <div class="col-md-6 half_col mt-2">
      <label class="mb-1 text-grey text-small" for="subject"><i>Subject</i></label>
      <select class="form-control" v-model="fields.subject">
        <option value="Injuries/Pains/The Programs">Injuries/Pains/The Programs</option>
        <option value="Payment/Your Account">Payment/Your Account</option>
        <option value="Seminars/Collabs">Seminars/Collabs</option>
        <option value="Merchandise">Merchandise</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div class="col-md-6 half_col mt-2">
      <label class="mb-1 text-grey text-small" for="email"><i>Email Address</i></label>
      <input type="text" class="form-control" v-model="fields.email" placeholder="Email Address"/>
      <div v-if="errors && errors.email" class="text-primary">{{ errors.email[0] }}</div>
    </div>
    <div class="col-md-6 half_col mt-2">
      <label class="mb-1 text-grey text-small" for="email-confirm"><i>Confirm Email Address</i></label>
      <input type="text" class="form-control" v-model="fields.email_confirmation" placeholder="Confirm Email Address"/>
      <div v-if="errors && errors.email_confirmation" class="text-primary">{{ errors.email_confirmation[0] }}</div>
    </div>
    <div class="col-md-12 mt-2 half_col">
      <label class="mb-1 text-grey text-small" for="message"><i>Message</i></label>
      <div>
        <vue-editor 
          :editorToolbar="customToolbar" 
          v-model="fields.message" 
          style="max-height: 240px; border-bottom: 1px solid #e0e0e0; overflow-y: auto;"
          @keydown="(e) => fields.message && fields.message.length >= 400 && e.preventDefault()"
          @paste="(e) => { if (fields.message && fields.message.length + e.clipboardData.getData('text').length > 400) { e.preventDefault(); } }"></vue-editor>
        <small class="text-primary">{{ fields.message.length }}/400 characters</small>
      </div>
      <!-- <textarea class="form-control" rows="5" v-model="fields.message" placeholder="Message"></textarea> -->
      <div v-if="errors && errors.message" class="text-primary">{{ errors.message[0] }}</div>
    </div>
    <div class="col-md-6 half_col mt-4">
      <div id="recaptcha-error" class="text-primary text-left"></div>
      <div class="g-recaptcha mb-3" :data-sitekey="this.$props.recaptcha" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
    </div>
    <div class="col-md-6 half_col mt-4 mob-mt-0">
      <div class="row">
        <div class="col-12 pb-4">
          <button id="submit" type="submit" class="btn btn-primary float-right mob-btn-full">Send</button>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
  import { VueReCaptcha } from 'vue-recaptcha-v3';
  import { VueEditor } from "vue3-editor";
  export default {
    props: {
      recaptcha: String,
      cat: String
    },
    components:{
      VueEditor
    },
    data() {
      return {
        errors: {},
        customToolbar: [["bold", "italic", "underline"], [{ list: "bullet" }]],
        fields: {
          subject: this.$props.cat,
          message: ''
        },
        success: false,
        loaded: true,
      }
    },
    watch: {
      // whenever question changes, this function will run
      cat(newCat, oldCat) {
        this.fields.subject = newCat;
      }
    },
    methods: {
      async submit() {
        this.loaded = false;
        this.success = false;
        this.errors = {};

        try {
          const token = await this.$recaptcha('contact_form');
          if (token) {
            // Proceed with form submission
            document.getElementById("loader").classList.add("on");
            document.getElementById("loader-message").innerHTML = "Sending Message";

            axios.post('/contact/submit', { ...this.fields, recaptcha_token: token })
              .then(response => {
                this.handleSuccess();
              })
              .catch(error => {
                this.handleError(error);
              });
          }
        } catch (error) {
          console.error('ReCAPTCHA execution failed', error);
        }
 
      },
      preventExcessCharacters(event) {
        if (event.target.value.length > 400) {
          event.preventDefault();
        }
      },
      handlePaste(event) {
        if (event.target.value.length > 400) {
          event.preventDefault();
        }
      },
      handleSuccess() {
        this.fields = {};
        this.fields.subject = this.$props.cat;
        this.loaded = true;
        this.success = true;
        this.$emit('hideForm');
        // Turn off loader animation and reirect user to destination page
        document.getElementById("loader-message").innerHTML = "Message sent successfully";
        document.getElementById("loader-second-text").innerHTML = "Thanks for your email! One of the team will get back to you within 3-5 working days!";
        document.getElementById('loader-second-text').classList.remove('d-none');
        document.getElementById('loader-second-text').classList.add('d-block');
        document.getElementById('close-loader-btn').classList.remove('d-none');
        document.getElementById('close-loader-btn').classList.add('d-block');
        document.getElementById('loader-roller').classList.remove('d-block');
        document.getElementById('loader-roller').classList.add('d-none');
        document.getElementById('loader-success').classList.remove('d-none');
        document.getElementById('loader-success').classList.add('d-block');
      },
      handleError(error) {
        console.log(error);
        document.getElementById("loader-message").innerHTML = "Check form for errors";
        document.getElementById("loader").classList.remove("on");
      }
    }
  }
</script>
