<template>
  <div class="container">
    <div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <div class="d-table">
          <div class="d-table-cell align-middle">
            <h2 class="text-white">Tom Morrison Fact #{{num}}</h2>
            <hr class="white-line"/>
            <h5 class="text-white">{{fact}}</h5>
            <transition name="fade">
              <div class="row">
                <div class="col-12 mt-5">
                  <div class="btn btn-primary hvr-sweep-to-right mx-auto d-block" @click="getFact()">Generate Fact</div>
                </div>
              </div>
            </transition>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      count: Number,
    },
    data() {
      return {
        errors: {},
        success: false,
        loaded: true,
        fact: {},
        num: 0,
      }
    },
    mounted() {
      this.getFact();
    },
    methods: {
      getFact() {
        if (this.loaded) {

          this.loaded = false;
          this.success = false;
          this.errors = {};

          axios.get('/api/get-fact/').then(response => {
            // Empty fields and enable success message
            this.loaded = true;
            this.success = true;
            this.fact = response.data.content;
            this.num = response.data.id;
          })


          .catch(error => {
            // Error handling
            this.loaded = true;
            console.log(error);
            // if (error.response.status === 422) {
            //   this.errors = error.response.data.errors || {};
            // }
          });
        }
      }
    }
  }
</script>
