<template>
  <div class="container mb-5 pb-5">
    <div class="row">
      <div v-for="video in videos" class="col-md-6 mb-4">
        <div class="video-container">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" :src="'https://www.youtube.com/embed/' + video.link + '?rel=0&amp;showinfo=0'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <div class="video-text">
            <h5 class="mb-3 scroll">{{video.title}}</h5>
            <div v-html="video.description"></div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <transition name="fade">
          <div class="row">
            <div class="col-12">
              <div v-if="more" class="btn btn-primary hvr-sweep-to-right mx-auto d-block" @click="getMore()">Load More</div>
            </div>
          </div>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      count: Number,
    },
    data() {
      return {
        errors: {},
        success: false,
        offset: 0,
        limit: 4,
        loaded: true,
        videos: {},
        more: false,
      }
    },
    mounted() {
      this.getVideos();
    },
    methods: {
      getVideos() {
        if (this.loaded) {

          this.loaded = false;
          this.success = false;
          this.errors = {};
          this.offset = 0;

          axios.get('/api/get-free-videos/' + this.offset + '/' + this.limit).then(response => {
            // Empty fields and enable success message
            this.fields = {};
            this.loaded = true;
            this.success = true;
            this.videos = response.data;
            if(this.videos.length < this.$props.count){
              this.more = true;
            }else{
              this.more = false;
            }
          })

          .then(function (response) {

          })

          .catch(error => {
            // Error handling
            this.loaded = true;
            console.log(error);
            // if (error.response.status === 422) {
            //   this.errors = error.response.data.errors || {};
            // }
          });
        }
      },
      getMore() {
        if (this.loaded) {
          this.loaded = false;
          this.success = false;
          this.errors = {};
          this.offset = this.offset + this.limit;

          axios.get('/api/get-free-videos/' + this.offset + '/' + this.limit).then(response => {
            // Empty fields and enable success message
            this.fields = {};
            this.loaded = true;
            this.success = true;
            this.videos.push.apply(this.videos, response.data);
            if(this.videos.length < this.$props.count){
              this.more = true;
            }else{
              this.more = false;
            }
          })

          .then(function (response) {

          })

          .catch(error => {
            // Error handling
            this.loaded = true;
            console.log(error);
            // if (error.response.status === 422) {
            //   this.errors = error.response.data.errors || {};
            // }
          });
        }
      }
    }
  }
</script>
