<template>
  <div :class="'loader d-table ' + loaderClass">
    <div class="d-table-cell align-middle" :style="'height:'+height+'px;'">
      <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      height: Number,
      loaderClass: String,
    }
  }
</script>
