<template>
	<form id="mailinglist-signup" @submit.prevent="submit" class="row half_row justify-content-center">
		<div class="col-6 half_col mb-3">
			<input id="ml-first-name" type="text" class="form-control" name="first_name" placeholder="First Name" v-model="fields.first_name" style="height: 48px;"/>
		</div>
		<div class="col-6 half_col mb-3">
			<input id="ml-last-name" type="text" class="form-control" name="last_name" placeholder="Last Name" v-model="fields.last_name" style="height: 48px;"/>
		</div>
		<div class="col-8 half_col pr-0">
			<input id="ml-email" type="email" class="form-control" name="email" placeholder="Enter your Email" v-model="fields.email" style="height: 48px;"/>
			<div v-if="errors && errors.email" class="text-primary">{{ errors.email[0] }}</div>
		</div>
		<div class="col-4 half_col pl-0">
			<button class="btn btn-primary" id="submit" type="submit">Sign Up</button>
		</div>
	</form>
</template>
<script>
	import { VueReCaptcha } from 'vue-recaptcha-v3';
	export default {
		components:{
			VueReCaptcha
		},
		data() {
			return {
				fields: {
					first_name: "",
					last_name: "",
					email: "",
				},
				errors: {},
				success: false
			}
		},
		methods: {
      async submit() {
    		this.success = false;
    		this.errors = {};

    		try {
          const token = await this.$recaptcha('signup');
          if (token) {
            // Proceed with form submission
            document.getElementById("loader").classList.add("on");
	      		document.getElementById("loader-message").innerHTML = "Subscribing...";

            axios.post('/mailinglist', { ...this.fields, recaptcha_token: token })
              .then(response => {
                this.handleSuccess();
              })
              .catch(error => {
                this.handleError(error);
              });
          }
        } catch (error) {
          console.error('ReCAPTCHA execution failed', error);
        }
 
      },
      handleSuccess() {
	      this.fields = {};
	      document.getElementById("loader-message").innerHTML = "Subscribed successfully!";
	      document.getElementById("loader-btn").innerHTML = "Blog";
	      document.getElementById("loader-second-text").innerHTML = "<h3 class='mt-3 mb-3'>Welcome to the 7 Days of Awesome</h3><p>Day 1 will be in. your inbox soon, if you can't see it check your spam/junk/promotions folder</p><p>In the mean time, why not <a href='/blog'>check our our blog</a>.</p>";
	      document.getElementById('loader-link').href = '/blog';
        document.getElementById('loader-link').classList.remove('d-none');
        document.getElementById('loader-second-text').classList.remove('d-none');
        document.getElementById('loader-btn').classList.remove('d-none');
        document.getElementById('loader-roller').classList.remove('d-block');
        document.getElementById('loader-roller').classList.add('d-none');
        console.log(document.getElementById('loader-link').href);
	    },
	    handleError(error) {
	    	console.log(error.response.data.message);
	      document.getElementById("loader-message").innerHTML = "Check form for errors";
	      document.getElementById("loader").classList.remove("on");
	    }
    },
  }
</script>