<template>
  <div id="products-container" class="container mb-5 mob-mb-0">
    <div class="row">
      <div v-for="product in products.data" :key="product.id" class="col-lg-4 col-md-6 mb-5 mob-mb-0 product-holder">
        <a :href="'/products/'+product.slug">
          <div class="product-container mb-3"  data-fade="fadeIn">
            <div class="product-image" :style="'background-image: url('+product.image+');'"></div>
            <div class="product-text">
              <h5 class="mb-3 scroll">{{product.name.substring(0, 50)}}<span v-if="product.id == 1"> &reg;</span><span v-if="product.name.length > 50"> [...]</span></h5>
              <p class="mb-2 product-price text-primary" v-if="product.sale_price"><s class="text-grey">&pound;{{product.price}}</s> &nbsp; &pound;{{product.sale_price}}</p>
              <p class="mb-2 product-price text-primary" v-else>&pound;{{product.price}}</p>
              <p>{{product.exerpt.substring(0, 100)}} [...]</p>
              <a :href="'/products/'+product.slug" class="d-none d-md-block">
                <div class="read-more mt-3">View Product</div>
              </a>
            </div>
            <a :href="'/basket/add/'+product.id" class="add-to-basket"><i class="fa fa-cart-plus"></i></a>
          </div>
        </a>
      </div>
      <div class="col-12">
        <transition name="fade">
          <div class="row">
            <div class="col-12">
              <div class="pagination-holder blog-pagination">
                <pagination :data="products" @pagination-change-page="getProducts"></pagination>
              </div>
            </div>
          </div>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      count: Number,
      category: String,
    },
    watch: { 
      category: function(newVal, oldVal) {
        this.getProducts();
      }
    },
    data() {
      return {
        errors: {},
        success: false,
        limit: 12,
        loaded: true,
        products: {},
        more: false,
      }
    },
    mounted() {
      this.getProducts();
    },
    methods: {
      getProducts(page = 1) {
        if (this.loaded) {

          this.loaded = false;
          this.success = false;
          this.errors = {};
          this.offset = 0;

          axios.get('/api/products/get/' + this.$props.category + '/' + this.limit + '?page=' + page).then(response => {
            // Empty fields and enable success message
            this.fields = {};
            this.loaded = true;
            this.success = true;
            this.products = response.data;
            if(this.products.length < this.$props.count){
              this.more = true;
            }else{
              this.more = false;
            }
          })
          .catch(error => {
            // Error handling
            this.loaded = true;
            console.log(error);
            // if (error.response.status === 422) {
            //   this.errors = error.response.data.errors || {};
            // }
          });
        }
      },
      getMore() {
        if (this.loaded) {
          this.loaded = false;
          this.success = false;
          this.errors = {};
          this.offset = this.offset + this.limit;

          axios.get('/api/products/get/' + this.category + '/' + this.offset + '/' + this.limit).then(response => {
            // Empty fields and enable success message
            this.fields = {};
            this.loaded = true;
            this.success = true;
            this.products.push.apply(this.products, response.data);
            if(this.products.length < this.$props.count){
              this.more = true;
            }else{
              this.more = false;
            }
          })

          .then(function (response) {

          })

          .catch(error => {
            // Error handling
            this.loaded = true;
            console.log(error);
            // if (error.response.status === 422) {
            //   this.errors = error.response.data.errors || {};
            // }
          });
        }
      }
    }
  }
</script>