<template>
  <form id="contact-page-form" @submit.prevent="submit" class="row half_row">
    <div class="col-12 half_col mt-4">
      <h3>Basic information</h3>
    </div>
    <div class="col-md-6 half_col mt-3">
      <label class="mb-1" for="name"><b>Name</b></label>
      <input type="text" class="form-control" v-model="fields.name" placeholder="Name"/>
      <div v-if="errors && errors.name" class="text-primary">{{ errors.name[0] }}</div>
    </div>
    <div class="col-md-6 half_col mt-3">
      <label class="mb-1" for="email"><b>Age</b></label>
      <select class="form-control" v-model="fields.age">
        <option value="Select your age" disabled>Select your age</option>
        <option v-for="x in filteredOptions" :key="x" :value="x">{{ x }}</option>
      </select>
      <div v-if="errors && errors.age" class="text-primary">{{ errors.age[0] }}</div>
    </div>
    <div class="col-md-12 mt-4 half_col">
      <label class="mb-1" for="health_issues"><b>Please list any existing known health issues: (incl. diabetes, auto immune disorders etc.)</b></label>
      <textarea id="health_issues" class="form-control" rows="5" v-model="fields.health_issues" placeholder="Please list any existing known health issues"></textarea>
      <div v-if="errors && errors.health_issues" class="text-primary">{{ errors.health_issues[0] }}</div>
    </div>
    <div class="col-md-12 mt-4 half_col">
      <label class="mb-1" for="past_injuries"><b>Please list any past injuries: (including car accidents, broken bones, back pain etc)</b></label>
      <textarea id="past_injuries" class="form-control" rows="5" v-model="fields.past_injuries" placeholder="Please list any past injuries"></textarea>
      <div v-if="errors && errors.past_injuries" class="text-primary">{{ errors.past_injuries[0] }}</div>
    </div>
    <div class="col-12 half_col">
      <hr class="my-5">
      <h3>Preferred contact method</h3>
      <p>You only need to fill in one of these.</p>
    </div>
    <div class="col-md-6 half_col mt-3">
      <label class="mb-1" for="phone"><b>Whatsapp / Phone</b></label>
      <input type="text" class="form-control" v-model="fields.phone" placeholder="Phone Number"/>
      <div v-if="errors && errors.phone" class="text-primary">{{ errors.phone[0] }}</div>
    </div>
    <div class="col-md-6 half_col mt-3">
      <label class="mb-1" for="email"><b>Email</b></label>
      <input type="text" class="form-control" v-model="fields.email" placeholder="Email"/>
      <div v-if="errors && errors.email" class="text-primary">{{ errors.email[0] }}</div>
    </div>
    <div class="col-12 half_col">
      <hr class="my-5">
      <h3>Your Diet</h3>
    </div>
    <div class="col-md-6 half_col mt-3">
      <p><b>How would you describe your diet?</b></p>
      <label for="monday" class="d-block">
        <input id="monday" type="radio" name="diet[]" v-model="fields.diet" value="Diet ?! …. I start one every Monday" class="mr-2"/>Diet ?! …. I start one every Monday
      </label>
      <label for="ok" class="d-block">
        <input id="ok" type="radio" name="diet[]" v-model="fields.diet" value="I eat ok, but don’t track it" class="mr-2"/>I eat ok, but don’t track it
      </label>
      <label for="treat" class="d-block">
        <input id="treat" type="radio" name="diet[]" v-model="fields.diet" value="My diet is healthy, with the occasional treat" class="mr-2"/>My diet is healthy, with the occasional treat
      </label>
      <label for="strict" class="d-block">
        <input id="strict" type="radio" name="diet[]" v-model="fields.diet" value="I am very strict with what I eat, and I track my macros" class="mr-2"/>I am very strict with what I eat, and I track my macros
      </label>
      <div v-if="errors && errors.diet" class="text-primary">{{ errors.diet[0] }}</div>
    </div>
    <div class="col-md-6 half_col mt-3">
      <p><b>How much water do you drink per day?</b></p>
      <label for="none" class="d-block">
        <input id="none" type="radio" name="water[]" v-model="fields.water" value="None / Barely any" class="mr-2"/>None / Barely any
      </label>
      <label for="onetothree" class="d-block">
        <input id="onetothree" type="radio" name="water[]" v-model="fields.water" value="Around 1-3 litres" class="mr-2"/>Around 1-3 litres
      </label>
      <label for="threetofive" class="d-block">
        <input id="threetofive" type="radio" name="water[]" v-model="fields.water" value="Around 3-5 litres" class="mr-2"/>Around 3-5 litres
      </label>
      <label for="morethanfive" class="d-block">
        <input id="morethanfive" type="radio" name="water[]" v-model="fields.water" value="More than 5 litres per day" class="mr-2"/>More than 5 litres per day
      </label>
      <div v-if="errors && errors.water" class="text-primary">{{ errors.water[0] }}</div>
    </div>
    <div class="col-md-12 mt-4 half_col">
      <label class="mb-1" for="suppliments"><b>Do you take any supplements? If so, write them below:</b></label>
      <textarea id="suppliments" class="form-control" rows="5" v-model="fields.suppliments" placeholder="Do you take any supplements?"></textarea>
      <div v-if="errors && errors.suppliments" class="text-primary">{{ errors.suppliments[0] }}</div>
    </div>
    <div class="col-12 half_col">
      <hr class="my-5">
      <h3>Your Traning</h3>
    </div>
    <div class="col-md-6 half_col mt-3">
      <p><b>How often do you train?</b></p>
      <label for="training_1" class="d-block">
        <input id="training_1" type="radio" name="training_frequency[]" v-model="fields.training_frequency" value="1-2 times per week" class="mr-2"/>1-2 times per week
      </label>
      <label for="training_2" class="d-block">
        <input id="training_2" type="radio" name="training_frequency[]" v-model="fields.training_frequency" value="3-4 times per week" class="mr-2"/>3-4 times per week
      </label>
      <label for="training_3" class="d-block">
        <input id="training_3" type="radio" name="training_frequency[]" v-model="fields.training_frequency" value="5-6 times per week" class="mr-2"/>5-6 times per week
      </label>
      <label for="training_4" class="d-block">
        <input id="training_4" type="radio" name="training_frequency[]" v-model="fields.training_frequency" value="Every day / multiple time’s per day" class="mr-2"/>Every day / multiple time’s per day
      </label>
      <div v-if="errors && errors.training_frequency" class="text-primary">{{ errors.training_frequency[0] }}</div>
    </div>
    <div class="col-md-12 mt-4 half_col">
      <label class="mb-1" for="sports"><b>What are your current activities/sports?</b></label>
      <textarea id="sports" class="form-control" rows="5" v-model="fields.sports" placeholder="What are your current activities/sports?"></textarea>
      <div v-if="errors && errors.sports" class="text-primary">{{ errors.sports[0] }}</div>
    </div>
    <div class="col-md-12 mt-4 half_col">
      <label class="mb-1" for="other_training"><b>What other training have you done in the past? (Including sports played at school or recreational)</b></label>
      <textarea id="other_training" class="form-control" rows="5" v-model="fields.other_training" placeholder="What other training have you done in the past?"></textarea>
      <div v-if="errors && errors.other_training" class="text-primary">{{ errors.other_training[0] }}</div>
    </div>
    <div class="col-md-12 mt-4 half_col">
      <label class="mb-1" for="strength_training"><b>If you do strength training, what are your current strength numbers?<br>(e.g. Squat, deadlift, bench, overhead press, snatch, clean, jerk)</b></label>
      <textarea id="strength_training" class="form-control" rows="5" v-model="fields.strength_training" placeholder="If you do strength training, what are your current strength numbers?"></textarea>
      <div v-if="errors && errors.strength_training" class="text-primary">{{ errors.strength_training[0] }}</div>
    </div>
    <div class="col-md-12 mt-4 half_col">
      <label class="mb-1" for="struggle"><b>What movements do you struggle with (if any)?</b></label>
      <textarea id="struggle" class="form-control" rows="5" v-model="fields.struggle" placeholder="What movements do you struggle with (if any)?"></textarea>
      <div v-if="errors && errors.struggle" class="text-primary">{{ errors.struggle[0] }}</div>
    </div>
    <div class="col-md-12 mt-4 half_col">
      <label class="mb-1" for="aggravate"><b>Are there any movements that always seem to hurt or aggravate you?</b></label>
      <textarea id="aggravate" class="form-control" rows="5" v-model="fields.aggravate" placeholder="Are there any movements that always seem to hurt or aggravate you?"></textarea>
      <div v-if="errors && errors.aggravate" class="text-primary">{{ errors.aggravate[0] }}</div>
    </div>
    <div class="col-md-12 mt-4 half_col">
      <label class="mb-1" for="tightness"><b>Are aware of any "tightness" or "restrictions" you have? </b></label>
      <textarea id="tightness" class="form-control" rows="5" v-model="fields.tightness" placeholder="Are aware of any tightness or restrictions you have? "></textarea>
      <div v-if="errors && errors.tightness" class="text-primary">{{ errors.tightness[0] }}</div>
    </div>
    <div class="col-md-12 mt-4 half_col">
      <label class="mb-1" for="dominant_side"><b>Would you say you have a more dominant side? (i.e. Stronger arm, better balance on one leg)</b></label>
      <textarea id="dominant_side" class="form-control" rows="5" v-model="fields.dominant_side" placeholder="Would you say you have a more dominant side?"></textarea>
      <div v-if="errors && errors.dominant_side" class="text-primary">{{ errors.dominant_side[0] }}</div>
    </div>
    <div class="col-md-12 mt-4 half_col">
      <label class="mb-1" for="coach"><b>Do you currently have a coach and what are their suggestions towards your practice?</b></label>
      <textarea id="coach" class="form-control" rows="5" v-model="fields.coach" placeholder="Do you currently have a coach and what are their suggestions towards your practice?"></textarea>
      <div v-if="errors && errors.coach" class="text-primary">{{ errors.coach[0] }}</div>
    </div>
    <div class="col-12 half_col">
      <hr class="my-5">
      <h3>Your Goals</h3>
    </div>
    <div class="col-md-12 mt-4 half_col">
      <label class="mb-1" for="progress"><b>What areas do you want to make progress in?</b></label>
      <textarea id="progress" class="form-control" rows="5" v-model="fields.progress" placeholder="What areas do you want to make progress in?"></textarea>
      <div v-if="errors && errors.progress" class="text-primary">{{ errors.progress[0] }}</div>
    </div>
    <div class="col-md-12 mt-4 half_col">
      <label class="mb-1" for="short_term_goals"><b>What is/are you short term goal(s)? (6 months – 1 year)</b></label>
      <textarea id="short_term_goals" class="form-control" rows="5" v-model="fields.short_term_goals" placeholder="What is/are you short term goal(s)? (6 months – 1 year)"></textarea>
      <div v-if="errors && errors.short_term_goals" class="text-primary">{{ errors.short_term_goals[0] }}</div>
    </div>
    <div class="col-md-12 mt-4 half_col">
      <label class="mb-1" for="long_term_goals"><b>What is/are you long term goal(s)? (3-5 years)</b></label>
      <textarea id="long_term_goals" class="form-control" rows="5" v-model="fields.long_term_goals" placeholder="What is/are you long term goal(s)? (3-5 years)"></textarea>
      <div v-if="errors && errors.long_term_goals" class="text-primary">{{ errors.long_term_goals[0] }}</div>
    </div>
    <div class="col-12 half_col">
      <hr class="my-5">
      <h3 class="mb-3">What happens next!? </h3>
      <p>Once you send this completed questionnaire and once we have established a connection either via email, Facebook or Whatsapp (whichever suits you best) I will send you some tests to run through and begin to design your program.</p>
      <p>As you go through the program, I will need you to record yourself performing the exercises so I can give you any corrections necessary.</p>
      <p>After the first week we will review how you are doing the exercises and how well they are working and readjust from there! If at any point you have any questions, or you are unsure about any exercise just get in touch – it’s better to ask then to hinder your results!</p>
      <hr class="mt-5">
    </div>
    <div class="col-md-6 half_col mt-4">
      <div id="recaptcha-error" class="text-primary text-left"></div>
      <div class="g-recaptcha mb-3" :data-sitekey="this.$props.recaptcha" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
    </div>
    <div class="col-md-6 half_col mt-4 mob-mt-0">
      <div class="row">
        <div class="col-12">
          <button id="submit" type="submit" class="btn btn-primary float-right mob-btn-full">Send</button>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
  export default {
    props: {
      recaptcha: String,
      name: String,
    },
    data() {
      return {
        filteredOptions: Array.from({ length: 84 }, (_, index) => index + 16),
        errors: {},
        fields: {
          name: this.$props.name,
          age: 'Select your age',
        },
        success: false,
        loaded: true,
      }
    },
    mounted(){
      var script = document.createElement('script');
      script.src = 'https://www.google.com/recaptcha/api.js';
      document.head.appendChild(script);
    },
    methods: {
      submit() {
        if (this.loaded) {

          this.loaded = false;
          this.success = false;
          this.errors = {};

          document.getElementById("loader").classList.add("on");
          document.getElementById("loader-message").innerHTML = "Submitting Questionnaire";

          axios.post('/questionnaire/submit', this.fields)
          .then(response => {
            // Empty fields and enable success message
            grecaptcha.reset();
            this.fields = {};
            this.loaded = true;
            this.success = true;
            // Turn off loader animation and reirect user to destination page
            document.getElementById("loader-message").innerHTML = "Questionnaire submitted successfully";
            document.getElementById('loader-link').setAttribute('href', '/login');
            document.getElementById('loader-btn').innerHTML = 'Close';
            document.getElementById('loader-btn').classList.remove('d-none');
            document.getElementById('loader-btn').classList.add('d-block');
            document.getElementById('loader-roller').classList.remove('d-block');
            document.getElementById('loader-roller').classList.add('d-none');
            document.getElementById('loader-success').classList.remove('d-none');
            document.getElementById('loader-success').classList.add('d-block');

          })

          .catch(error => {
            // Error handling
            console.log(error.response.data);
            this.loaded = true;
            if (error.response.status === 422) {
              this.errors = error.response.data.errors || {};
            }
            document.getElementById("loader").classList.remove("on");
          });
        }
      }
    }
  }
</script>
