<template>
	<form id="seven-days-mailinglist-signup" @submit.prevent="submit" class="row half_row justify-content-center">
		<div class="col-lg-6 mb-3 half_col">
			<label for="ml-FNAME" class="mb-1">First Name</label>
			<input id="ml-FNAME" type="text" class="form-control" name="FNAME" placeholder="First Name" v-model="fields.FNAME" style="height: 48px;"/>
			<div v-if="errors && errors.FNAME" class="text-primary">{{ errors.FNAME[0] }}</div>
		</div>
		<div class="col-lg-6 mb-3 half_col">
			<label for="ml-LNAME" class="mb-1">Last Name</label>
			<input id="ml-LNAME" type="text" class="form-control" name="LNAME" placeholder="Last Name" v-model="fields.LNAME" style="height: 48px;"/>
			<div v-if="errors && errors.LNAME" class="text-primary">{{ errors.LNAME[0] }}</div>
		</div>

		<div class="col-lg-12 mb-3 half_col">
			<label for="ml-email" class="mb-1">Email Address</label>
			<input id="ml-email" type="email" class="form-control" name="email" placeholder="Email Address" v-model="fields.email" style="height: 48px;"/>
			<div v-if="errors && errors.email" class="text-primary">{{ errors.email[0] }}</div>
		</div>
		<div class="col-12 half_col text-right">
			<button class="btn btn-primary d-inline-block mob-w-100" id="submit" type="submit">Sign Up</button>
		</div>
	</form>
</template>
<script>
	import { VueReCaptcha } from 'vue-recaptcha-v3';
	export default {
		data() {
			return {
				fields: {
					FNAME: "",
					LNAME: "",
					email: ""
				},
				errors: {},
				success: false,
				loaded: true,
			}
		},
		methods: {
      async submit() {
    		this.success = false;
    		this.errors = {};

    		try {
          const token = await this.$recaptcha('signup');
          if (token) {
            // Proceed with form submission
            document.getElementById("loader").classList.add("on");
	      		document.getElementById("loader-message").innerHTML = "Subscribing...";

            axios.post('/seven-days-mailinglist', { ...this.fields, recaptcha_token: token })
              .then(response => {
                this.handleSuccess();
              })
              .catch(error => {
                this.handleError(error);
              });
          }
        } catch (error) {
          console.error('ReCAPTCHA execution failed', error);
        }
 
      },
      handleSuccess() {
	      this.fields = {};
	      document.getElementById("loader-message").innerHTML = "Subscribed successfully!";
	      document.getElementById("loader-second-text").innerHTML = "You should get your first email soon! If it doesn't arrive, don't forget to check your Spam/Junk folder.";
        document.getElementById('close-loader-btn').classList.remove('d-none');
        document.getElementById('close-loader-btn').classList.add('d-block');
        document.getElementById('loader-roller').classList.remove('d-block');
        document.getElementById('loader-roller').classList.add('d-none');
        document.getElementById('loader-success').classList.remove('d-none');
        document.getElementById('loader-success').classList.add('d-block');
	    },
	    handleError(error) {
	    	console.log(error.response.data.message);
	      document.getElementById("loader-message").innerHTML = "Check form for errors";
	      document.getElementById("loader").classList.remove("on");
	    }
    }
  }
</script>