<template>
  <form @submit.prevent="submit" class="row half_row share-journey">
    <div class="col-lg-9 col-10 half_col pr-0" v-if="sent == false">
      <input type="text" class="form-control" v-model="fields.email" placeholder="Email"/>
      <p v-if="errors && errors.email" class="text-primary caption mt-2">{{ errors.email[0] }}</p>
      <p v-if="errors.message" class="text-primary caption mt-2">{{ errors.message }}</p>
    </div>
    <div class="col-lg-3 col-2 pl-0 half_col" v-if="sent == false">
      <div class="row">
        <div class="col-12">
          <button id="submit" type="submit" class="btn btn-primary float-right mob-btn-full"><b class="d-none d-md-inline">Send</b><img src="/img/icons/send.svg" alt="send icon" class="d-md-none" width="28" /></button>
        </div>
      </div>
    </div>
    <div class="col-12 half_col text-center" v-else>
    	<p class="text-large text-center text-success"><b>Thanks! Tom will be in touch soon!</b></p>
    </div>
  </form>
</template>

<script>
  export default {
    props: {
      user: Object,
    },
    data() {
      return {
      	sent: false,
        errors: {},
        fields: {
        	email: "",
        },
        success: false,
        loaded: true,
      }
    },
    mounted(){
    	if(this.user != null){
    		this.fields.email = this.user.email;
    	}
    },
    methods: {
      submit() {
        if (this.loaded) {

          this.loaded = false;
          this.success = false;
          this.errors.message = null;
          this.errors = {};
          $('#loader-error').removeClass('d-block').addClass('d-none');
          document.getElementById("loader").classList.add("on");
          document.getElementById("loader-message").innerHTML = "Sending Message";
          document.getElementById("loader-second-text").innerHTML = "";
          $('#loader-second-text').removeClass('d-block').addClass('d-none');

          axios.post('/share-journey/submit', this.fields)
          .then(response => {
            // Empty fields and enable success message
            this.sent= true;
            this.loaded = true;
            this.success = true;
            // Turn off loader animation and reirect user to destination page
            document.getElementById("loader-message").innerHTML = "Message sent successfully";
            $('#close-loader-btn').removeClass('d-none').addClass('d-block');
            $('#loader-roller').removeClass('d-block').addClass('d-none');
            $('#loader-success').removeClass('d-none').addClass('d-block');
          })

          .catch(error => {
            // Error handling
            console.log(error.response);
            document.getElementById("loader-message").innerHTML = "Error";
            document.getElementById("loader-second-text").innerHTML = error.response.data.message;
            $('#loader-second-text').removeClass('d-none').addClass('d-block');
            $('#close-loader-btn').removeClass('d-none').addClass('d-block');
            $('#loader-roller').removeClass('d-block').addClass('d-none');
            $('#loader-error').removeClass('d-none').addClass('d-block');
            
            this.loaded = true;
            if (error.response.status === 422) {
              this.errors = error.response.data.errors || {};
              this.errors.message = error.response.data.message;
            	console.log(this.errors.message);
            }
            // document.getElementById("loader").classList.remove("on");
          });
        }
      }
    }
  }
</script>