<template>
  <div class="container-fluid">
    <div class="row">
      <div class="container top-section top-shop">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-md-8">
                <div class="d-table w-100">
                  <div class="d-table-cell align-middle">
                    <h1 class="page-title mb-3">SHOP</h1>
                    <span class="custom-dropdown big" style="max-width:300px;">
                      <select v-model="category" @change="changeCategory()">  
                        <option value="all">All Products</option>  
                        <option v-for="cat in this.$props.categories" :value="cat.slug">{{cat.name}}</option>
                      </select>
                    </span>
                    <p class="mt-3"><b>For products you've already bought, <a href="/login">login to your dashboard</a>.<br>Looking for our Merchandise? <a href="/merch">Shop here</a>!</b></p>
                  </div>
                </div>
              </div>
            </div>
   <!--          <picture> 
              <source srcset="/img/shop/tom-birthday-website.webp" type="image/webp"> 
              <source srcset="/img/shop/tom-birthday-website.jpg" type="image/jpeg">
              <img src="/img/shop/tom-birthday-website.jpg" class="shop-top-image" alt="Tom morrison s birthday sale." />
            </picture> -->
            <picture> 
              <source srcset="/img/tom-morrison-shop.webp" type="image/webp"> 
              <source srcset="/img/tom-morrison-shop.jpg" type="image/jpeg">
              <img src="/img/tom-morrison-shop.jpg" class="shop-top-image" alt="Tom morrison shocked at the value of his products." />
            </picture>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <products v-bind:category="this.category"></products>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      categories: Array,
    },
    data() {
      return {
        category: "all",
      }
    },
    methods: {
      changeCategory(){
      },
    }
  }
</script>
