<template>
  <form id="contact-page-form" @submit.prevent="submit" class="row half_row">
    <div class="col-md-6 half_col mt-3">
      <label class="mb-1" for="name"><b>Name</b></label>
      <input type="text" class="form-control" v-model="fields.name" placeholder="Name"/>
      <div v-if="errors && errors.name" class="text-primary">{{ errors.name[0] }}</div>
    </div>
    <div class="col-md-6 half_col mt-3">
      <label class="mb-1" for="email"><b>Email</b></label>
      <input type="text" class="form-control" v-model="fields.email" placeholder="Email"/>
      <div v-if="errors && errors.email" class="text-primary">{{ errors.email[0] }}</div>
    </div>
    <div class="col-12 half_col mt-3">
      <label class="mb-1" for="subject"><b>Subject</b></label>
      <input type="text" class="form-control" v-model="fields.subject" placeholder="Subject (max 40 characters)"/>
      <div v-if="errors && errors.subject" class="text-primary">{{ errors.subject[0] }}</div>
    </div>
    <div class="col-md-12 mt-4 half_col">
      <label class="mb-1" for="message"><b>Message</b></label>
      <vue-editor :editorToolbar="customToolbar" v-model="fields.message"></vue-editor>
      <div v-if="errors && errors.message" class="text-primary">{{ errors.message[0] }}</div>
    </div>
    <div class="col-md-6 half_col mt-4">
      <div id="recaptcha-error" class="text-primary text-left"></div>
      <div class="g-recaptcha mb-3" :data-sitekey="this.$props.recaptcha" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
    </div>
    <div class="col-md-6 half_col mt-4 mob-mt-0">
      <div class="row">
        <div class="col-12">
          <button id="submit" type="submit" class="btn btn-primary float-right mob-btn-full">Send</button>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
  import { VueEditor } from "vue3-editor";
  export default {
    props: {
    	user: Object,
      recaptcha: String,
    },
    components:{
      VueEditor
    },
    data() {
      return {
        errors: {},
        customToolbar: [["bold", "italic", "underline"], [{ list: "bullet" }]],
        fields: {
        	name: this.user.full_name,
        	email: this.user.email,
          subject: "",
        },
        success: false,
        loaded: true,
      }
    },
    mounted(){
      var script = document.createElement('script');
      script.src = 'https://www.google.com/recaptcha/api.js';
      document.head.appendChild(script);
    },
    methods: {
      submit() {
        if (this.loaded && grecaptcha.getResponse().length > 0) {
          document.getElementById('recaptcha-error').innerHTML = '';

          this.loaded = false;
          this.success = false;
          this.errors = {};

          document.getElementById("loader").classList.add("on");
          document.getElementById("loader-message").innerHTML = "Sending Message";

          axios.post('/support/submit', this.fields)
          .then(response => {
            // Empty fields and enable success message
            grecaptcha.reset();
            this.fields.message = "";
            this.loaded = true;
            this.success = true;
            // Turn off loader animation and reirect user to destination page
            document.getElementById("loader-message").innerHTML = "Message sent successfully";
            document.getElementById('close-loader-btn').classList.remove('d-none');
            document.getElementById('close-loader-btn').classList.add('d-block');
            document.getElementById('loader-roller').classList.remove('d-block');
            document.getElementById('loader-roller').classList.add('d-none');
            document.getElementById('loader-success').classList.remove('d-none');
            document.getElementById('loader-success').classList.add('d-block');
          })

          .catch(error => {
            // Error handling
            console.log(error.response.data);
            this.loaded = true;
            if (error.response.status === 422) {
              this.errors = error.response.data.errors || {};
            }
            document.getElementById("loader").classList.remove("on");
          });
        }else{
          document.getElementById('recaptcha-error').innerHTML = 'Please confirm you are not a robot.';
        }
      }
    }
  }
</script>
