<template>
  <form id="contact-page-form" @submit.prevent="submit" class="row half_row">
    <div class="col-md-6 half_col mt-3">
      <label class="mb-1" for="name"><b>Name</b></label>
      <input type="text" class="form-control" v-model="fields.name" placeholder="Name"/>
      <div v-if="errors && errors.name" class="text-primary">{{ errors.name[0] }}</div>
    </div>
    <div class="col-md-6 half_col mt-3">
      <label class="mb-1" for="email"><b>Email</b></label>
      <input type="text" class="form-control" v-model="fields.email" placeholder="Email"/>
      <div v-if="errors && errors.email" class="text-primary">{{ errors.email[0] }}</div>
    </div>
    <div class="col-lg-4 half_col mt-3">
      <label class="mb-1" for="day"><b>Preferred day</b></label>
      <select class="form-control" v-model="fields.day">
        <option value="Select your preferred day" disabled>Select your preferred day</option>
        <option value="Any day">Any day</option>
        <option value="Weekends">Weekends</option>
        <option value="Week Days">Week Days</option>
      </select>
      <div v-if="errors && errors.day" class="text-primary">{{ errors.day[0] }}</div>
    </div>
    <div class="col-lg-4 half_col mt-3">
      <label class="mb-1" for="day"><b>Preferred Time</b></label>
      <select class="form-control" v-model="fields.time">
        <option value="Morning">Morning</option>
        <option value="Afternoon">Afternoon</option>
        <option value="Evening">Evening</option>
      </select>
      <div v-if="errors && errors.time" class="text-primary">{{ errors.time[0] }}</div>
    </div>
    <div class="col-lg-4 half_col mt-3">
      <label class="mb-1" for="timezone"><b>Your Timezone</b></label>
      <select id="timezone" class="form-control js-Selector" v-model="fields.timezone"></select>
      <div v-if="errors && errors.timezone" class="text-primary">{{ errors.timezone[0] }}</div>
    </div>
    <div class="col-md-12 mt-4 half_col">
      <label class="mb-1" for="overview"><b>Brief overview of what you'd like help with/want to discuss</b> <span style="font-size:12px;">*max 350 characters</span></label>
      <textarea id="overview" class="form-control" rows="5" v-model="fields.overview" v-on:keyup="countdown" placeholder="Brief overview of what you'd like help with/want to discuss"></textarea>
      <p class='text-right text-small mb-0' style="font-size:12px;" v-bind:class="{'text-danger': hasError }">{{remainingCount}} Remaining</p>
      <div v-if="errors && errors.overview" class="text-primary">{{ errors.overview[0] }}</div>
    </div>
    <div class="col-12 half_col">
      <hr class="mt-5 ">
    </div>
    <div class="col-md-6 half_col mt-4">
      <div id="recaptcha-error" class="text-primary text-left"></div>
      <div class="g-recaptcha mb-3" :data-sitekey="this.$props.recaptcha" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
    </div>
    <div class="col-md-6 half_col mt-4 mob-mt-0">
      <div class="row">
        <div class="col-12">
          <button id="submit" type="submit" class="btn btn-primary float-right mob-btn-full">Send</button>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
  export default {
    props: {
      recaptcha: String,
      name: String,
      email: String,
    },
    data() {
      return {
        errors: {},
        fields: {
          name: this.name,
          email: this.email,
          day: 'Any day',
          time: 'Afternoon',
          timezone: '',
          overview: '',
        },
        maxCount: 350,
        remainingCount: 350,
        success: false,
        loaded: true,
      }
    },
    watch:{
      fields(newval, oldval){
        console.log(newval);
      }
    },
    mounted(){
      $.getScript("https://www.google.com/recaptcha/api.js");
      var theapp = this;
      $.getScript("https://momentjs.com/downloads/moment.js").then(function(){
        $.getScript("https://momentjs.com/downloads/moment-timezone-with-data.js").then(function(){
          const selectorOptions = moment.tz.names()
            .reduce((memo, tz) => {
              memo.push({
                name: tz,
                offset: moment.tz(tz).utcOffset()
              });
              
              return memo;
            }, [])
            .sort((a, b) => {
              return a.offset - b.offset
            })
            .reduce((memo, tz) => {
              const timezone = tz.offset ? moment.tz(tz.name).format('Z') : '';
              if(tz.name == "Europe/London"){
                theapp.fields.timezone = "Europe/London (GMT" +timezone+")";
                return memo.concat(`<option value="${tz.name} (GMT${timezone})" selected>(GMT${timezone}) ${tz.name}</option>`);
                
              }else{
                return memo.concat(`<option value="${tz.name} (GMT${timezone})">(GMT${timezone}) ${tz.name}</option>`);
              }
              
            }, "");

          document.querySelector(".js-Selector").innerHTML = selectorOptions;
        });
      });

    },
    methods: {
      countdown: function() {
        this.remainingCount = this.maxCount - this.fields.overview.length;
        this.hasError = this.remainingCount < 0;
      },
      submit() {
        console.log(this.fields.timezone);
        if (this.loaded) {

          this.loaded = false;
          this.success = false;
          this.errors = {};

          document.getElementById("loader").classList.add("on");
          document.getElementById("loader-message").innerHTML = "Submitting Questionnaire";

          axios.post('/video-call-questionnaire/submit', this.fields)
          .then(response => {
            // Empty fields and enable success message
            grecaptcha.reset();
            this.fields = {};
            this.loaded = true;
            this.success = true;
            // Turn off loader animation and reirect user to destination page
            document.getElementById("loader-message").innerHTML = "Questionnaire submitted successfully";
            $('#loader-link').attr('href', '/login');
            $('#loader-btn').html('Close');
            $('#loader-btn').removeClass('d-none').addClass('d-block');
            $('#loader-roller').removeClass('d-block').addClass('d-none');
            $('#loader-success').removeClass('d-none').addClass('d-block');
          })

          .catch(error => {
            // Error handling
            console.log(error.response.data);
            this.loaded = true;
            if (error.response.status === 422) {
              this.errors = error.response.data.errors || {};
            }
            document.getElementById("loader").classList.remove("on");
          });
        }
      }
    }
  }
</script>
