<template>
	<div id="video-testimonials" class="overflow-hidden pb-5">
		<carousel ref="videocarousel" :items="amount" :margin="7" :wrapAround="true"  :snapAlign="'start'"  :mouse-drag="true" v-if="videos.length">
			<slide v-for="video in videos" :key="video.id" :slide-width="100" @click="playVideo(video.vimeo_id)">
				<div class="video-testimonial">
					<picture>
	          <source :srcset="video.normalwebp" type="image/webp"/> 
	          <source :srcset="video.normal" :type="video.mimetype"/> 
	          <img :src="video.normal" :type="video.mimetype" :alt="video.name + ' video testimonial - Tom Morrison Simplitic Mobility Method'" class="lazy w-100"/>
	        </picture>
					<span class="icon"><i class="fa fa-play" aria-hidden="true"></i></span>
					<span class="name">{{video.name}}</span>
				</div>
			</slide>
			<template #addons>
		    <navigation>
		      <template #next>
		        <span>Next <i class="fa fa-angle-right"></i></span>
		      </template>
		      <template #prev>
		        <span><i class="fa fa-angle-left"></i> Prev</span>
		      </template>
		    </navigation>
		  </template>
		</carousel>
	</div>
</template>
<script>
	import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';
	export default {
		props:{
			amount: Number
		},
	  components: { 
	  	Carousel,
      Slide,
      Pagination,
      Navigation 
    },
	  data() {
			return {
				videos: [],
				vimeoid: "",
				errors: {},
				success: false,
				loaded: true,
			}
		},
		mounted(){
			this.getVideos();
			document.querySelectorAll('.close-video-modal').forEach(function(button) {
		    button.addEventListener('click', function() {
	        document.getElementById('videoTestimonialIframe').src = '';
	        document.getElementById('videoTestimonialsModal').classList.remove('show');
	        document.getElementById('videoTestimonialsModal').style.display = 'none';
	        document.querySelectorAll('.close-video-modal').forEach(function(closeButton) {
	            closeButton.style.display = 'none';
	        });
		    });
			});

			document.getElementById('videoTestimonialsModal').addEventListener('hidden.bs.modal', function(e) {
		    document.querySelectorAll('.close-video-modal').forEach(function(closeButton) {
		      closeButton.style.display = 'none';
		    });
			});

		},
		methods:{
			playVideo(id){
				this.vimeoid = id;
				document.getElementById('videoTestimonialIframe').src = 'https://player.vimeo.com/video/' + id;
				document.getElementById('videoTestimonialsModal').classList.add('show');
				document.getElementById('videoTestimonialsModal').style.display = 'block';
				document.querySelectorAll('.close-video-modal').forEach(function(closeButton) {
				  closeButton.style.display = 'block';
				});
			},
			getVideos(){
				axios.get('/video-testimonials/get/' + this.amount).then(response => {
					this.videos = response.data.data;
				})
				.catch(error => {
          // Error handling
          console.log(error);
        });
			}
		}
	}
</script>
<style lang="scss">
	#video-testimonials{
		.carousel{
			width: 100px;
			height: 180px;
			margin: auto;
			margin-bottom: 40px;
			position: relative;
			.carousel__viewport{
				width: 108px;
				overflow: visible;
			}
			button.carousel__next{
		    cursor: pointer;
		    display: block !important;
		    font-size: 14px;
		    letter-spacing: 2px;
		    text-transform: uppercase;
		    transition: all .3s ease;
		    width: 54px;
				position: absolute;
				top: calc(100% + 35px);
				right: calc(50% - 85px);
			}
			button.carousel__prev{
				cursor: pointer;
		    display: block !important;
		    font-size: 14px;
		    letter-spacing: 2px;
		    text-transform: uppercase;
		    transition: all .3s ease;
		    width: 54px;
				position: absolute;
				top: calc(100% + 35px);
				left: calc(50% - 85px);
			}
		}
	}
	.video-testimonial{
		width: 100px;
		height: 180px;
		position: relative;
		img{
			position: absolute;
			z-index: 0;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
</style>