<template>
	<div class="container-fluid">
    <div class="row">
      <div class="container top-section">
        <div class="row">
          <div class="col-12 mob-mb-5">
            <div class="row">
              <div class="col-md-4">
                <div class="d-table w-100">
                  <div class="d-table-cell align-middle">
                    <h1 class="page-title mb-3">BLOG</h1>

                    <p class="d-inline-block text-large" style="top: -3px;position:relative;font-size:24px;"><b>Filter:</b></p>
                    <div class="custom-dropdown ml-3 mb-3 d-inline-block">
                      <select v-model="category" @change="resetPosts()">
                        <option value="all">All Blog Posts</option>  
                        <option v-for="cat in this.categories" :value="cat.slug">{{cat.name}}</option>
                      </select>
                    </div>
                    <input type="text" class="form-control" name="search" placeholder="Type to search..." v-model="search" />
                  </div>
                </div>
              </div>
            </div>
            <picture> 
              <source srcset="/img/tom-morrison-blog.webp" type="image/webp"> 
              <source srcset="/img/tom-morrison-blog.jpg" type="image/jpeg">
              <img src="/img/tom-morrison-blog.jpg" class="blog-top-image" alt="Tom morrison holding a dumbell with an inqusitive look on his face." />
            </picture>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
			<div class="container position-relative mb-5 pb-5">
		    <div id="blog-posts" class="row">
		      <div class="col-12 mt-5" v-if="posts.length == 0">
		        <p class="text-large" v-if="therearenone">Sorry we couldn't find that post, please change your search options and try again!</p>
		      </div>
		      <div v-for="post in posts" :key="post.id" class="col-lg-4 col-sm-6 mb-5 post-holder bg" :style="'background-image: url('+post.image+');'">
		        <post-card :post="post"></post-card>
		      </div>
		      <infinite-loading @infinite="infiniteHandler"></infinite-loading>
		    </div>
		  </div>
		</div>
	</div>
</template>
<script>
	import debounce from 'lodash.debounce';
	import PostCard from "./PostCard.vue";
	import InfiniteLoading from "v3-infinite-loading";
  export default {
    props: {
      count: Number,
      categories: Object
    },
    components:{
    	PostCard,
			InfiniteLoading
    },
    data() {
      return {
				category: "all",
				search: "",
        errors: {},
        success: false,
        limit: 6,
        loaded: true,
        posts: [],
        more: false,
        years: [],
        page: 1,
        therearenone: false,
        infiniteId: +new Date()
     }
    },	
   	watch: { 
		  search: debounce(async function(newVal, oldVal) {
		    this.resetPosts();
		  }, 500)
		},
    methods: {
    	resetPosts(){
    		this.page = 1;
    		this.posts = [];
    		this.infiniteHandler();
    	},
      infiniteHandler() {
        axios.get('/get-posts/' + this.category + '/' + 6, {
          params: {
            page: this.page,
            limit: this.limit,
            search: this.search,
          },
        }).then(({ data }) => {
          console.log(data);
          if (data.data.length) {
            this.page += 1;
            this.posts.push(...data.data);
            this.therearenone = false;
            // $state.loaded();
          } else {
            this.therearenone = true;
            // $state.complete();
          }
        });
      },
      changeType() {
        this.page = 1;
        this.posts = [];
        this.infiniteId += 1;
        this.infiniteHandler();
        console.log("test")
      },
      slug: function (post) {
        // var d = moment(post.created_at).format('YYYY-MM-DD');
        // var slug = d + '/' + post.slug;
        var slug = post.slug;
        return slug;
      }
    }
  }
</script>
<style>
.custom-dropdown{
  max-width: 250px;
}
.custom-dropdown select{
  font-weight: 400;
}
</style>