<template>
	<div class="post-container mb-5">
    <div class="post-image d-none d-sm-block" :style="'background-image: url('+post.image+');'"></div>
    <div class="post-text">
      <h5 class="mb-3 scroll">{{post.title.substring(0, 50)}}<span v-if="post.title.length > 45"> [...]</span></h5>
      {{post.exerpt.substring(0, 135)}} [...]
      <a :href="'/blog/'+post.slug">
        <div class="read-more mt-3">Read more</div>
      </a>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      post: Object,
    }
  }
</script>
<style lang="scss">

</style>