<template>
	<a :href="'/blog/'+post.slug" class="text-dark">
		<div class="blog-post shadow">
			<div class="blog-img" :style="bgstyles"></div>
			<div class="blog-summary p-3">
				<p class="title">{{post.title}}</p>
				<p class="read-now mb-0">Read Now <i class="fa fa-angle-double-right"></i></p>
			</div>
		</div>
	</a>
</template>
<script>
  export default {
    props: {
      post: Object,
    },
    data(){
			return {
				bgImg: this.post.image,
      	bgImgWebp: this.post.webp, 
			}
		},
    computed: {
	    bgstyles() {
	      return {
	        '--bg-img': 'url('+this.post.image+')',
	        '--bg-img-webp': 'url('+this.post.webp+')'
	      }
	    }
	  },
    methods: {
      slug: function (post) {
        var slug = post.slug;
        return slug;
      }
    }
  }
</script>
<style lang="scss">
	.no-webp{
		.blog-img{
			background-image: var(--bg-img);
		}
	}
	.webp{
		.blog-img{
			background-image: var(--bg-img-webp);
		}
	}
	.blog-post{
		border-radius:10px;
		overflow: hidden;
		text-align: left;
		.blog-img{
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			width: 100%;
			height: 160px;
		}
		.blog-summary{
			min-height: 168px;
		}
		.read-now{
			position: absolute;
	    bottom: 1rem;
	    right: 1.5rem;
		}
	}
</style>