<template>
	<div id="home-blog" class="container container-wide" v-if="posts != null">
		<div class="row">
			<div class="col-12 text-right">
				<picture> 
					<source srcset="/img/home/tom-blog.webp" type="image/webp"/> 
					<source srcset="/img/home/tom-blog.jpg" type="image/jpeg"/>
					<img src="/img/home/tom-blog.jpg" width="885" height="399" loading="lazy" class="home-tom-blog" alt="Tom Morrison showing off the mobility blog" />
				</picture>
			</div>
		</div>
		<div class="row px-5 mob-px-0">
			<div class="col-7">
				<p class="mimic-h2">Recent Blogs</p>
			</div>
			<div class="col-5 text-right">
				<p class="mt-4 mb-0"><a href="/blog"><b>See all blogs</b></a></p>
			</div>
		</div>
		<div class="row half_row">
      <div class="col-12 half_col d-md-none">
        <div style="width:266px;">
          <carousel :items="1" :margin="15" :center="false"  :autoHeight="false" :autoWidth="false" :nav="false" :dots="true" :loop="true">
            <slide v-for="(post, key) in posts" :slide-width="266">
              <div class="home-blog-holder">
                <blog-post :post="post"></blog-post>
              </div>
            </slide>
            <template #addons>
              <pagination />
            </template>
          </carousel>
        </div>
      </div>
			<div class="col-xl-3 col-lg-4 col-md-6 half_col d-none d-md-block mb-3" v-for="(post, key) in posts" :key="key" :class="{'d-none d-lg-none d-xl-block': key == 3}">
				<blog-post :post="post"></blog-post>
			</div>
		</div>
	</div>
</template>
<script>
  import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';
  import BlogPost from '../../components/blog/Post.vue';
  export default {
  	components: {
      Carousel,
      Slide,
      Pagination,
      Navigation,
  		BlogPost
    },
    props: {
      category: String,
      showpagination: Boolean,
      colsize: Number,
    },
    data() {
      return {
        errors: {},
        success: false,
        limit: 4,
        loaded: true,
        posts: null,
        more: false,
        years: [],
      }
    },
    mounted() {
      this.getPosts();
    },

    methods: {
      moment: function (date) {
        return moment(date).format('DD/MM/YYYY');
      },
      slug: function (post) {
        // var d = moment(post.created_at).format('YYYY-MM-DD');
        // var slug = d + '/' + post.slug;
        var slug = post.slug;
        return slug;
      },
      getPosts(page = 1) {
        if (this.loaded) {

          this.loaded = false;
          this.success = false;
          this.errors = {};
          this.offset = 0;

          axios.get('/get-posts/' + this.$props.category + '/' + this.limit + '?page=' + page).then(response => {
            // Empty fields and enable success message
            this.fields = {};
            this.loaded = true;
            this.success = true;
            this.posts = response.data.data;
            if(this.posts.length < this.$props.count){
              this.more = true;
            }else{
              this.more = false;
            }
          })
          .catch(error => {
            // Error handling
            this.loaded = true;
            console.log(error);
            // if (error.response.status === 422) {
            //   this.errors = error.response.data.errors || {};
            // }
          });
        }
      }
    }
  }
</script>
<style lang="scss">
	.home-tom-blog{
		margin-bottom: -80px;
		margin-right: 60px;
	}
  #home-blog{
    .home-blog-holder{
      max-width: 266px;
    }
    .carousel{
      width: 266px;
      margin: auto;
      margin-bottom: 40px;
      position: relative;
      .carousel__viewport{
        width: 280px;
        overflow: visible;
      }
      .carousel__pagination-button{
        &:after{
          border-radius: 100%;
          width: 10px;
          height: 10px;
          background-color: #D6D6D6;
        }
        &.carousel__pagination-button--active{
          &:after{
            background-color: #869791 !important;
          }
        }
      }
      
    }
  }
  @media only screen and (max-width : 767px){
    .home-tom-blog{
      position: relative;
      margin-left: 40px;
      width: 507px;
      height: auto;
    }
    #home-blog{
      overflow: hidden;
      p.mimic-h2{
        font-size: 9vw;
      }
    }
  }
</style>