<template>
	<div id="home-bundles" class="container py-5 mob-pr-0 overflow-hidden" v-if="success">
		<div class="row half_row">
			<div class="col-12 half_col">
				<p class="mimic-h2 position-relative z-2 text-primary">Bundle Offers</p>
			</div>
			<div class="col-12 half_col d-lg-none ov">
				<div style="width:266px;">
					<carousel :wrapAround="false"  :snapAlign="'start'" >
						<slide key="1" :slide-width="280">
							<div class="card border-0 shadow bundle-card beginners-bundle-card">
								<div class="bundle-info p-3">
									<div class="special-offer mb-2 mx-auto">Save {{beginners.percent}}%</div>
									<p class="bundle-name mimic-h2">Beginner's <br/>Bundle</p>
									<p class="bundle-short">Perfect for beginners.<br/>3 essential programs for a mobile body</p>
					      	<a href="/products/beginners-bundle">
					      		<p class="bundle-price text-white mb-0" ><span class="learn-more text-right">More about this
					      		 Bundle <i class="fa fa-angle-double-right"></i></span></p>
					      	</a>
					      </div>
					    </div>
						</slide>
						<slide key="2" :slide-width="280">
							<div class="card border-0 shadow bundle-card intermediate-bundle-card">
								<div class="bundle-info p-3">
									<div class="special-offer mb-2 mx-auto">Save {{intermediate.percent}}%</div>
									<p class="bundle-name mimic-h2">Intermediate <br/>Bundle</p>
									<p class="bundle-short">The next step after SMM, build complete joint strength & new skills</p>
									<a href="/products/intermediate-bundle">
					      		<p class="bundle-price text-white mb-0" ><span class="learn-more text-right">More about this
					      		 Bundle <i class="fa fa-angle-double-right"></i></span></p>
					      	</a>
					      </div>
				      </div>
						</slide>
						<slide key="3" :slide-width="280">
							<div class="card border-0 shadow bundle-card complete-bundle-card">
								<div class="bundle-info p-3">
									<div class="special-offer mb-2 mx-auto">Save {{complete.percent}}%</div>
									<p class="bundle-name mimic-h2">Complete <br/>Bundle</p>
									<p class="bundle-short">Get all our online programs together for the biggest discount!</p>
					      	<a href="/products/complete-bundle">
					      		<p class="bundle-price text-white mb-0" ><span class="learn-more text-right">More about this
					      		 Bundle <i class="fa fa-angle-double-right"></i></span></p>
					      	</a>
					      </div>
					    </div>
						</slide>
						<template #addons>
              <pagination />
            </template>
					</carousel>
				</div>
			</div>
			<div class="col-lg-4 half_col d-none d-lg-block">
				<a href="/products/beginners-bundle">
					<div class="card border-0 shadow bundle-card beginners-bundle-card">
						<div class="bundle-info p-3">
							<div class="special-offer mb-2 mx-auto">Save {{beginners.percent}}%</div>
							<p class="bundle-name mimic-h2">Beginner's Bundle</p>
							<p class="bundle-short">Perfect for beginners.<br/>3 essential programs for a mobile body</p>
			      	<p class="bundle-price text-white mb-0 cursor-pointer" ><span class="learn-more text-right">More about this
				      		 Bundle <i class="fa fa-angle-double-right"></i></span></p>
			      </div>
					</div>
				</a>
			</div>
			<div class="col-lg-4 half_col d-none d-lg-block">
				<a href="/products/intermediate-bundle">
					<div class="card border-0 shadow bundle-card intermediate-bundle-card">
						<div class="bundle-info p-3">
							<div class="special-offer mb-2 mx-auto">Save {{intermediate.percent}}%</div>
							<p class="bundle-name mimic-h2">Intermediate Bundle</p>
							<p class="bundle-short">The next step after SMM, build complete joint strength & new skills</p>
			      	<p class="bundle-price mb-0" ><span class="learn-more text-right">More about this
				      		 Bundle <i class="fa fa-angle-double-right"></i></span></p>
			      </div>
					</div>
				</a>
			</div>
			<div class="col-lg-4 half_col d-none d-lg-block">
				<a href="/products/complete-bundle">
					<div class="card border-0 shadow bundle-card complete-bundle-card">
						<div class="bundle-info p-3">
							<div class="special-offer mb-2 mx-auto">Save {{complete.percent}}%</div>
							<p class="bundle-name mimic-h2">Complete Bundle</p>
							<p class="bundle-short">Get all our online programs together for the biggest discount!</p>
			      	<p class="bundle-price mb-0" ><span class="learn-more text-right">More about this
				      		 Bundle <i class="fa fa-angle-double-right"></i></span></p>
			      </div>
					</div>
				</a>
			</div>
		</div>
	</div>
</template>
<script>
	import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';
  export default {
  	components: {
  		Carousel,
      Slide,
      Pagination,
      Navigation,
    },
    data() {
      return {
        errors: {},
        success: false,
        beginners: null,
        intermediate: null,
        complete: null,
      }
    },
    mounted() {
      this.getBundles();
    },
    methods: {
      getBundles() {
        axios.get('/api/products/get/bundles').then(response => {            
          this.beginners = response.data[0];
          this.intermediate = response.data[1];
          this.complete = response.data[2];
          this.success = true;
        })
        .catch(error => {
        	this.success = false;
          console.log(error);
        });
      }
    }
  }
</script>
<style lang="scss">
	.no-webp{
		.beginners-bundle-card{
			background-image: url('$img/bundles/beginners-bundle-card.jpg');
		}
		.intermediate-bundle-card{
			background-image: url('$img/bundles/intermediate-bundle-card.jpg');
		}
		.complete-bundle-card{
			background-image: url('$img/bundles/complete-bundle-card.jpg');
		}
	}
	.webp{
		.beginners-bundle-card{
			background-image: url('$img/bundles/beginners-bundle-card.webp');
		}
		.intermediate-bundle-card{
			background-image: url('$img/bundles/intermediate-bundle-card.webp');
		}
		.complete-bundle-card{
			background-image: url('$img/bundles/complete-bundle-card.webp');
		}
	}
	#home-bundles{
		.carousel{
			width: 266px;
			height: 266px;
			margin: auto;
			margin-bottom: 40px;
			position: relative;
			.carousel__viewport{
				width: 280px;
				overflow: visible;
			}
			.carousel__pagination-button{
				&:after{
					border-radius: 100%;
					width: 10px;
					height: 10px;
					background-color: #D6D6D6;
				}
				&.carousel__pagination-button--active{
					&:after{
						background-color: #869791 !important;
					}
				}
			}
			
		}
		.bundle-card{
			position: relative;
			text-align: left;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			min-height: 266px;
			min-width: 266px;
			overflow: hidden;
			cursor: pointer;
			border-radius: 0.25rem;
			.bundle-info{
		    position: absolute;
		    height: 100%;
		    width: 100%;
				z-index: 2;
				cursor: pointer;
				color: #fff;
				.bundle-name{
					font-family: "Oswald", sans-serif;
					font-size: 2rem;
					line-height: 1.2;
					cursor: pointer;
				}
				.bundle-price{
					position: absolute;
					bottom: 1rem;
					left: 1rem;
					width: calc(100% - 2rem);
					font-family: "Oswald", sans-serif;
					font-size: 1.2rem;
					line-height: 1.2;
					cursor: pointer;
					.only{
						font-size: 0.8rem;
					}
					.learn-more{
						float: right;
						margin-top: 5px;
						font-size: 1rem;
						cursor: pointer;
						font-family: "Karla", sans-serif;
					}
				}
				.fa-star{
					color: #F8D21B;
				}
			}
			.special-offer{
				display: inline-block;
				text-align: center;
				width: 85px;
				height: 25px;
				font-size: 16px;
				font-weight: 900;
				background-color:#D72737;
				color: #fff;
				border-radius: 15px;
			}
		}
	}
	@media only screen and (max-width : 767px){
		#home-bundles{
			.home-tom-jenni{
				width: 320px;
		    height: 184px;
		    left: calc(50% - 160px);
		    top: -104px;
			}
			.bundle-card{
				.bundle-info{
					.bundle-name{
						margin-bottom: 6px;
					}
					.bundle-short{
						font-size: 4vw;
						line-height: 1.5;
					}
				}
			}
		}
	}
</style>