<template>
	<div id="home-featured-products" class="container" v-if="products != null">
		<div class="row half_row">
			<div class="col-12 half_col home-tom-jenni-holder position-relative">
				<picture> 
					<source srcset="/img/home/tom-jenni.webp" type="image/webp"/> 
					<source srcset="/img/home/tom-jenni.jpg" type="image/jpeg"/>
					<img src="/img/home/tom-jenni.jpg" width="736" height="424" loading="lazy" class="home-tom-jenni" alt="Tom Morrison & Jenni Sanders pointing at their awesome products." />
				</picture>
				<p class="mimic-h2 position-relative z-2 text-primary">Featured Programs</p>
			</div>
		</div>
		<div class="row d-md-none">
			<div class="col-12 pr-0" style="overflow: hidden;">
				<div style="width:266px;">
					<carousel :wrapAround="false" :snapAlign="'start'">
						<slide v-for="product in products" :key="product.id" :slide-width="266">
							<product-card :product="product" :page="'home'"></product-card>
						</slide>
						<slide style="width: 266px;">
							<a href="/shop">
								<div class="card p-3 other-card border-0 shadow text-left">
									<p class="other-card-title">See more <br/>online programs <br/>in our shop</p>
									<p class="view-shop mb-0 text-right">View Shop <i class="fa fa-angle-double-right"></i></p>
								</div>
							</a>
						</slide>
						<template #addons>
              <pagination />
            </template>
					</carousel>
				</div>
			</div>
		</div>
		<div class="row half_row d-none d-md-flex">
			<div class="col-lg-3 col-md-6 half_col mb-3" v-for="product in products">
				<product-card :product="product" :page="'home'"></product-card>
			</div>
			<div class="col-lg-3 col-md-6 half_col">
				<a href="/shop">
					<div class="card p-3 other-card border-0 shadow">
						<p class="other-card-title">See more <br/>online programs <br/>in our shop</p>
						<p class="view-shop mb-0 text-right">View Shop <i class="fa fa-angle-double-right"></i></p>
					</div>
				</a>
			</div>
		</div>
	</div>
</template>
<script>
	import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';
	import ProductCard  from '../../components/shop/ProductCard.vue';
  export default {
  	components: {
  		Carousel,
      Slide,
      Pagination,
      Navigation,
      ProductCard
    },
    data() {
      return {
        errors: {},
        success: false,
        limit: 3,
        loaded: true,
        products: null,
      }
    },
    mounted() {
      this.getProducts();
    },
    methods: {
      getProducts(page = 1) {
        if (this.loaded) {
          axios.get('/api/products/get/all/' + this.limit + '?page=' + page + '&featured=true').then(response => {            
            this.products = response.data.data;
            this.success = true;
          })
          .catch(error => {
          	this.success = false;
            console.log(error);
          });
        }
      }
    }
  }
</script>
<style lang="scss">
	#home-featured-products{
		.home-tom-jenni-holder{
			margin-top: 300px;
		}
		.carousel{
			width: 266px;
			height: 266px;
			margin: auto;
			margin-bottom: 40px;
			position: relative;
			.carousel__viewport{
				width: 280px;
				overflow: visible;
			}
			.carousel__pagination-button{
				&:after{
					border-radius: 100%;
					width: 10px;
					height: 10px;
					background-color: #D6D6D6;
				}
				&.carousel__pagination-button--active{
					&:after{
						background-color: #869791 !important;
					}
				}
			}
			
		}
		.home-tom-jenni{
			position: absolute;
			top: -300px;
			left: calc(50% - 368px);
			z-index: 0;
		}
		.other-card{
			background-color: #3E4146;
			height: 266px;
			min-width: 266px;
			width: 100%;
			color: #fff;
			cursor: pointer;
			overflow: hidden;
			.other-card-title{
				font-family: "Oswald", sans-serif;
				font-size: 2.2rem;
				line-height: 1.2;
				cursor: pointer;
			}
			.view-shop{
				position: absolute;
				bottom: 1rem;
				left: 1rem;
				width: calc(100% - 2rem);
				cursor: pointer;
				font-size: 1rem;
				font-family: "Karla", sans-serif;
			}
		}
	}
	@media only screen and (max-width : 767px){
		#home-featured-products{
			.home-tom-jenni-holder {
			  margin-top: 125px;
			}
			.home-tom-jenni{
				width: 320px;
		    height: 184px;
		    left: calc(50% - 160px);
		    top: -104px;
			}
		}
	}
</style>