<template>
	<header id="home-header" class="container-fluid text-center">
		<div class="row">
			<div class="col-md-6 full-height-minus-menu new-home-smm bg">
				<div class="d-table w-100 h-100">
					<div class="d-table-cell align-middle w-100 h-100">
						<p class="text-white mb-0"><i>I want to improve my mobility:</i></p>
						<p class="mimic-h2 text-white">The Simplistic<br class="d-md-none" /> Mobility Method<span class="tm">&reg;</span></p>
						<a href="/products/the-simplistic-mobility-method">
							<button type="button" class="btn btn-white-outline mx-auto">Find out more <i class="fa fa-angle-double-right ml-2"></i></button>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 full-height-minus-menu new-home-bb bg position-relative">
				<div class="d-table w-100 h-100">
					<div class="d-table-cell align-middle w-100 h-100">
						<div class="special-offer mb-2 mx-auto">Save 12%</div>
						<p class="text-white mb-0"><i>I want SMM + bonus programs & inspiration:</i></p>
						<p class="mimic-h2 text-white">Beginner's Bundle</p>
						<a href="/products/beginners-bundle">
							<button type="button" class="btn btn-white-outline mx-auto">Find out more <i class="fa fa-angle-double-right ml-2"></i></button>
						</a>
					</div>
				</div>
				<div class="or">OR</div>
			</div>
		</div>
	</header>
</template>
<style lang="scss">
	.no-webp{
		.new-home-smm{
			background-image: url('/img/home/new-home-smm.jpg');
		}
		.new-home-bb{
			background-image: url('/img/home/new-home-bb.jpg');
		}
	}
	.webp{
		.new-home-smm{
			background-image: url('/img/home/new-home-smm.webp');
		}
		.new-home-bb{
			background-image: url('/img/home/new-home-bb.webp');
		}
	}
	#home-header{
		.full-height-minus-menu{
			height: calc(100vh - 96px);
		}
		.or{
			position: absolute;
			left: -27px;
			top: calc(50% - 20px);
			width: 54px;
			height: 40px;
			background-color: white;
			border-radius: 3px;
			color: black;
			font-size: 23px;
			line-height: 23px;
			font-weight: 700;
			text-align: center;
			padding-top: 9px;
		}
		.special-offer{
			display: inline-block;
			text-align: center;
			width: 130px;
			height: 33px;
			font-weight: 900;
			background-color:#D72737;
			color: #fff;
			padding-top:3px;
			border-radius: 15px;
		}
	}
	@media only screen and (max-width : 767px){
		#home-header{
			.full-height-minus-menu{
				height: calc(50vh - 51px);
			}
			p{
				&.mimic-h2{
					font-size: 8vw;
					line-height: 1.4;
					.tm{
						font-size: 5vw;
						top: -14px;
					}
				}
			}
			.or{
				top: -20px;
				left: calc(50% - 20px);
			}
		}
		
	}
</style>