<template>
	<div id="home-recent-videos" class="container container-wide py-5 mb-5 mob-mb-0 mob-pb-0">
		<div class="row px-5 mob-px-0">
			<div class="col-7">
				<p class="mimic-h2">Recent Videos</p>
			</div>
			<div class="col-5 text-right">
				<p class="mt-4 mb-0"><a href="https://www.youtube.com/channel/UC1bHlccT8JOMAWm5wMuzG9A" target="_blank" rel="noopener" aria-label="YouTube">See all videos</a></p>
			</div>
		</div>
		<div class="row" v-if="loaded">
			<div class="col-lg-6">
				<div class="embed-responsive embed-responsive-16by9 shadow">
					<iframe width="560" height="315" :src="vid1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" loading="lazy" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-lg-6 d-none d-lg-block">
				<div class="embed-responsive embed-responsive-16by9 shadow">
					<iframe width="560" height="315" :src="vid2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="home-vimeo embed-responsive-item" loading="lazy"></iframe>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
  const BlogPost = () => import(/* webpackChunkName: "BlogPost" */ '../../components/blog/Post.vue');
  export default {
  	components: {
  		BlogPost,
    },
    data() {
      return {
        errors: {},
        channel: 'UC1bHlccT8JOMAWm5wMuzG9A',
        limit: 2,
        loaded: false,
        posts: null,
        more: false,
        years: [],
        vid1: null,
        vid2: null,
      }
    },
    mounted() {
    	var isInViewport = function (elem) {
				var distance = elem.getBoundingClientRect();
			  return (
				  distance.top >= 0 &&
				  distance.left >= 0 &&
				  distance.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
				  distance.right <= (window.innerWidth || document.documentElement.clientWidth)
				);
			}
			var app = this;
	  	document.addEventListener("scroll", function() {
			  if (isInViewport(document.getElementById("home-recent-videos"))) {
			    app.loadVideo();
			  }
			});
    },
	  computed(){
	    var previewElements = document.querySelectorAll('.vlt-preview');
	    previewElements.forEach(function (element) {
	        element.setAttribute('href', '#');
	    });
	  },
    methods: {
      loadVideo(){
      	if(this.loaded == false){
      		const channelURL = encodeURIComponent('https://www.youtube.com/feeds/videos.xml?channel_id='+this.channel)
		      const reqURL = `https://api.rss2json.com/v1/api.json?rss_url=${channelURL}`
		      fetch(reqURL).then(response => response.json()).then(result => { 
		      	const link = result.items[0].link;
		      	const id = link.substring(link.indexOf("=") + 1);
		      	this.vid1 = `https://www.youtube.com/embed/${id}`;
		      	const link2 = result.items[1].link;
		      	const id2 = link2.substring(link2.indexOf("=") + 1);
		      	this.vid2 = `https://www.youtube.com/embed/${id2}`;
		      }).catch(error => console.log('error', error));
		      this.loaded = true;
      	}
     		
      }
    }
  }
</script>
<style lang="scss">
	@media only screen and (max-width : 767px){
		#home-recent-videos{
			p.mimic-h2{
	      font-size: 9vw;
	    }
		}
	}
</style>