<template>
	<div class="container py-5">
		<div class="row">
			<div class="col-lg-6 mb-3">
				<p class="larger">Our techniques are tried & tested through years of experience with 1000’s of people all over the world, all with different training backgrounds & histories. We found what works best to keep you moving without restriction and able to do the things you love.</p>
			</div>
			<div class="col-lg-6 mb-3">
				<p class="larger">Our site is full of awesome resources for you to learn more about your own mobility, whether you're really inflexible or way too flexible, we have the knowledge for you to learn exactly what you need to focus on and how to do it in the simplest way.</p>
			</div>
			<div class="col-12">
				<p class="text-large"><b>If you want to get stuck in and just want to feel good now then the best place to start is <br/><a href="/products/the-simplistic-mobility-method">The Simplistic Mobility Method!</a></b></p>
			</div>
		</div>
		<div id="home-reviews" class="row justify-content-center mt-5" v-if="reviews != null">
			<div class="col-lg-5 mb-4" v-for="(review, key) in reviews">
				<div class="review-box bg-light shadow pt-3 pb-3 px-4 mob-px-3 mb-5">
					<div class="review-avatar">
						<picture> 
							<source :srcset="review.normalwebp" type="image/webp"/> 
							<source :srcset="review.normal" :type="review.mimetype"/>
							<img :src="review.normal" class="img-fluid d-block mx-auto mob-mb-3" loading="lazy" :alt="'Simplistic mobility method ' + review.name + ' testimonial'" width="130" height="130" :type="review.mimetype"/>
						</picture>
					</div>
					<p class="mimic-h3 review-name mb-5 mob-mb-4">
						{{review.name}}<br/>
						<img src="/img/icons/star.svg" class="review-star" alt="Simplistic Mobility Method review star" loading="lazy" width="20" height="18"/>
						<img src="/img/icons/star.svg" class="review-star" alt="Simplistic Mobility Method review star" loading="lazy" width="20" height="18"/>
						<img src="/img/icons/star.svg" class="review-star" alt="Simplistic Mobility Method review star" loading="lazy" width="20" height="18"/>
						<img src="/img/icons/star.svg" class="review-star" alt="Simplistic Mobility Method review star" loading="lazy" width="20" height="18"/>
						<img src="/img/icons/star.svg" class="review-star" alt="Simplistic Mobility Method review star" loading="lazy" width="20" height="18"/>
					</p>
					<div class="review-body" v-html="review.short"></div>
				</div>
			</div>
			<div class="col-12 text-center">
				<a href="/shop">
					<button type="button" class="btn btn-primary d-inline-block">View Our Programs <i class="fa fa-angle-double-right"></i></button>
				</a>
			</div>
		</div>
	</div>
</template>
<script>
  export default {
    data() {
      return {
        errors: {},
        success: false,
        limit: 4,
        loaded: true,
        reviews: null,
        more: false,
      }
    },
    mounted() {
      this.getReviews();
    },

    methods: {
      getReviews(page = 1) {
        if (this.loaded) {

          this.loaded = false;
          this.success = false;
          this.errors = {};
          this.offset = 0;

          axios.get('/get-reviews/' + this.limit + '?page=' + page).then(response => {
            // Empty fields and enable success message
            this.fields = {};
            this.loaded = true;
            this.success = true;
            this.reviews = response.data.data;
            this.more = false;
          })
          .catch(error => {
            // Error handling
            this.loaded = true;
            console.log(error);
            // if (error.response.status === 422) {
            //   this.errors = error.response.data.errors || {};
            // }
          });
        }
      }
    }
  }
</script>
<style lang="scss">
	#home-reviews{
		.review-box{
			min-height: 284px;
			.review-avatar{
				left: 1.5rem;
			}
			.review-name{
				font-family: "Oswald", sans-serif;
				font-size: 1.6rem;
				line-height: 1.2;
				cursor: pointer;
				.review-star{
					width: 20px;
    			margin-right: -4px;
				}
			}
		}
	}
</style>