<template>
	<div id="home-section-one" class="container py-5">
		<div class="row">
			<div class="col-12">
				<div class="card border-0 shadow p-4 mob-px-3 mob-py-3">
					<picture>
						<source srcset="/img/home/tom-morrison-homepage1.webp" type="image/webp"> 
						<source srcset="/img/home/tom-morrison-homepage1.jpg" type="image/jpeg"> 
						<img src="/img/home/tom-morrison-homepage1.jpg" width="469" height="210" loading="lazy" alt="Tom morrison looking down over the rest of the website" class="looking-down">
					</picture>
					<div class="row">
						<div class="col-lg-5 pt-4 mob-pt-0">
							<p class="mimic-h1 text-primary text-uppercase">GET<br class="d-md-none"> FLONG &<br class="d-md-none"> SEXIBLE</p>
							<p><b>We help you to build full body flexibility & strength so you can enjoy the things you love.</b></p>
							<a href="/shop">
								<button class="btn btn-primary">View Our Programs <i class="fa fa-angle-double-right"></i></button>
							</a>
						</div>
						<div class="col-lg-7">
							<div  id="vimeo-placeholder" class="embed-responsive embed-responsive-16by9">
									<picture>
										<source srcset="/img/home/vimeo-placeholder.webp" type="image/webp"> 
										<source srcset="/img/home/vimeo-placeholder.jpg" type="image/jpeg"> 
										<img id="vimeo-placeholder-img" src="/img/home/vimeo-placeholder.jpg" width="500" height="280" loading="lazy" alt="Vimeo placeholder" class="w-100 h-auto">
									</picture>
<!-- 								<iframe
							    title="Vimeo video player"
							    src="https://player.vimeo.com/video/766172468?h=09704145bb&dnt=1&app_id=122963&autoplay=1"
							    width="1280"
							    height="720"
							    frameborder="0"
							    allowfullscreen="allowfullscreen"
							    class="embed-responsive-item"
							    loading="lazy"
							    data-vimeo-defer
								></iframe> -->
							</div>
							<!-- <LazyVimeo class="home-vimeo" ref="vimeoLazyVideo" src="https://player.vimeo.com/video/766172468" aspect-ratio="16:9" :max-width="'636px'" :show-title="false" :thumbnail-quality="'standard'"/> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-5 py-5 mob-py-0">
			<div class="col-12">
				<p class="text-large"><b>Our goal is to give people back what they thought they might have lost.</b></p>
			</div>
			<div class="col-lg-6">
				<p>Too often are people side-lined by injury, feeling like they're getting old or just frustrated because they don’t move well and keep hurting themselves.</p>
				<p>When you combine good flexibility with good stability and strength, that is what gives you well rounded MOBILITY.</p>
			</div>
			<div class="col-lg-6">
				<p>Having good mobility should be a goal for everyone’s life, it affects how you feel everyday.</p>
				<p>Our programs are designed to not only bring progress, but to bring consistency, body awareness and help you KNOW you're doing the right things.</p> 
			</div>
		</div>
	</div>
</template>
<script>
	export default {
    methods: {
	    handleClick(event, ref) {
	      this.$refs[ref][event]();
	    },
	  },
	  data() {
      return {
        loaded: false,
      }
    },
	  computed(){
	    var previewElements = document.querySelectorAll('.vlt-preview');
	    previewElements.forEach(function (element) {
	        element.setAttribute('href', '#');
	    });
	  },
	  mounted(){
	  	var isInViewport = function (elem) {
				var distance = elem.getBoundingClientRect();
			  return (
				  distance.top >= 0 &&
				  distance.left >= 0 &&
				  distance.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
				  distance.right <= (window.innerWidth || document.documentElement.clientWidth)
				);
			}
			var app = this;
	  	document.addEventListener("scroll", function() {
			  if (isInViewport(document.getElementById("vimeo-placeholder"))) {
			    app.loadVimeo();
			  }
			});
	  },
	  methods:{
	  	loadVimeo() {
	  		if(this.loaded == false){
	  			 var iframe = document.createElement('iframe');
				  iframe.src = 'https://player.vimeo.com/video/766172468?h=09704145bb&dnt=1&app_id=122963&autoplay=0';
				  iframe.width = '1280';
				  iframe.height = '720';
				  iframe.frameborder = '0';
				  iframe.allow = 'autoplay; fullscreen';
				  iframe.allowfullscreen = true;
				  // const element = document.getElementById("vimeo-placeholder-img");
					// element.remove(); 
				  document.getElementById('vimeo-placeholder').appendChild(iframe);
				   this.loaded = true;
	  		}
			}
	  }
  }
</script>
<style lang="scss">
	#home-section-one{
		position: relative;
		margin-top: 130px;
		#vimeo-placeholder{
			position: relative;
			img{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
			}
		}
		p{
			&.mimic-h1{
				  font-family: 'Oswald';
			    font-size: 4.5rem;
			    line-height: 1.1;
			    font-weight: 900;
			}
		}
		.looking-down{
			position: absolute;
			top: -177px;
		}
		.home-vimeo .vlt-preview:before{
			height: 0 !important;
			padding-bottom: 0 !important;
			display: none !important;
		}
		.home-vimeo svg path:first-child{
			fill: #D82737 !important;
		}
	}
	@media only screen and (max-width : 767px){
		#home-section-one{
			margin-top: 80px;
			.looking-down{
			  width: 300px;
		    height: 134px;
		    left: calc(50% - 150px);
		    top: -112px;
			}
		}
	}
</style>