// Desktop
@media only screen and (min-width : 768px){
	.desktop_hide{
		display: none !important;
	}
	.post-holder{
		padding: 0 1rem;
		background-image: none !important;
	}
}
@media only screen and (max-width : 1200px){
  .container-wide{
    max-width: 100%;
  }
}
@media only screen and (min-width : 1240px){
	.container-wide{
		max-width: 1200px;
	}
}
@media only screen and (min-width : 1340px){
	.container-wide{
		max-width: 1300px;
	}
}

// Desktop
@media only screen and (min-width : 1440px){
	.container-wide{
		max-width: 1400px;
	}
	.top{
		.top_inner{
			.top_menu{
				a{
					font-size: 16px;
				}
			}
		}
	}
}
@media only screen and (min-width : 1540px){
	.container-wide{
		max-width: 1500px;
	}
}
@media only screen and (min-width : 1600px){
	// .home-top-container{
	// 	max-width: 1600px;
	// 	.home-top-img{
	//     	margin-top: -240px;
	// 	}
	// 	.testimonials_slider_holder{
	// 		margin-top: 4rem;
	// 	}
	// 	.testimonial_card{
	// 		height: 400px;
	// 		width: 700px;
	// 		.testimonial_name{
	// 			width: 400px;
	// 			right: -135px;
 //    			bottom: 230px;
	// 		}
	// 		.testimonial_text{
	// 			font-size: 24px;
	// 		}
	// 	}
	// }
}