// iPad in portrait & landscape: ;
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
  body{
    h1{
      &.home-top-title{
        font-size: 6rem;
        line-height: 6rem;
      }
    }
    p{
      font-size: 1rem;
    }
  }
  #menu_btn{
    display: block;
  }
  .logout{
    display: none;
  }
  .mini-sidebar .left-sidebar{
    width: 240px;
    left: -260px;
  }
  .mini-sidebar .nav-devider{
    width: 240px;
  }
  .mini-sidebar .hide-menu{
    display: inline-block;
  }
  .mini-sidebar .nav-label{
    display: inline-block;
  }
  .mini-sidebar .sidebar-nav #sidebarnav > li > a{
    padding: 5px 18px;
  }
  .mini-sidebar .page-wrapper{
    margin-left: 0;
  }
  .mini-sidebar .footer{
    left: 0;
  }
  .home-top-img{
    margin-top: -60px;
  }
  .home-testimonial-1,
  .testimonial_card{
    height: 300px;
  }
  .testimonial_card p.testimonial_text{
    font-size: 1.1rem;
  }
  .product-container{
    .product-text{
      height: 16rem;
    }
  }
  .top-section{
    height: 499px;
    .shop-top-image{
      bottom: 50px;
    }
  }
  .top-section .free-videos-image{
    bottom: 0;
  }
  .top-section .blog-top-image{
    bottom: 50px;
  }
}