// above iPad in portrait
@media only screen and (min-device-width : 769px){

}

// iPad in portrait
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	body h1.home-top-title{
		font-size: 4.5rem;
		line-height: 4.5rem;
	}
	body h1.page-title{
		font-size: 5rem;
    	line-height: 5rem;
	}
	.testimonial_card p.testimonial_text{
		font-size: 1rem;
	}
	#menu .navbar-nav .nav-item .nav-link{
		font-size: 0.9rem;
	}
	#tom-footer-top{
		margin-top: 3px;
    }
    footer{
    	padding-top: 80px;
    }
}
// above iPad in portrait
@media only screen and (max-device-width : 768px){
	
}