@media only screen and (max-width : 767px){
	body{
		h1{
			&.page-title{
				font-size: 3.5rem;
				line-height: 3.5rem;
			}
			&.lp-title-small{
				font-size: 10vw;
    		line-height: 12vw;
			}
			&.home-top-title{
				font-size: 21vw;
				line-height: 23vw;
				padding-left: 12vw;
				margin-bottom: 3rem;
				&:before{
			    font-size: 9vw;
			    left: -28vw;
					top: 28vw;
					height: 12vw;
					line-height: 10vw;
				}
			}
			&.lp-title{
				font-size: 12vw;
				line-height: 15vw;
			}
			&.lp-title-smaller{
				font-size: 9vw;
				line-height: 11vw;
				&.mob-bigger{
					font-size: 11vw;
					line-height: 1.2;
				}
				&.mob-even-bigger{
					font-size: 14vw;
					line-height: 1.2;
				}
			}
			&.checkout-title{
    		font-size: 5.7vw;
    		.checkout-title-line{
    			width: 16vw;
    			margin: 2vw 2vw;
    			&.gift-checkout-title-line{
						width: 10vw;
					}
    		}
			}
			.tm{
				font-size: 5vw;
	    	top: -6vw;
			}
			&.massive-title{
				font-size: 13vw;
			}
		}
		h2{
			font-size: 8vw;
			line-height: 10vw;
			&.large-title{
				font-size: 10vw;
				line-height: 12vw;
			}
			&.mob-text-smaller{
				font-size: 7vw;
				line-height: 1.5;
				.tm{
					top:-2vw;
				}
			}
			&.mob-text-bigger{
				font-size: 11vw;
				line-height: 1.5;
			}
			.tm{
				font-size: 5vw;
	    	top: -6vw;
			}
		}
		h3 {
		    font-size: 6vw;
		    line-height: 8vw;
		    &.mob-smaller-title{
		    	font-size: 5.1vw;
		    	line-height: 1.6;
		    }
		    &.bigger{
		    	font-size: 9vw;
		    	line-height: 9vw;
		    }
		    &.midsize{
		    	font-size: 7vw;
		    	line-height: 1.5;
		    }
		}
		h5{
			&.upsell-title{
				font-size: 5.8vw;
			}
			&.modal-title{
				font-size: 6.4vw;
			}
		}
		p{
			font-size: 4.5vw;
			line-height: 7vw;
			&.font-16-14{
				font-size: 14px;
			}
			&.testimonial-text{
				font-size: 4.5vw !important;
				line-height: 7vw !important;
			}&.testimonial-name{
				font-size: 3.5vw;
				line-height: 4vw;
			}
			&.text-big{
				font-size: 5vw;
			}
			&.larger{
				&.mob-text-smaller{
					font-size: 5vw;
					line-height: 1.5 !important;
				}
				&.mob-font-16{
					font-size: 4.5vw !important;
				}
			}
			&.text-145{
				font-size: 5vw !important;
				line-height: 1.5 !important;
			}
			&.text-large{
				line-height: 9vw !important;
				&.mob-text-smaller{
					font-size: 4.2vw;
					line-height: 1.5 !important;
				}
				&.mob-text-s{
					font-size: 4.8vw;
					line-height: 1.5 !important;
				}
				&.mob-text-small{
					font-size: 5vw;
					line-height: 1.5 !important;
				}
			}
			&.mob-text-small{
				font-size: 4vw;
				line-height: 1.2 !important;
			}
			&.bundle-green-p{
				font-size: 3.5vw;
				line-height: 1.3;
			}
		}
		.larger{
			font-size: 5vw;
			line-height: 1.5;
		}
	}
	#smm-menu{
		&.usa-padding{
			top:9rem !important;
		}
	}
	.img-abs-btm-left{
		position:relative;
		bottom: auto;
		left: auto;
		width: 100%;
	}
	#tom-footer-top{
			width: 100%;
      max-width: 100% !important;
    }
	.btn,
	.btn-primary{
		max-width: 220px;
		&.mob-no-mw{
			max-width: 100% !important;
		}
	}
	.mob-m-0{
		margin: 0 !important;
	}
	.mob-p-0{
		padding: 0 !important;
	}
	.mob-p-3{
		padding: 1rem !important;
	}
	.mob-px-0{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.mob-px-2{
		padding-left: 0.5rem !important;
		padding-right: 0.5rem !important;
	}
	.mob-px-3{
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}
	.mob-pr-3{
		padding-right: 1rem !important;
	}
	.mob-py-0{
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
	.mob-py-3{
		padding-top: 1rem !important;
		padding-bottom: 1rem !important;
	}
	.mob-py-4{
		padding-top: 2rem !important;
		padding-bottom: 2rem !important;
	}
	.mob-pb-0{
		padding-bottom: 0 !important;
	}
	.mob-pt-0{
		padding-top: 0 !important;
	}
	.mob-pt-4{
		padding-top: 2rem !important;
	}
	.mob-pt-5{
		padding-top: 3rem !important;
	}
	.mob-pb-3{
		padding-bottom: 1rem !important;
	}
	.mob-pb-5{
		padding-bottom: 3rem !important;
	}
	.mob-pr-0{
		padding-right: 0 !important;
	}
	.mob-pl-5{
		padding-left: 3rem !important;
	}
	.mob-mr-0{
		margin-right: 0 !important;
	}
	.mob-mr-3{
		margin-right: 1rem !important;
	}
	.mob-mx-0{
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.mob-mx-auto{
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.mob-my-0{
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	.mob-my-4{
		margin-top: 2rem !important;
		margin-bottom: 2rem !important;
	}
	.mob-mb-0{
		margin-bottom: 0 !important;
	}
	.mob-mb-1{
		margin-bottom: 0.5rem !important;
	}
	.mob-mb-2{
		margin-bottom: 0.25rem !important;
	}
	.mob-mb-3{
		margin-bottom: 1rem !important;
	}
	.mob-mb-4{
		margin-bottom: 2rem !important;
	}
	.mob-mb-5{
		margin-bottom: 3rem !important;
	}
	.mob-mt-0{
		margin-top: 0 !important;
	}
	.mob-mt-3{
		margin-top: 1rem !important;
	}
	.mob-mt-5{
		margin-top: 3rem !important;
	}
	.mob-float-left{
		float: left !important;
	}
	.mob-no-float{
		float: none !important;
	}
	.mob-height-auto{
		height: auto !important;
	}
	.mob-text-left{
		text-align: left !important;
	}
	.mob-text-right{
		text-align: right !important;
	}
	.mob-text-center{
		text-align: center !important;
	}
	.mob-small-text{
		font-size: 3vw;
		line-height: 3.2vw;
	}
	#menu{
		.navbar-brand img{
			width: 50px;
		}
		.menu_item{
			&:hover{
				p{
					color: $darkgrey;
				}
			}
		}
	}
	.video-container{
		.video-text{
			height: auto;
		}
	}
	$topsectionheight: 300px;
	.top-section{
		overflow: hidden;
		height: $topsectionheight;
		.d-table{
			height: $topsectionheight;
			.d-table-cell{
				height: $topsectionheight;
			}
		}
		.free-videos-image{
			right: -1rem;
			bottom: 0;
		}
		.blog-top-image{
		    bottom: 20px;
    		width: 70%;
		}
		.custom-dropdown{
			position: absolute;
    		bottom: 1rem;
		}
		h1.page-title{
			padding-bottom: 100px;
		}
		&.top-shop{
			h1.page-title{
				margin-top: 100px;
			}
		}
	}
	.post-holder{
		margin-bottom: 0 !important;
		padding: 200px 1rem 1rem !important;
		.post-container{
			margin-bottom: 0 !important;
		}
	}
	.blog-pagination{
		margin-top: 3rem;
	}
	.contact-image{
		position: relative !important;
		right:auto;
		bottom: auto;
		z-index: 1;
		width: 100%;
	}
	.home-top-img{
		margin-top: -40px;
	}
	.testimonial_card,
	.home-testimonial-1{
		height: 300px;
		padding: 25px !important;
		p.testimonial_text{
			font-size: 4vw;
		}
		.testimonial_name{
		    font-size: 5vw;
		    letter-spacing: 0.5vw;
		    width: 100%;
		    right: 0;
		    bottom: 1rem;
		    padding-right: 1.5rem;
		    text-align: right;
		    transform: none;
		    -webkit-transform: none;
		}
	}
	.intro-paragraph{
		padding-left: 10vw;
		&:before{
			font-size: 6vw;
			left: -13vw;
		    top: 19vw;
		    height: 6vw;
		    line-height: 6vw;
		}
	}
	.want-box{
		padding: 25px !important;
	}
	.home-testimonials-img{
		margin-top: 2rem;
	}
	.seminars-intro{
		padding-left: 10vw;
		&:before{
			font-size: 6vw;
			left: -8vw;
		    top: 14vw;
		    height: 6vw;
		    line-height: 6vw;
		}
	}
	#tom-lying-down{
		height: auto;
		max-width: 100%;
		margin-top: -46vw;
		margin-bottom: 1rem;
	}
	.blog-slider{
		.blog-slider-post{
			height: 440px;
			background-size: cover;
			.blog-text{
			    right: auto;
			    top: auto;
			    left: 1rem;
			    bottom: 1rem;
			    padding: 1rem;
			    width: calc(100% - 2rem);
			}
		}
	}
	footer{
		.footer-logo{
			width: 195px;
		}
		.social-circle{
			font-size: 20px;
			padding-top: 4px;
		}
	}
	.top-section{
		overflow: visible;
		height: auto;
		.d-table{
			height: auto;
			.d-table-cell{
				height: auto;
			}
		}
		h1.page-title{
			margin-top: 50px;
		}
		.custom-dropdown{
			position: relative;
			bottom: auto;
		}
		.shop-top-image{
			right: 0;
		    bottom: 29vw;
		    width: 80%;
		}
	}
	.product-container{
		margin-bottom: 1rem !important;
		.product-image{
			position: absolute;
		    left: 13px;
		    top: 0;
		    height: 40vw;
		    width: 40vw;
		}
		.product-text{
			height: 40vw;
			position: absolute;
		    width: calc(100% - 40vw - 2rem);
		    left: 44vw;
		    padding: 10px;
		    margin-bottom: 1rem;
		    background-color: transparent;
		    h5{
		    	font-size: 4vw;
		    	line-height: 5vw;
		    	margin-bottom: 0 !important;
		    }
		    p{
		    	font-size: 3.5vw;
		    	line-height: 4vw;
		    }
		    .product-price{
		    	margin: 5px 0 !important;
		    }
		}
		.add-to-basket{
			display: none
		}
	}
	.product-top{
		height: auto;
		padding: 8rem 1rem 3rem;
		.d-table{
			height: auto;
			.d-table-cell{
				height: auto;
				text-align: left !important;
				.btn-primary{
					margin-left: 0 !important;
				}
			}
		}
	}
	.text-small{
		font-size: 3vw;
	}
	.add-on-product{
		.square{
			&:before{
			    height: 50px;
			    bottom: 0;
			    padding: 0.8rem 0rem 0 2.2rem;
			    font-size: 1rem;
			    content: 'Add to basket';
			    opacity: 1;
			    text-align: left
			}
			&:after{
			    height: 50px;
			    bottom: 0;
			    padding: 0.9rem 0 0 1rem;
			    text-align: left;
			    font-size: 1rem;
			    opacity: 1;
			}
		}
	}
	#merch-index{
		.product-container{
			height: auto !important;
		}
	}
	.review-box{
		.review-avatar{
			width: 100px;
			height: 100px;
			left: 1rem;
		}
		.review-name{
			font-size:7vw;
			line-height: 7vw;
			padding-left: 120px;
			.review-star{
				width: 6vw;
				margin-right: 1px;
			}
		}
	}
	.get-smm-now{
		transform: none;
		top: auto;
		right: auto;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	.payment-options{
		position: relative;
		width: auto;
		bottom:auto;
		left:auto;
		padding-bottom: 0 !important;
		padding-top: 3rem;
		margin-bottom: -2rem;
		p{
			font-size:3.5vw;
			line-height: 1.4;
		}
		.pp-logo{
			width: 60px;
		}
		.m-logo{
			width: 30px;
		}
		.v-logo{
			width: 40px;
		}
		.am-logo{
			width: 30px;
		}
	}
	.bx-has-controls-direction{
		.bx-controls-direction{
			.bx-prev,
			.bx-next{
				display: none;
			}
		}	
	}
	.weird-height-thing{
		min-height: 0;
	}
	.mob-w-100{
		max-width: 100% !important;
		width: 100% !important;
	}
	.smm-lp-flag {
    position: absolute;
    top: 18px;
    right: 95px;
    z-index: 10;
    width: 45px;
	}
	#upsellModal{
		padding-top: 100px;
	}
	.smm-upsell-desc{
		font-size: 5vw;
		line-height: 1.3;
	}
	.about-tom-morrison-smm2022{
		width: 100%;
	}
	.product-intro-card{
		.btn-primary{
			max-width: 49vw;
		}
		.btn-outline{
			max-width: 32vw;
		}
	}
	.zoom-in {
    transition: none; /* Remove transition on mobile */
    transform: none;
  }
  body h1.podcast-header-text{
  	font-size: 25vw;
  }
}