@media only screen and (max-width : 411px){
	.work_slider.off{
		height: 1670px;
	}
}
@media only screen and (max-width : 375px){
	.work_slider.off{
		height: 1520px;
	}
}
@media only screen and (max-width : 360px){
	.work_slider.off{
		height: 1460px;
	}
}
@media only screen and (max-width : 320px){
	.work_slider.off{
		height: 1300px;
	}
	body{
		h2{
    		font-size: 10vw;
		}
	}
	.gallery.button{
		top: 25vw;
	}
	#mobile-menu .mobile-menu-logo{
		width: 40px;
	}
	#mobile-menu .menu-inner{
		padding-top: 20px;
		margin-top: 50px;
	}
	#mobile-menu .menu-inner a.nav-link{
		padding-top: 0.65rem;
	}
	body h1.checkout-title .checkout-title-line{
		    width: 13vw;
	}
}