<template>
	<div id="shop-bundles-two" class="container-fluid py-5 bg-light my-5 mob-mb-4">
		<div class="row">
			<div class="container">
				<div class="row half_row">
					<div class="col-12 half_col">
						<p class="mimic-h2 position-relative z-2 text-primary mb-1">Discounted Bundles</p>
						<p>Same great programs, better value!</p>
					</div>
					<div class="col-lg-4 mb-3 half_col">
						<p class="mb-1"><b>Just starting out?</b></p>
						<a href="/products/beginners-bundle" v-if="beginners != null">
							<div class="card border-0 shadow bundle-card beginners-bundle-card">
								<div class="bundle-info p-3">
									<div class="special-offer mb-2 mx-auto">Save {{beginners.percent}}%</div>
									<div class="most-popular mb-1"><img src="/img/icons/list-check-dark-green.svg" class="most-popular-check d-inline mr-1" width="17" height="15" />Most Popular</div>
									<p class="bundle-name mimic-h2 mb-2">Beginner's Bundle</p>
									<p class="bundle-short">{{beginners.short}}</p>
									<p class="bundles-full-price"><s>£{{beginners.price}}</s><br/><b>Only £{{beginners.sale_price}}</b></p>
					      	<p class="bundle-price mb-0" ><span class="learn-more text-right">Learn More <i class="fa fa-angle-double-right"></i></span></p>
					      </div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 mb-3 half_col">
						<p class="mb-1"><b>Already got SMM?</b></p>
						<a href="/products/intermediate-bundle" v-if="intermediate != null">
							<div class="card border-0 shadow bundle-card intermediate-bundle-card">
								<div class="bundle-info p-3">
									<div class="special-offer mb-2 mx-auto">Save {{intermediate.percent}}%</div>
									<div class="most-popular mb-1"><img src="/img/icons/list-check-dark-green.svg" class="most-popular-check d-inline mr-1" width="17" height="15" />The Next Step</div>
									<p class="bundle-name mimic-h2 mb-2">Intermediate Bundle</p>
									<p class="bundle-short">{{intermediate.short}}</p>
									<p class="bundles-full-price"><s>£{{intermediate.price}}</s><br/><b>Only £{{intermediate.sale_price}}</b></p>
					      	<p class="bundle-price mb-0" ><span class="learn-more text-right">Learn More <i class="fa fa-angle-double-right"></i></span></p>
					      </div>
							</div>
						</a>
					</div>
					<div class="col-lg-4 mb-3 half_col">
						<p class="mb-1"><b>Want everything?</b></p>
						<a href="/products/complete-bundle" v-if="complete != null">
							<div class="card border-0 shadow bundle-card complete-bundle-card">
								<div class="bundle-info p-3">
									<div class="special-offer mb-2 mx-auto">Save {{complete.percent}}%</div>
									<div class="most-popular mb-1"><img src="/img/icons/list-check-dark-green.svg" class="most-popular-check d-inline mr-1" width="17" height="15" />Biggest Discount</div>
									<p class="bundle-name mimic-h2 mb-2">Complete Bundle</p>
									<p class="bundle-short">{{complete.short}}</p>
									<p class="bundles-full-price"><s>£{{complete.price}}</s><br/><b>Only £{{complete.sale_price}}</b></p>
					      	<p class="bundle-price mb-0" ><span class="learn-more text-right">Learn More <i class="fa fa-angle-double-right"></i></span></p>
					      </div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
  export default {
    data() {
      return {
        errors: {},
        success: false,
        beginners: null,
        intermediate: null,
        complete: null,
      }
    },
    mounted() {
      this.getBundles();
    },
    methods: {
      getBundles() {
        axios.get('/api/products/get/bundles').then(response => {            
          this.beginners = response.data[0];
          this.intermediate = response.data[1];
          this.complete = response.data[2];
          this.success = true;
        })
        .catch(error => {
        	this.success = false;
          console.log(error);
        });
      }
    }
  }
</script>
<style lang="scss">
	.no-webp{
		.beginners-bundle-card{
			background-image: url('$img/bundles/beginners-bundle-card.jpg?v=2023-07-24');
		}
		.intermediate-bundle-card{
			background-image: url('$img/bundles/intermediate-bundle-card.jpg');
		}
		.complete-bundle-card{
			background-image: url('$img/bundles/complete-bundle-card.jpg');
		}
	}
	.webp{
		.beginners-bundle-card{
			background-image: url('$img/bundles/beginners-bundle-card.webp?v=2023-07-24');
		}
		.intermediate-bundle-card{
			background-image: url('$img/bundles/intermediate-bundle-card.webp');
		}
		.complete-bundle-card{
			background-image: url('$img/bundles/complete-bundle-card.webp');
		}
	}
	#shop-bundles-two{
		.bundle-card{
			position: relative;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			min-height: 266px;
			min-width: 266px;
			overflow: hidden;
			cursor: pointer;
			border-radius: 0.25rem;
			.bundle-info{
		    position: absolute;
		    height: 100%;
		    width: 100%;
				z-index: 2;
				cursor: pointer;
				color: #fff;
				.bundle-name{
					font-family: "Oswald", sans-serif;
					font-size: 2rem;
					line-height: 1.2;
					cursor: pointer;
				}
				.bundles-full-price{
					position: absolute;
					bottom: 2.2rem;
					left: 1rem;
					width: calc(100% - 2rem);
					font-family: "Oswald", sans-serif;
					font-size: 1.4rem;
					    font-weight: 300;
					line-height: 1.2;
					cursor: pointer;
				}
				.bundle-price{
					position: absolute;
					bottom: 1rem;
					left: 1rem;
					width: calc(100% - 2rem);
					font-family: "Oswald", sans-serif;
					font-size: 1.2rem;
					line-height: 1.2;
					cursor: pointer;
					.only{
						font-size: 0.8rem;
					}
					.learn-more{
						float: right;
						margin-top: 5px;
						font-size: 1rem;
						cursor: pointer;
						font-family: "Karla", sans-serif;
					}
				}
				.fa-star{
					color: #F8D21B;
				}
			}
			.special-offer{
				position: absolute;
				bottom:0.5rem;
				left:1rem;
				display: inline-block;
				text-align: center;
				width: 85px;
				height: 25px;
				font-size: 16px;
				font-weight: 900;
				background-color:#D72737;
				color: #fff;
				border-radius: 15px;
			}
			.most-popular{
				text-align: center;
				display: inline-block;
				height: auto;
				padding: 3px 8px;
				font-weight: 700;
				border-radius: 30px;
				font-size: 14px;
				background-color:#D6F6E7;
				color: #00BC0D;
				.most-popular-check{
					margin-top: -2px;
				}
			}
		}
	}
</style>