<template>
	<div id="shop-bundles" class="container pt-4 pb-4">
		<div class="row half_row">
			<div class="col-lg-5 col-xl-4 half_col mb-3">
				<a href="/products/mobility-reset-jan-25">
					<div class="card border-0 shadow bundle-card aug-mobility-reset">
						<div class="bundle-info p-3">
							<div class="special-offer mb-2 mx-auto">20% Off!</div>
							<p class="bundle-name mimic-h2 mb-0">January Mobility Reset</p>
							<p class="bundle-short">Regain your Mobility this January!</p>
			      	<p class="bundle-price mb-0" ><span class="learn-more text-right">Learn More <i class="fa fa-angle-double-right"></i></span></p>
			      </div>
					</div>
				</a>
			</div>
			<div class="col-lg-5 col-xl-4 half_col">
				<a href="/bundles/jan-25-mobility-reset-smm-bundle">
					<div class="card border-0 shadow bundle-card reset-bundle-card">
						<div class="bundle-info p-3">
							<div class="special-offer mb-2 mx-auto">25% Off!</div>
							<p class="bundle-name mimic-h2 mb-0">January Mobility Reset + SMM Bundle</p>
							<p class="bundle-short">Regain your Mobility this January!</p>
			      	<p class="bundle-price mb-0" ><span class="learn-more text-right">Learn More <i class="fa fa-angle-double-right"></i></span></p>
			      </div>
					</div>
				</a>
			</div>
		</div>
	</div>
</template>
<style lang="scss">
	.no-webp{
		.aug-mobility-reset{
			background-image: url('$img/offers/camps/aug-mobility-reset.jpg');
		}
		.reset-bundle-card{
			background-image: url('$img/bundles/beginners-bundle-card.jpg');
		}
	}
	.webp{
		.aug-mobility-reset{
			background-image: url('$img/offers/camps/aug-mobility-reset.webp');
		}
		.reset-bundle-card{
			background-image: url('$img/bundles/beginners-bundle-card.webp');
		}
	}
	#shop-bundles{
		.bundle-card{
			position: relative;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			min-height: 125px;
			min-width: 266px;
			overflow: visible;
			cursor: pointer;
			border-radius: 0.25rem;
			.bundle-info{
		    position: absolute;
		    height: 100%;
		    width: 100%;
				z-index: 2;
				cursor: pointer;
				color: #fff;
				.bundle-name{
					font-family: "Oswald", sans-serif;
					font-size: 1.4rem;
					line-height: 1.2;
					cursor: pointer;
				}
				.bundle-price{
					position: absolute;
					bottom: 1rem;
					left: 1rem;
					width: calc(100% - 2rem);
					font-family: "Oswald", sans-serif;
					font-size: 1.2rem;
					line-height: 1.2;
					cursor: pointer;
					.only{
						font-size: 0.8rem;
					}
					.learn-more{
						float: right;
						margin-top: 5px;
						font-size: 1rem;
						cursor: pointer;
						font-family: "Karla", sans-serif;
					}
				}
				.fa-star{
					color: #F8D21B;
				}
			}
			.special-offer{
				position: absolute;
				bottom:0.5rem;
				left: -0.5rem;
				display: inline-block;
				text-align: center;
				width: 85px;
				height: 25px;
				font-size: 16px;
				font-weight: 900;
				background-color:#D72737;
				color: #fff;
				border-radius: 0;
			}
		}
	}
</style>