<template>
  <div id="payment-form" class="row half_row">
    <div class="col-lg-12 half_col">
      <h2 class="text-primary smaller-title text-capitalize">Tell us who is receiving the gift</h2>
      <h4 class="mb-4">We need a few details about them</h4>
    </div>
    <div class="col-lg-6 half_col mb-3">
      <label class="mb-0" for="gift_first_name"><b>First Name*</b></label>
      <input v-model="details.gift_first_name" id="gift_first_name" type="text" name="gift_first_name" class="form-control mb-0" placeholder="First Name*" required/> 
      <span class="help-block text-danger error-gift_first_name d-none"></span>
    </div>
    <div class="col-lg-6 half_col mb-3">
      <label class="mb-0" for="gift_last_name"><b>Last Name*</b></label>
      <input v-model="details.gift_last_name" id="gift_last_name" type="text" name="gift_last_name" class="form-control mb-0" placeholder="Last Name*"  required/> 
      <span class="help-block text-danger error-gift_last_name d-none"></span>
    </div>
    <div class="col-sm-6 half_col mb-3">
      <label class="mb-0" for="gift_email"><b>Email Address*</b></label>
      <input v-model="details.gift_email" id="gift_email" type="text" name="gift_email" class="form-control mb-0" placeholder="Email Address*" required/> 
      <span class="help-block text-danger error-gift_email d-none"></span>
    </div>
    <div class="col-sm-6 half_col mb-3">
      <label class="mb-0" for="gift_email-confirm"><b>Confirm Email Address*</b></label>
      <input v-model="details.gift_email_confirmation" id="gift_email-confirm" type="text" name="gift_email_confirmation" class="form-control mb-0" placeholder="Email Address*" required/> 
    </div>
    <div class="col-lg-6 half_col mb-3">
      <label class="mb-0" for="when"><b>When do you want them to receive it?</b></label>
      <select v-model="details.when" id="when" class="form-control" name="when">
        <option value="immediately">Immediately</option>
        <option value="date">Another Date</option>
      </select>
    </div>
    <div id="date-box" class="col-lg-6 half_col mb-3" v-if="details.when != 'immediately'">
      <label class="mb-0" for="date"><b>What date you want the gift to be sent?*</b></label>
      <input v-model="details.date" type="date" id="date" class="form-control" name="date" min=""/>
      <p class="text-small">* Gifts will be sent at 00:00 GMT on the date you select</p>
      <span class="help-block text-danger error-gift_date d-none"></span>
    </div>
    <div class="col-12 half_col">
      <label class="mb-0" for="message"><b>Do you have a message you want to send to them along with your gift?</b></label>
      <textarea v-model="details.message" name="message" id="message" class="form-control" rows="5" placeholder="Type your message here" value="" ></textarea>
    </div>
    <div class="col-12 half_col mb-4 mt-4">
      <div id="agree_holder" class="d-block">
        <label class="text-small mb-0" for="agree">
          <input v-model="details.agree" id="agree" class="mr-1" type="checkbox" name="agree" required/>
          By ticking this box you give your consent for the personal information entered on this form to be stored in a secure database. Your or the gift recipient's information will not be shared or used for marketing and is only stored so you may log in and continue to use the features of this application. You may remove your information from our database by contacting me at any time. You also agree to the <a href="{{route('tandcs')}}" target="_blank">Terms &amp; conditions</a> and <a href="{{route('privacy-policy')}}">Privacy Policy</a>.
        </label>
        <span class="help-block text-danger error-agree d-none"></span>
      </div>
    </div>  
    <div class="col-12 half_col">
      <hr class="grey-line my-4"/>
      <div class="row">
        <div class="col-12">
          <p class="mb-2"><b>Enter Card Details:</b></p>
        </div>
        <div class="container" v-if="stripeLoaded">
          <div class="row">
            <div class="col-12">
              <StripeElements
                v-slot="{ elements, instance }"
                ref="elms"
                :stripe-key="stripekey"
                :instance-options="instanceOptions"
                :elements-options="elementsOptions"
              >
                <StripeElement
                  ref="payment"
                  type="payment"
                  :elements="elements"
                />
              </StripeElements>
            </div>
            <div class="col-lg-6 mt-4 text-center text-lg-left">
              <p>
                <img data-src="/img/logos/visa.svg" data-srcset="/img/logos/visa.svg" alt="Visa Logo" width="40" class="img-fluid lazy mob-mb-0 mob-mr-3 mr-2 loaded" srcset="/img/logos/visa.svg" src="/img/logos/visa.svg" data-was-processed="true" style="max-width: 12vw;"> 
                <img data-src="/img/logos/mastercard.svg" data-srcset="/img/logos/mastercard.svg" alt="Mastercard Logo" width="40" class="img-fluid lazy mob-mr-3 mob-mb-0 mr-2 loaded" srcset="/img/logos/mastercard.svg" src="/img/logos/mastercard.svg" data-was-processed="true" style="max-width: 10vw;">
                <img data-src="/img/logos/amex.svg" data-srcset="/img/logos/amex.svg" alt="American Express Logo" width="30" class="img-fluid lazy mob-mb-0 loaded" srcset="/img/logos/amex.svg" src="/img/logos/amex.svg" data-was-processed="true" style="max-width: 9vw;"></p>
              <div id="completeCheckout" class="row">
                <div class="col-12 mt-2 d-lg-none">
                  <p class="text-center text-lg-left mb-2"><b><span class="text-primary">Total: </span> £<span id="total">{{total}}</span></b></p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mt-4 mob-mt-0">
              <button id="submit" class="btn btn btn-primary ml-auto mr-0 mob-mx-auto powered-by-stripe" @click="card()">Pay Now</button>
              <div id="error-message" class="text-center text-lg-right text-primary text-small">
              </div>          
            </div>
          </div>
        </div>
      </div>
      <hr class="grey-line my-4"/>
      <button id="paypalButton" type="button" class="btn btn-paypal mt-2 ml-auto mr-0 mob-mx-auto" @click="paypal()">Checkout</button>
    </div>
  </div>
</template>

<script >
import { StripeElements, StripeElement } from 'vue-stripe-js'
import { loadStripe } from '@stripe/stripe-js'
import { ref } from 'vue'
let elms = ref(null);
var stripe = null;

export default {
  props:{
    stripekey: String,
    clientsecret: String,
    paymentmethod: String,
    total: Number,
    returnurl: String
  },
  components: {
    StripeElements,
    StripeElement,
  },
  data(){
    return {
      details:{
        gift_first_name: "",
        gift_last_name: "",
        gift_email: "",
        gift_email_confirmation: "",
        when: "immediately",
        date: "",
        message: "",
        agree: null,
      },
      instanceOptions: null,
      stripeLoaded: false,
      elementsOptions: {
        clientSecret: this.clientsecret
      }, 
    }
  },
  mounted() {
    stripe = Stripe(this.stripekey);
    const stripePromise = loadStripe(this.stripekey)
    stripePromise.then(() => {
      this.stripeLoaded = true;
    })
  },
  methods:{
    paypal(){
      document.getElementById("loader").classList.add("on");
      document.getElementById("loader-message").innerHTML = "Redirecting to PayPal";
      axios.post('/store-gift-details', this.details)
      .then(response => {
        window.location.href = "/process-gift-transaction";
      })
      .catch(error => {
        // Error handling
        console.log(error.response.data);
        if (error.response.status === 422) {
          
          if (error.gift_first_name) {
              const errorElement1 = document.querySelector('.error-gift_first_name');
              errorElement1.innerHTML = '<strong>' + error.gift_first_name + '</strong>';
              errorElement1.classList.remove('d-none');
          }
          if (error.gift_last_name) {
              const errorElement2 = document.querySelector('.error-gift_last_name');
              errorElement2.innerHTML = '<strong>' + error.gift_last_name + '</strong>';
              errorElement2.classList.remove('d-none');
          }
          if (error.gift_email) {
              const errorElement3 = document.querySelector('.error-gift_email');
              errorElement3.innerHTML = '<strong>' + error.gift_email + '</strong>';
              errorElement3.classList.remove('d-none');
          }
          if (error.gift_date) {
              const errorElement4 = document.querySelector('.error-gift_date');
              errorElement4.innerHTML = '<strong>' + error.gift_date + '</strong>';
              errorElement4.classList.remove('d-none');
          }
          if (error.agree) {
              const errorElement5 = document.querySelector('.error-agree');
              errorElement5.innerHTML = '<strong>' + error.agree + '</strong>';
              errorElement5.classList.remove('d-none');
          }

        }
      });
    },
    card(){
      axios.post('/store-gift-details', this.details)
      .then(response => {
        document.getElementById("loader").classList.add("on");
        document.getElementById("loader-message").innerHTML = "Payment processing";

        this.pay();
        
      })
      .catch(error => {
        // Error handling
        console.log(error.response.data);
        if (error.response.status === 422) {
          
          if (error.gift_first_name) {
              const errorElement1 = document.querySelector('.error-gift_first_name');
              errorElement1.innerHTML = '<strong>' + error.gift_first_name + '</strong>';
              errorElement1.classList.remove('d-none');
          }
          if (error.gift_last_name) {
              const errorElement2 = document.querySelector('.error-gift_last_name');
              errorElement2.innerHTML = '<strong>' + error.gift_last_name + '</strong>';
              errorElement2.classList.remove('d-none');
          }
          if (error.gift_email) {
              const errorElement3 = document.querySelector('.error-gift_email');
              errorElement3.innerHTML = '<strong>' + error.gift_email + '</strong>';
              errorElement3.classList.remove('d-none');
          }
          if (error.gift_date) {
              const errorElement4 = document.querySelector('.error-gift_date');
              errorElement4.innerHTML = '<strong>' + error.gift_date + '</strong>';
              errorElement4.classList.remove('d-none');
          }
          if (error.agree) {
              const errorElement5 = document.querySelector('.error-agree');
              errorElement5.innerHTML = '<strong>' + error.agree + '</strong>';
              errorElement5.classList.remove('d-none');
          }

        }
      });
    },
    async pay() {
      const { error } = await this.$refs.elms.instance.confirmPayment({
          elements: this.$refs.elms.elements,
          confirmParams: {
            return_url: this.returnurl,
          },
        });

        if (error) {
          document.getElementById("loader").classList.remove("on");
          const messageContainer = document.querySelector('#error-message');
          messageContainer.textContent = error.message;
        }
    }
  }
}

</script>