<template>
	<div id="shop-container">
		<!-- <shop-bundles></shop-bundles>		 -->
	 	<shop-level-one></shop-level-one>
	 	<div class="container">
	 		<div class="row">
				<shop-level-two></shop-level-two>
				<shop-level-three></shop-level-three>
			</div>
		</div>
		<shop-bundles-two></shop-bundles-two>
		<shop-level-four></shop-level-four>
		<shop-level-five></shop-level-five>
		<!-- <shop-online-camps></shop-online-camps> -->
	</div>
</template>
<script>
	import ShopBundles from '../../components/shop/Bundles.vue';
	import ShopLevelOne from '../../components/shop/LevelOne.vue';
	import ShopLevelTwo from '../../components/shop/LevelTwo.vue';
	import ShopLevelThree from '../../components/shop/LevelThree.vue';
	import ShopBundlesTwo from '../../components/shop/BundlesTwo.vue';
	import ShopLevelFour from '../../components/shop/LevelFour.vue';
	import ShopLevelFive from '../../components/shop/LevelFive.vue';
	import ShopOnlineCamps from '../../components/shop/OnlineCamps.vue';
	export default {
    components: {
      ShopBundles,
      ShopLevelOne,
      ShopLevelTwo,
      ShopLevelThree,
      ShopBundlesTwo,
      ShopLevelFour,
      ShopLevelFive,
      ShopOnlineCamps
    }
  }
</script>
<style lang="scss">
	#shop-container{
		.text-grey{
			color: #9c9d9f !important;
		}
	}
</style>