<template>
	<div id="shop-level-three" class="col-lg-6 pt-4 pb-5 mob-pb-0">
		<div class="row half_row">
			<div class="col-12 half_col">
				<p class="mimic-h2 text-primary mb-0">Level Three</p>
				<p>Build strength & skills</p>
			</div>
		</div>
		<div class="row half_row" v-if="products != null">
			<div class="col-lg-8 half_col" v-for="product in products">
				<product-card :product="product" :page="'shop'"></product-card>
			</div>
		</div>
		<div class="row" v-else>
			<div class="col-lg-8 mb-3 half_col">
				<div class="loading-card shadow">
					<div class="loading">
			      <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
			    </div>
			  </div>
			</div>
	  </div>
	</div>
</template>
<script>
	import ProductCard from '../../components/shop/ProductCard.vue';
  export default {
  	components: {
      ProductCard,
    },
    data() {
      return {
        errors: {},
        success: false,
        limit: 3,
        loaded: true,
        products: null,
      }
    },
    mounted() {
      this.getProducts();
    },
    methods: {
      getProducts(page = 1) {
        if (this.loaded) {
          axios.get('/api/products/get/level-three/' + this.limit + '?page=' + page + '&featured=true').then(response => {            
            this.products = response.data.data;
            this.success = true;
          })
          .catch(error => {
          	this.success = false;
            console.log(error);
          });
        }
      }
    }
  }
</script>
<style lang="scss">
	#shop-level-three{
		.loading-card{
			width: 100%;
			min-width: 221px;
			min-height: 220px;
			border-radius: 0.25rem;
			background-color: #f7f7f7;
			position: relative;
			.loading{
			  position: absolute;
		    width: 64px;
		    height: 64px;
		    left: calc(50% - 32px);
		    top: calc(50% - 32px);
			}
		}
	}
	@media only screen and (max-width : 767px){
		
	}
</style>