<template>
	<div id="shop-level-five" class="container pt-4" v-if="products != null">
		<div class="row half_row" v-if="products.length > 0">
			<div class="col-12 half_col">
				<p class="mimic-h2 text-primary mb-4">Online Camps</p>
			</div>
		</div>
		<div class="row half_row" v-if="products != null">
			<div class="col-lg-4 mb-3 half_col" v-for="product in products">
				<product-card :product="product" :page="'shop'"></product-card>
			</div>
			<div class="col-lg-4 mb-3 half_col">
				<a href="/bundles/jan-25-mobility-reset-smm-bundle">
					<div class="product-card shadow text-left shop-product" style="background-image: url('https://tommorrison.uk/storage/852/conversions/Bundle---25-JMR---Shop-Cover-normal.jpg');">
						<div class="product-info p-3">
							<p class="product-name mb-1">January Mobility Reset + SMM Bundle</p>
							<p class="mb-1">Regain your Mobility this January!</p>
							<p class="mb-0">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</p>
							<p class="product-price mb-0"><s class="text-grey">&pound;159.00</s> &nbsp; &pound;119.00</p>
				    </div>
					</div>
				</a>
			</div>
		</div>
		<div class="row" v-else>
			<div class="col-lg-4 mb-3 half_col">
				<div class="loading-card shadow">
					<div class="loading">
			      <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
			    </div>
			  </div>
			</div>
			<div class="col-lg-4 mb-3 half_col">
				<div class="loading-card shadow">
					<div class="loading">
			      <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
			    </div>
			  </div>
			</div>
	  </div>
	</div>
</template>
<script>
	import ProductCard from '../../components/shop/ProductCard.vue';
  export default {
  	components: {
      ProductCard,
    },
    data() {
      return {
        errors: {},
        success: false,
        limit: 3, 
        loaded: true,
        products: null,
      }
    },
    mounted() {
      this.getProducts();
    },
    methods: {
      getProducts(page = 1) {
        if (this.loaded) {
          axios.get('/api/products/get/online-camps/' + this.limit + '?page=' + page + '&featured=true').then(response => {            
            this.products = response.data.data;
            this.success = true;
          })
          .catch(error => {
          	this.success = false;
            console.log(error);
          });
        }
      }
    }
  }
</script>
<style lang="scss">
	#shop-level-five{
		.loading-card{
			width: 100%;
			min-width: 221px;
			min-height: 220px;
			border-radius: 0.25rem;
			background-color: #f7f7f7;
			position: relative;
			.loading{
			  position: absolute;
		    width: 64px;
		    height: 64px;
		    left: calc(50% - 32px);
		    top: calc(50% - 32px);
			}
		}
	}
	@media only screen and (max-width : 767px){
		
	}
</style>