<template>
	<div id="order-status-indicator" v-if="stage">
		<p class="mb-4">
			<span>
				<span class="order-status-indicator-circle bg-primary">
					<span class="order-status-indicator-number order-status-indicator-number-1" v-if="stage == 1">1</span>
					<i class="fa fa-check" v-else></i>
				</span>
				<span :class="stage != 1 ? 'd-none d-lg-inline' : ''">Create An Account</span>
			</span>
			<span :class="stage < 2 ? 'greyed-out' : ''">
				<span class="order-status-line"></span>
				<span class="order-status-indicator-circle bg-primary">
					<span class="order-status-indicator-number" v-if="stage <= 2">2</span>
					<i class="fa fa-check" v-else></i>
				</span>
				<span :class="stage != 2 ? 'd-none d-lg-inline' : ''">Payment Details</span>
			</span>
			<span :class="stage < 3 ? 'greyed-out' : ''">
				<span class="order-status-line"></span>
				<span class="order-status-indicator-circle" :class="stage == 3 ? 'bg-success' : 'bg-primary'">
					<span class="order-status-indicator-number" v-if="stage != 3">3</span>
					<i class="fa fa-check" v-else></i>
				</span>
				<span :class="stage != 3 ? 'd-none d-lg-inline' : ''">Order Complete</span>
			</span>
		</p>
	</div>
</template>
<script>
	export default {
		props:{
			stage: Number,
		}
	}
</script>
<style lang="scss">
	#order-status-indicator{
		.greyed-out{
			color:#DCDCDC;
			.order-status-indicator-circle{
				background-color: #DCDCDC !important;
			}
			.order-status-line{
				&:after{
					background-color: #DCDCDC !important;
				}
			}
		}
		.order-status-indicator-circle{
			width: 21px;
			height: 21px;
			display: inline-block;
			text-align: center;
			color: #fff;
			padding: 5px 0;
			margin-right: 5px;
			position: relative;
			border-radius: 100%;
			margin-bottom: -4px;
			i{
				font-size: 13px;
				position: absolute;
		    top: 4px;
		    left: 4px;
			}
			.order-status-indicator-number{
				position: absolute;
	    	top: -4px;
	    	left: 5px;
	    	font-size: 18px;
	    	&.order-status-indicator-number-1{
	    		left: 7px;
	    	}
			}
		}
		.order-status-line{
			width: 35px;
			display: inline-block;
			position: relative;
			margin: 0 5px;
			&:after{
				content: "";
				position: absolute;
				width: 100%;
				height: 1px;
				top: -6px;
				left: 0;
				background-color: #3E4148;
			}
		}
	}
</style>