<template>
	<a :href="'/products/'+product.slug">
		<div class="product-card shadow text-left" :style="bgstyles" :class="{'shop-product': page == 'shop'}">
			<div class="product-info p-3">
				<div class="most-popular mb-1" v-if="product.id == 1 && page == 'shop'"><img src="/img/icons/list-check-dark-green.svg" class="most-popular-check d-inline mr-1" width="17" height="15" />Most Popular</div>
				<p class="product-name mb-1" >{{product.name}}</p>
				<p class="mb-1" v-if="product.short">{{product.short}}</p>
				<p class="mb-0">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
				</p>
				<p class="product-price mb-0" v-if="product.sale_price"><s class="text-grey">&pound;{{product.price}}</s> &nbsp; &pound;{{product.sale_price}}</p>
	      <p class="product-price mb-0" v-else><span class="only">Only</span> &pound;{{product.price}} <span class="learn-more text-right">Learn More <i class="fa fa-angle-double-right"></i></span></p>
	    </div>
		</div>
	</a>
</template>
<script>
	export default {
		props:{
			product: Object,
			page: String
		},
		data(){
			return {
				bgImg: this.product.image,
      	bgImgWebp: this.product.webp, 
			}
		},
		computed: {
	    bgstyles() {
	      return {
	        '--bg-img': 'url('+this.product.image+')',
	        '--bg-img-webp': 'url('+this.product.webp+')'
	      }
	    }
	  },
	}
</script>
<style lang="scss">
	.no-webp{
		.product-card{
			background-image: var(--bg-img);
		}
	}
	.webp{
		.product-card{
			background-image: var(--bg-img-webp);
		}
	}
	.product-card{
		position: relative;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		min-height: 266px;
		min-width: 266px;
		width: 100%;
		overflow: hidden;
		cursor: pointer;
		border-radius: 0.25rem;
		.product-info{
	    position: absolute;
	    height: 100%;
	    width: 100%;
			z-index: 2;
			cursor: pointer;
			color: #fff;
			.product-name{
				font-family: "Oswald", sans-serif;
				font-size: 2rem;
				line-height: 1.2;
				cursor: pointer;
			}
			.product-price{
				position: absolute;
				bottom: 1rem;
				left: 1rem;
				width: calc(100% - 2rem);
				font-family: "Oswald", sans-serif;
				font-size: 1.2rem;
				line-height: 1.2;
				cursor: pointer;
				.only{
					font-size: 0.8rem;
				}
				.learn-more{
					float: right;
					margin-top: 5px;
					font-size: 1rem;
					cursor: pointer;
					font-family: "Karla", sans-serif;
				}
			}
			.fa-star{
				color: #F8D21B;
			}
		}
		.most-popular{
			text-align: center;
			display: inline-block;
			height: auto;
			padding: 3px 8px;
			font-weight: 700;
			border-radius: 30px;
			font-size: 14px;
			background-color:#D6F6E7;
			color: #00BC0D;
			.most-popular-check{
				margin-top: -2px;
			}
		}
		&.shop-product{
			min-height: 220px;
			.product-info{
				.product-name{
					font-size: 1.6rem;
					line-height: 1.2;
					cursor: pointer;
				}
			}
		}
		&:before{
			content: "";
			background-color: #000;
			opacity: 0.6;
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
</style>