<template>
	<div id="smm-bundles" class="container pb-5" v-if="success">
		<div class="row">
			<div class="col-12 half_col d-lg-none">
				<div style="width:320px;">
					<carousel :items="1" :margin="15" :center="false"  :autoHeight="false" :autoWidth="false" :nav="false" :dots="true" :loop="true">
						<slide key="1" v-if="bs.includes('beginners-bundle') && beginners != null">
							<div class="card border-0 shadow bundle-card beginners-bundle-card">
								<div class="bundle-info p-3">
									<div class="special-offer mb-2 mx-auto">Save {{beginners.percent}}%</div>
									<div class="most-popular mb-1"><img src="/img/icons/list-check-dark-green.svg" class="most-popular-check d-inline mr-1" width="17" height="15" />Most Popular</div>
									<p class="bundle-name mimic-h2 mb-2">Beginner's Bundle</p>
									<p class="bundle-short"><i>Includes:<br/>Simplistic Mobility Method®<br/>Ultimate Core<br/>Where I Went Wrong</i></p>
									<p class="bundles-full-price"><s>£{{beginners.price}}</s><br/><b>Only £{{beginners.sale_price}}</b></p>
					      	<p class="bundle-price mb-0" ><a href="/products/beginners-bundle" class="learn-more text-right text-white">Learn More <i class="fa fa-angle-double-right"></i></a></p>
					      </div>
							</div>
						</slide>
						<slide key="2" v-if="bs.includes('intermediate-bundle') && intermediate != null">
							<div class="card border-0 shadow bundle-card intermediate-bundle-card">
								<div class="bundle-info p-3">
									<div class="special-offer mb-2 mx-auto">Save {{intermediate.percent}}%</div>
									<div class="most-popular mb-1"><img src="/img/icons/list-check-dark-green.svg" class="most-popular-check d-inline mr-1" width="17" height="15" />The Next Step</div>
									<p class="bundle-name mimic-h2 mb-2">Intermediate Bundle</p>
									<p class="bundle-short"><i>Includes:<br/>Stability Builder&#8482;<br/>End Range Training</i></p>
									<p class="bundles-full-price"><s>£{{intermediate.price}}</s><br/><b>Only £{{intermediate.sale_price}}</b></p>
					      	<p class="bundle-price mb-0" ><a href="/products/intermediate-bundle" class="learn-more text-right text-white">Learn More <i class="fa fa-angle-double-right"></i></a></p>
					      </div>
					    </div>
					  </slide>
					  <slide key="3" v-if="bs.includes('complete-bundle') && complete != null">
					    <div class="card border-0 shadow bundle-card complete-bundle-card">
								<div class="bundle-info p-3">
									<div class="special-offer mb-2 mx-auto">Save {{complete.percent}}%</div>
									<div class="most-popular mb-1"><img src="/img/icons/list-check-dark-green.svg" class="most-popular-check d-inline mr-1" width="17" height="15" />Biggest Discount</div>
									<p class="bundle-name mimic-h2 mb-2">Complete Bundle</p>
									<p class="bundle-short"><i>Includes:<br/>Simplistic Mobility Method®<br/>Ultimate Core<br/>Where I Went Wrong<br/>Stability Builder&#8482;<br/>End Range Training</i></p>
									<p class="bundles-full-price"><s>£{{complete.price}}</s><br/><b>Only £{{complete.sale_price}}</b></p>
					      	<p class="bundle-price mb-0" ><a href="/products/complete-bundle" class="learn-more text-right text-white">Learn More <i class="fa fa-angle-double-right"></i></a></p>
					      </div>
					    </div>
					  </slide>
				    <template #addons>
              <pagination />
            </template>
					</carousel>
				</div>
			</div>
			<div :class="'col-lg-' + collength + ' mb-3 d-none d-lg-block'" v-if="bs.includes('beginners-bundle') && beginners != null">
				<a href="/products/beginners-bundle">
					<div class="card border-0 shadow bundle-card beginners-bundle-card">
						<div class="bundle-info p-3">
							<div class="special-offer mb-2 mx-auto">Save {{beginners.percent}}%</div>
							<div class="most-popular mb-1"><img src="/img/icons/list-check-dark-green.svg" class="most-popular-check d-inline mr-1" width="17" height="15" />Most Popular</div>
							<p class="bundle-name mimic-h2 mb-2">Beginner's Bundle</p>
							<p class="bundle-short"><i>Includes:<br/>Simplistic Mobility Method®<br/>Ultimate Core<br/>Where I Went Wrong</i></p>
							<p class="bundles-full-price"><s>£{{beginners.price}}</s><br/><b>Only £{{beginners.sale_price}}</b></p>
			      	<p class="bundle-price mb-0" ><span class="learn-more text-right text-white">Learn More <i class="fa fa-angle-double-right"></i></span></p>
			      </div>
					</div>
				</a>
			</div>
			<div :class="'col-lg-' + collength + ' mb-3 d-none d-lg-block'" v-if="bs.includes('intermediate-bundle') && intermediate != null">
				<a href="/products/intermediate-bundle">
					<div class="card border-0 shadow bundle-card intermediate-bundle-card">
						<div class="bundle-info p-3">
							<div class="special-offer mb-2 mx-auto">Save {{intermediate.percent}}%</div>
							<div class="most-popular mb-1"><img src="/img/icons/list-check-dark-green.svg" class="most-popular-check d-inline mr-1" width="17" height="15" />The Next Step</div>
							<p class="bundle-name mimic-h2 mb-2">Intermediate Bundle</p>
							<p class="bundle-short"><i>Includes:<br/>Stability Builder&#8482;<br/>End Range Training</i></p>
							<p class="bundles-full-price"><s>£{{intermediate.price}}</s><br/><b>Only £{{intermediate.sale_price}}</b></p>
			      	<p class="bundle-price mb-0" ><span class="learn-more text-right text-white">Learn More <i class="fa fa-angle-double-right"></i></span></p>
			      </div>
					</div>
				</a>
			</div>
			<div :class="'col-lg-' + collength + ' mb-3 d-none d-lg-block'" v-if="bs.includes('complete-bundle') && complete != null">
				<a href="/products/complete-bundle">
					<div class="card border-0 shadow bundle-card complete-bundle-card">
						<div class="bundle-info p-3">
							<div class="special-offer mb-2 mx-auto">Save {{complete.percent}}%</div>
							<div class="most-popular mb-1"><img src="/img/icons/list-check-dark-green.svg" class="most-popular-check d-inline mr-1" width="17" height="15" />Biggest Discount</div>
							<p class="bundle-name mimic-h2 mb-2">Complete Bundle</p>
							<p class="bundle-short"><i>Includes:<br/>Simplistic Mobility Method®<br/>Ultimate Core<br/>Where I Went Wrong<br/>Stability Builder&#8482;<br/>End Range Training</i></p>
							<p class="bundles-full-price"><s>£{{complete.price}}</s><br/><b>Only £{{complete.sale_price}}</b></p>
			      	<p class="bundle-price mb-0" ><span class="learn-more text-right text-white">Learn More <i class="fa fa-angle-double-right"></i></span></p>
			      </div>
					</div>
				</a>
			</div>
		</div>
	</div>
</template>
<script>
	import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';
  export default {
  	props:{
  		bs: Array,
  	},
  	components: {
  		Carousel,
      Slide,
      Pagination,
      Navigation
    },
    data() {
      return {
        errors: {},
        success: false,
        limit: 3,
        loaded: true,
        beginners: null,
        intermediate: null,
        complete: null,
        collength: 5,
      }
    },
    mounted() {
    	if(this.bs.length == 3){
    		this.collength = 4;
    	}
      this.getBundles();
    },
    methods: {
      getBundles(page = 1) {
        if (this.loaded) {
          axios.get('/api/products/get/bundles').then(response => {            
            this.beginners = response.data[0];
            this.intermediate = response.data[1];
            this.complete = response.data[2];
            this.success = true;
          })
          .catch(error => {
          	this.success = false;
            console.log(error);
          });
        }
      }
    }
  }
</script>
<style lang="scss">
	.no-webp{
		.beginners-bundle-card{
			background-image: url('$img/bundles/beginners-bundle-card.jpg?v=2023-07-24');
		}
		.intermediate-bundle-card{
			background-image: url('$img/bundles/intermediate-bundle-card.jpg');
		}
		.complete-bundle-card{
			background-image: url('$img/bundles/complete-bundle-card.jpg');
		}
	}
	.webp{
		.beginners-bundle-card{
			background-image: url('$img/bundles/beginners-bundle-card.webp?v=2023-07-24');
		}
		.intermediate-bundle-card{
			background-image: url('$img/bundles/intermediate-bundle-card.webp');
		}
		.complete-bundle-card{
			background-image: url('$img/bundles/complete-bundle-card.webp');
		}
	}
	.owl-carousel .owl-stage-outer{
		overflow: visible !important;
	}
	.owl-dots{
  	margin-left: 100px;
	}
	#smm-bundles{
		.carousel{
			width: 100%;
			height: auto;
			margin: auto;
			margin-bottom: 40px;
			position: relative;
			.carousel__viewport{
				overflow: visible;
				width: 330px;
			}
			.carousel__pagination-button{
				&:after{
					border-radius: 100%;
					width: 10px;
					height: 10px;
					background-color: #D6D6D6;
				}
				&.carousel__pagination-button--active{
					&:after{
						background-color: #869791 !important;
					}
				}
			}
			
		}
		.bundle-card{
			text-align: left;
			position: relative;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			min-height: 365px;
			min-width: 320px;
			overflow: hidden;
			cursor: pointer;
			border-radius: 0.25rem;
			.bundle-info{
		    position: absolute;
		    height: 100%;
		    width: 100%;
				z-index: 2;
				cursor: pointer;
				color: #fff;
				.bundle-name{
					font-family: "Oswald", sans-serif;
					font-size: 2rem;
					line-height: 1.2;
					cursor: pointer;
				}
				.bundle-short{
					line-height: 1.3;
				}
				.bundles-full-price{
					position: absolute;
					bottom: 2.2rem;
					left: 1rem;
					width: calc(100% - 2rem);
					font-family: "Oswald", sans-serif;
					font-size: 1.4rem;
					    font-weight: 300;
					line-height: 1.2;
					cursor: pointer;
				}
				.bundle-price{
					position: absolute;
					bottom: 1rem;
					left: 1rem;
					width: calc(100% - 2rem);
					font-family: "Oswald", sans-serif;
					font-size: 1.2rem;
					line-height: 1.2;
					cursor: pointer;
					.only{
						font-size: 0.8rem;
					}
					.learn-more{
						float: right;
						margin-top: 5px;
						font-size: 1rem;
						cursor: pointer;
						font-family: "Karla", sans-serif;
					}
				}
				.fa-star{
					color: #F8D21B;
				}
			}
			.special-offer{
				position: absolute;
				bottom:0.5rem;
				left:1rem;
				display: inline-block;
				text-align: center;
				width: 85px;
				height: 25px;
				font-size: 16px;
				font-weight: 900;
				background-color:#D72737;
				color: #fff;
				border-radius: 15px;
			}
			.most-popular{
				text-align: center;
				display: inline-block;
				height: auto;
				padding: 3px 8px;
				font-weight: 700;
				border-radius: 30px;
				font-size: 14px;
				background-color:#D6F6E7;
				color: #00BC0D;
				.most-popular-check{
					width: 17px !important;
					margin-top: -2px;
				}
			}
		}
	}
</style>