<template>
  <div class="container" v-if="stripeLoaded">
    <div class="row">
      <div class="col-12">
        <StripeElements
          v-slot="{ elements, instance }"
          ref="elms"
          :stripe-key="stripekey"
          :instance-options="instanceOptions"
          :elements-options="elementsOptions"
        >
          <StripeElement
            ref="payment"
            type="payment"
            :elements="elements"
          />
        </StripeElements>
      </div>
      <div class="col-lg-6 mt-4 text-center text-lg-left">
        <p>
          <img data-src="/img/logos/visa.svg" data-srcset="/img/logos/visa.svg" alt="Visa Logo" width="40" class="img-fluid lazy mob-mb-0 mob-mr-3 mr-2 loaded" srcset="/img/logos/visa.svg" src="/img/logos/visa.svg" data-was-processed="true" style="max-width: 12vw;"> 
          <img data-src="/img/logos/mastercard.svg" data-srcset="/img/logos/mastercard.svg" alt="Mastercard Logo" width="40" class="img-fluid lazy mob-mr-3 mob-mb-0 mr-2 loaded" srcset="/img/logos/mastercard.svg" src="/img/logos/mastercard.svg" data-was-processed="true" style="max-width: 10vw;">
          <img data-src="/img/logos/amex.svg" data-srcset="/img/logos/amex.svg" alt="American Express Logo" width="30" class="img-fluid lazy mob-mb-0 loaded" srcset="/img/logos/amex.svg" src="/img/logos/amex.svg" data-was-processed="true" style="max-width: 9vw;"></p>
        <div id="completeCheckout" class="row">
          <div class="col-12 mt-2 d-lg-none">
            <p class="text-center text-lg-left mb-2"><b><span class="text-primary">Total: </span> £<span id="total">{{total.toFixed(2)}}</span></b></p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-4 mob-mt-0">
        <button id="submit" class="btn btn btn-primary ml-auto mr-0 mob-mx-auto powered-by-stripe" @click="pay">Pay Now</button>
        <div id="error-message" class="text-center text-lg-right text-primary text-small">
        </div>          
      </div>
    </div>
  </div>
</template>

<script >
import { StripeElements, StripeElement } from 'vue-stripe-js'
import { loadStripe } from '@stripe/stripe-js'
import { ref } from 'vue'
let elms = ref(null);
var stripe = null;

export default {
  props:{
    stripekey: String,
    clientsecret: String,
    paymentmethod: String,
    total: Number,
    returnurl: String
  },
  components: {
    StripeElements,
    StripeElement,
  },
  data(){
    return {
      instanceOptions: null,
      stripeLoaded: false,
      elementsOptions: {
        clientSecret: this.clientsecret
      }, 
    }
  },
  mounted() {
    stripe = Stripe(this.stripekey);
    const stripePromise = loadStripe(this.stripekey)
    stripePromise.then(() => {
      this.stripeLoaded = true;
    })

    // const pay = () => {
    //   // Get stripe element
    //   const cardElement = card.value.stripeElement

    //   // Access instance methods, e.g. createToken()
    //   elms.value.instance.createToken(cardElement).then((result: object) => {
    //     // Handle result.error or result.token
    //     console.log(result)
    //   })
    // }
  },
  methods:{
    async pay() {
      document.getElementById("loader").classList.add("on");
      document.getElementById("loader-message").innerHTML = "Payment processing";

      const { error } = await this.$refs.elms.instance.confirmPayment({
        elements: this.$refs.elms.elements,
        confirmParams: {
          return_url: this.returnurl,
        },
      });

      if (error) {
        document.getElementById("loader").classList.remove("on");
        const messageContainer = document.querySelector('#error-message');
        messageContainer.textContent = error.message;
      }
    }
  }
}

</script>