<template>
  <div class="mb-5 mob-mb-0 product-holder">
    <!-- Update to reference product.id instead of product.node.id -->
    <a :href="'/merch/products/' + product.id.split('/').pop()">
      <div class="product-container mb-3 p-3" data-fade="fadeIn">
        <!-- Check if the product has images and if the images array is not empty -->
        <div style="min-height: 218px;">
	        <img v-if="product.images && product.images.edges.length > 0"
	             :src="product.images.edges[0].node.src" 
	             class="w-100" 
	             :alt="product.title" />
	             
	        <div v-else>
	          <!-- Placeholder image if no image is available -->
	          <img src="/placeholder.jpg" class="w-100" alt="No image available" />
	        </div>
	      </div>
        <div class="p-3 text-dark">
          <!-- Update to reference product.title directly -->
          <h5 class="mb-2 scroll">{{ product.title }}</h5>
          
          <!-- Check if the product has variants and if the variants array is not empty -->
          <p v-if="product.variants && product.variants.edges.length > 0">
            £{{ parseFloat(product.variants.edges[0].node.priceV2.amount).toFixed(2) }}
          </p>
          <p v-else>
            Price unavailable
          </p>
          
          <div class="read-more mt-3">View Product</div>
        </div>
      </div>
    </a>
  </div>
</template>

<script>
export default {
  props: {
    product: {
      type: Object,
      required: true
    }
  }
};
</script>
<style lang="scss" scoped>
  .product-container {
    h5{
      font-size: 1.1rem;
    }
  }
</style>