<template>
  <div class="container py-lg-5 pb-5 pt-3">
    
    <!-- Cart is loading -->
    <div v-if="loading">Loading basket...</div>
    
    <!-- Cart is empty -->
    <div v-if="!loading && cartItems.length === 0">
      <p>Your basket is empty.</p>
    </div>
    
    <!-- Cart items table -->
    <div v-if="!loading && cartItems.length > 0">
      <div class="row half_row mb-3"  v-for="(item, index) in cartItems" :key="item.id">
        <div class="col-md-2 col-3 half_col">
          <img :src="item.variant.image" alt="Product image" style="width: 50px; margin-right: 10px;"  class="w-100" />
        </div>
        <div class="col-md-5 col-9 half_col">
          <h3 class="mt-4 mob-mt-0 mob-smaller-title mob-mb-0">{{ item.title }}</h3>
          <p class="mb-0 mob-text-small text-grey"><b>Size:</b> {{ item.variant.title }}</p>
          <p class="mt-1 mob-text-small mb-0 text-grey"><b>Quantity:</b> {{item.quantity}} <button class="btn btn-quantity btn-sm" @click="decreaseQuantity(item)">
            -
          </button>
          <button class="btn btn-quantity btn-sm" @click="increaseQuantity(item)">
            +
          </button></p>
          <div class="row">
            <div class="col-6 col-lg-12">
              
            </div>
            <div class="col-6 col-lg-12 text-right d-lg-none">
              <h3 class="mt-4 mob-mt-0">£{{ (item.variant.price * item.quantity).toFixed(2) }}</h3>
              <p class=""><a href="#" @click.prevent="removeItem(item.id)" class="grey-link"><i class="fa fa-trash"></i> Remove</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-4 text-right half_col d-none d-md-block">
          <h3 class="mt-4 mob-mt-0">£{{ (item.variant.price * item.quantity).toFixed(2) }}</h3>
          <p class=""><a href="#" @click.prevent="removeItem(item.id)" class="grey-link"><i class="fa fa-trash"></i> Remove</a></p>
        </div>
        <div class="col-12">
          <hr class="grey-line">
        </div>
      </div>
      <div class="row mt-5 mob-mt-0">
        <div class="col-lg-6">
          <div class="row">
            <div class="container mb-3 border-1 d-none d-lg-block">
              <div class="row half_row">
                <div class="col-2 text-center bg-grey pr-0 py-2 half_col">
                  <img src="/img/graphics/currencies.svg" alt="we accept your currency" width="80" height="58" class="h-auto pt-2" />
                </div>
                <div class="col-10 col-lg-8 bg-grey py-2 half_col mob-px-3">
                  <p class="mb-0"><b>We accept your currency!</b></p>
                  <p class="mb-0 text-light-grey">We charge in GBP (£), your payment will be converted at the current rate by your bank.</p>
                </div>
              </div>
            </div>
          </div>
        </div> 
        
        <div class="col-12 col-lg-6 text-right mob-text-left mob-mt-3">
          <p class="text-center text-even-larger text-md-right title mb-0" style="font-weight: 300;">Total: £{{ cartTotal }}</p>
          <p class="mb-2 text-center text-lg-right text-small">+ shipping calculated at checkout</p>
          <div class="d-block text-center text-lg-right w-100">
            <button class="btn btn-primary d-inline-block mt-2" @click="goToCheckout">Proceed to Checkout</button>
          </div>
          <p class="text-center text-md-right text-light-grey text-small mob-px-3 mt-3">Our merchandise checkout is powered by <img src="/img/logos/shopify.svg" width="100" height="30" class="h-auto ml-1" alt="Powered by Shopify" /></p>
          <div class="container mb-3 border-1 d-lg-none">
            <div class="row">
              <div class="col-3 text-center bg-grey pr-0 py-2">
                <img src="/img/graphics/currencies.svg" alt="we accept your currency" width="80" height="58" class="h-auto pt-2" />
              </div>
              <div class="col-9 col-lg-8 bg-grey py-2 pl-2">
                <p class="mb-0 mt-2 font-16-14"><b>We accept your currency!</b></p>
                <p class="mb-0 text-light-grey font-16-14" style="line-height: 1.4;">We charge in GBP (£), but your payment will be converted at the current rate by your bank.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  data() {
    return {
      cartItems: [],
      loading: true,
      cartId: null,
      checkoutUrl: '',
    };
  },
  created() {
    this.fetchCart();
  },
  computed: {
    cartTotal() {
      return this.cartItems.reduce((total, item) => {
        const price = parseFloat(item.variant.price) || 0;
        return total + price * item.quantity;
      }, 0).toFixed(2);
    }
  },
  methods: {
    async fetchCart() {
      const cartId = localStorage.getItem('cartId');
      console.log(cartId);
      if (!cartId) {
        this.loading = false;
        return;
      }
      
      const operation = `
        query {
          cart(id: "${cartId}") {
            id
            checkoutUrl
            lines(first: 10) {
              edges {
                node {
                  id
                  quantity
                  merchandise {
                    ... on ProductVariant {
                      id
                      title
                      price {
                        amount
                      }
                      image {
                        url
                      }
                      product {
                        title
                      }
                    }
                  }
                }
              }
            }
          }
        }
      `;
      
      try {
        const { data, errors } = await this.$shopifyClient.request(operation);
        if (errors) {
          console.error('GraphQL Errors:', errors);
          return;
        }
        
        if (data.cart) {
          console.log(data.cart);
          this.checkoutUrl = data.cart.checkoutUrl;
          this.cartItems = data.cart.lines.edges.map(({node}) => ({
            id: node.id,
            title: node.merchandise.product.title,
            quantity: node.quantity,
            variant: {
              id: node.merchandise.id,
              title: node.merchandise.title,
              price: node.merchandise.price.amount,
              image: node.merchandise.image?.url
            }
          }));
        }
      } catch (error) {
        console.error('Error fetching cart:', error);
      } finally {
        this.loading = false;
      }
    },
    
    async updateQuantity(lineItemId, newQuantity) {
      const cartId = localStorage.getItem('cartId');
      if (!cartId) {
        console.error('No cart ID found');
        return;
      }
      
      
      const operation = `mutation cartLinesUpdate($cartId: ID!, $lines: [CartLineUpdateInput!]!) {
    cartLinesUpdate(cartId: $cartId, lines: $lines) {
        cart {
          id
          lines(first: 100) {
            edges {
              node {
                id
                quantity
                merchandise {
                  ... on ProductVariant {
                    id
                    title
                    price {
                      amount
                    }
                    image {
                      url
                    }
                    product {
                      title
                    }
                  }
                }
              }
            }
          }
        }
        userErrors {
            field
            message
        }
    }
}
`;
      
      try {
        const { data, errors } = await this.$shopifyClient.request(operation,{
          variables: {
            "cartId": cartId,
            "lines": [{ "id": lineItemId, "quantity": newQuantity }]
          }
        });
        
        if (errors) {
          console.error('GraphQL Errors:', errors);
          return;
        }
        
        if (data.cartLinesUpdate.userErrors && data.cartLinesUpdate.userErrors.length) {
          console.error('User Errors:', data.cartLinesUpdate.userErrors);
          return;
        }
        
        if (data.cartLinesUpdate.warnings && data.cartLinesUpdate.warnings.length) {
          console.warn('Cart Warnings:', data.cartLinesUpdate.warnings);
        }
        
        if (data.cartLinesUpdate.cart) {
          this.cartItems = data.cartLinesUpdate.cart.lines.edges.map(({ node }) => ({
            id: node.id,
            title: node.merchandise.product.title,
            quantity: node.quantity,
            variant: {
              id: node.merchandise.id,
              title: node.merchandise.title,
              price: node.merchandise.price.amount,
              image: node.merchandise.image?.url
            }
          }));
          console.log('Updated cart items:', this.cartItems);
        }
      } catch (error) {
        console.error('Error updating item quantity:', error);
        if (error.response) {
          error.response.json().then(json => {
            console.error('Detailed error response:', json);
          }).catch(parseError => {
            console.error('Error parsing JSON response:', parseError);
          });
        }
      }
    },
    
    increaseQuantity(item) {
      if (item.quantity < 9) {
        this.updateQuantity(item.id, item.quantity + 1);
      }
    },
    
    decreaseQuantity(item) {
      if (item.quantity > 1) {
        this.updateQuantity(item.id, item.quantity - 1);
      } else {
        this.removeItem(item.id);
      }
    },
    
    async removeItem(lineItemId) {
      const cartId = localStorage.getItem('cartId');
      if (!cartId) {
        console.error('No cart ID found');
        return;
      }
      
      const operation = `mutation cartLinesRemove($cartId: ID!, $lineIds: [ID!]!) {
      cartLinesRemove(cartId: $cartId, lineIds: $lineIds) {
        cart {
          id
          lines(first: 100) {
            edges {
              node {
                id
                quantity
                merchandise {
                  ... on ProductVariant {
                    id
                    title
                    price {
                      amount
                    }
                    image {
                      url
                    }
                    product {
                      title
                    }
                  }
                }
              }
            }
          }
        }
        userErrors {
          field
          message
        }
        warnings {
          code
          message
        }
      }
    }
      `;
      
      try {
        const { data, errors } = await this.$shopifyClient.request(operation,{
          variables: {
            "cartId": cartId,
            "lineIds": [lineItemId]
          }
        });
        
        if (errors) {
          console.error('GraphQL Errors:', errors);
          return;
        }
        
        if (data.cartLinesRemove.userErrors.length) {
          console.error('User Errors:', data.cartLinesRemove.userErrors);
          return;
        }
        
        if (data.cartLinesRemove.warnings.length) {
          console.warn('Cart Warnings:', data.cartLinesRemove.warnings);
        }
        
        if (data.cartLinesRemove.cart) {
          this.cartItems = data.cartLinesRemove.cart.lines.edges.map(({ node }) => ({
            id: node.id,
            title: node.merchandise.product.title,
            quantity: node.quantity,
            variant: {
              id: node.merchandise.id,
              title: node.merchandise.title,
              price: node.merchandise.price.amount,
              image: node.merchandise.image?.url
            }
          }));
          console.log('Updated cart items:', this.cartItems);
        }
      } catch (error) {
        console.error('Error removing item:', error);
        if (error.response) {
          error.response.json().then(json => {
            console.error('Detailed error response:', json);
          }).catch(parseError => {
            console.error('Error parsing JSON response:', parseError);
          });
        }
      }
    },
    
    
    goToCheckout() {
      window.location.href = this.checkoutUrl;
    }
  }
};
</script>

<style>
.btn-quantity{
  width: 30px;
  height: 30px;
  padding: 0;
  text-align: center;
  border: 1px solid #000;
  display: inline-block;
  margin-left: 5px;
}
</style>
