<template>
  <div class="container" v-if="products.length">
    <div class="row" v-if="products.length > 0">
      <div v-for="product in products" :key="product.id" class="col-lg-3">
        <shopify-card :product="product"></shopify-card>
      </div>
    </div>
    <div class="row" v-else>
      <div class="col-lg-3" v-for="n in 12" :key="n">
        <div class="mb-5 mob-mb-0 product-holder">
          <div class="product-container mb-3 p-3">
            <div class="d-flex justify-content-center align-items-center" style="min-height: 520px;">
              <div class="d-inline-block text-center">
                <div class="spinner-border text-primary" role="status"></div>
                <p class="visually-hidden">Loading...</p>
              </div>
            </div>
            <div class="p-3 text-dark">
              <div class="placeholder-glow">
                <span class="placeholder col-7"></span>
                <span class="placeholder col-4 mt-2"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-5 pb-lg-5" v-if="hasMoreProducts">
      <div class="col-12 text-center">
        <hr/>
        <button class="btn btn-primary d-inline-block mt-4" @click="loadMoreProducts">Load More</button>
      </div>
    </div>
  </div>
</template>
<script>
import ShopifyCard from './Card.vue';

export default {
  components: {
    ShopifyCard
  },
  data() {
    return {
      products: [],
      hasMoreProducts: true,
      nextPageCursor: null,
      loading: false,
    };
  },
  created() {
    this.loadProducts();
  },
  methods: {
    loadProducts() {
      if (this.loading) return;
      this.loading = true;

      // Use nextPageCursor to fetch the next set of products
      const params = this.nextPageCursor ? `?cursor=${this.nextPageCursor}` : '';
      fetch(`/shopify/products${params}`)
        .then(response => response.json())
        .then(data => {
          if (data && data.edges) {
            const products = data.edges.map(edge => edge.node); // Extract product nodes
            this.products.push(...products); // Append new products to existing list
            this.nextPageCursor = data.pageInfo.endCursor; // Update the next cursor
            this.hasMoreProducts = data.pageInfo.hasNextPage; // Determine if more products are available
          } else {
            console.error('Unexpected API response:', data);
          }
          this.loading = false;
        })
        .catch(error => {
          console.error('Error loading products:', error);
          this.loading = false;
        });
    },
    loadMoreProducts() {
      this.loadProducts(); // Call loadProducts again to load more products using the updated cursor
    }
  }
};
</script>
