<template>
  <div class="container py-lg-5 pb-5 mb-lg-5">
    <h3 class="text-primary">People also bought...</h3>
    <p>Before you go, check out some of these!</p>
    <div id="otherproductscarousel" v-if="products.length">
      <vue-carousel
        ref="carousel"
        :items-to-show="isMobile ? 1 : 5"
        :items-to-scroll="1"
        :wrap-around="true"
        :autoplay="0"
        :show-arrows="false"
      >
        <carousel-slide v-for="(product, index) in products" :key="index">
          <div class="product-card">
            <a :href="'/merch/products/' + product.id.split('/').pop()">
              <img :src="product.images.edges[0]?.node.src" alt="Product Image" class="w-100 h-auto" />
              <p class="title text-dark">{{ product.title }}</p>
              <p class="text-dark">£{{ parseFloat(product.variants.edges[0]?.node.priceV2?.amount)?.toFixed(2) }}</p>
            </a>
          </div>
        </carousel-slide>
        <template #addons>
          <navigation />
          <pagination />
        </template>
      </vue-carousel>
    </div>
  </div>
</template>
<script>
import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';

export default {
  components: {
    VueCarousel: Carousel,
    CarouselSlide: Slide,
    Pagination,
    Navigation,
  },
  data() {
    return {
      products: [],
      isMobile: false,
    };
  },
  created() {
    this.fetchProducts();
    this.handleResize();
    window.addEventListener('resize', this.handleResize);
  },
  beforeUnmount() {
    window.removeEventListener('resize', this.handleResize);
  },
  methods: {
    fetchProducts() {
      const checkoutId = localStorage.getItem('checkoutId');

      fetch('/shopify/products-excluding-cart', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').getAttribute('content') // Add CSRF token
        },
        body: JSON.stringify({ cartItems: this.cartItems })
      })
      .then((response) => response.json())
      .then((data) => {
        this.products = data.map(item => item.node);
      })
      .catch((error) => {
        console.error('Error fetching products:', error);
      });
    },
    handleResize() {
      this.isMobile = window.innerWidth <= 768; // Set mobile breakpoint
    },
  },
};
</script>

<style>

#otherproductscarousel{
  .product-card {
    text-align: center;
    padding: 15px 2rem;
    .title{
      max-width: 80%;
      margin: auto;
    }
    &:before{
      display: none;
    }
  }
  .product-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .carousel__pagination{
    padding-left: 0;
  }
  button.carousel__prev {
    left: -30px;
  }

  button.carousel__next {
    right: -30px;
  }
}

@media only screen and (max-width : 767px){
  #otherproductscarousel{
    button.carousel__prev {
      left: -10px;
    }

    button.carousel__next {
      right: -10px;
    }
  }
}

</style>
