<template>
  <div class="container py-lg-5 shopify-product-page">
    <div class="row py-5">
      <div class="col-lg-6 mb-4">
        <!-- Carousel for the main product images -->
        <div v-if="product.images.edges.length > 1" >
	        <vue-carousel 
	          
	          ref="carousel" 
	          :items-to-show="1" 
	          :wrap-around="true" 
	          :autoplay="0"
	          :show-arrows="true"
	        >
	          <carousel-slide v-for="(image, index) in product.images.edges" :key="index">
	            <img :src="image.node.src" class="w-100" :alt="product.title" />
	          </carousel-slide>
	        </vue-carousel>

	        <!-- Thumbnails for image navigation -->
	        <div class="thumbnails mt-3 d-flex justify-content-center">
	          <img 
	            v-for="(image, index) in product.images.edges" 
	            :key="index" 
	            :src="image.node.src" 
	            @click="goToSlide(index)" 
	            class="thumbnail-img mr-2"
	            :class="{ 'active-thumbnail': currentSlide === index }" 
	            :alt="'Thumbnail ' + (index + 1)"
	          />
	        </div>
	      </div>
        <!-- If there's only one image, display it without the carousel -->
        <img v-else :src="product.images.edges[0].node.src" class="w-100" :alt="product.title" />
      </div>
      <div class="col-lg-6">
        <h1 class="merch-title mb-4">{{ product.title }}</h1>
        <!-- Form for selecting variant and quantity -->
        <div v-if="product.variants.edges.length > 0">
          <form @submit.prevent="addToCart" class="row mt-4 half_row">
            <div class="col-lg-4 col-6 half_col form-group">
              <label class="text-small" for="variant"><b>Select Size:</b></label>
              <select v-model="selectedVariant" id="variant" class="form-control" required>
                <option v-for="variant in product.variants.edges" :key="variant.node.id" :value="variant.node.id">
                  {{ variant.node.title }}
                </option>
              </select>
            </div>
            <div class="form-group col-lg-4 col-6 half_col">
              <label class="text-small" for="quantity"><b>Quantity:</b></label>
              <select id="quantity" class="form-control" name="quantity" v-model="quantity" required>
		            <option value="1">1</option>
		            <option value="2">2</option>
		            <option value="3">3</option>
		            <option value="4">4</option>
		            <option value="5">5</option>
		            <option value="6">6</option>
		            <option value="7">7</option>
		            <option value="8">8</option>
		            <option value="9">9</option>
		          </select>
            </div>
            <div class="col-lg-4 half_col">
            	<label class="text-small text-white d-none d-lg-inline-block">Add to cart</label>
            	<button type="submit" class="btn btn-primary mw-100 w-100">Add to Cart</button>
            </div>
          </form>
        </div>

        <!-- Error message -->
        <div v-if="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>


        <div v-html="product.descriptionHtml" class="product-description mt-4"></div>

        
      </div>
    </div>
    <div v-if="showModal" class="modal-overlay ">
	    
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5">
              <div class="modal-content">
                <div class="container px-0 px-lg-3">
          	      <h3 class="mb-2">Added to basket!</h3>
                  <p>Where would you like to go next?</p>
                  <div class="row half_row">
                    <div class="col-6 half_col">
              	      <button @click="goToCheckout" class="btn btn-primary mx-0">Checkout</button>
                    </div>
                    <div class="col-6 half_col">
                      <a href="/shopify/basket">
              	       <button @click="viewCart" class="btn btn-outline mx-0">View Cart</button>
                      </a>
                    </div>
                  </div>
                  <p class="mt-3 mb-0"><a href="#" @click.prevent="continueShopping" class=""><u>No thanks, continue shopping</u></a></p>
                </div>
            </div>
          </div>
        </div>
	    </div>
	  </div>
  </div>
</template>

<script>
import { Carousel, Slide } from 'vue3-carousel';
import {createStorefrontApiClient} from '@shopify/storefront-api-client';
const client = createStorefrontApiClient({
  storeDomain: 'your-shop-name.myshopify.com',
  apiVersion: '2024-04',
  publicAccessToken: 'your-storefront-public-access-token',
});
export default {
  components: {
    VueCarousel: Carousel,
    CarouselSlide: Slide
  },
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      showModal: false,
      checkoutUrl: '',
      currentSlide: 0,
      selectedVariant: null, // To hold the selected variant
      quantity: 1, // Default quantity
      errorMessage: '', // Error message for invalid operations
      client: null, // Add client property to store the Shopify client instance
    };
  },
  created() {
    // Set the default selected variant to the first variant
    if (this.product.variants.edges.length > 0) {
      this.selectedVariant = this.product.variants.edges[0].node.id;
    }
  },
  mounted() {
    // Initialize the Shopify client instance
    this.client = createStorefrontApiClient({
      storeDomain: import.meta.env.VITE_SHOPIFY_MYSHOPIFY_DOMAIN,
      publicAccessToken: import.meta.env.VITE_SHOPIFY_ACCESS_TOKEN,
      apiVersion: '2024-04'
    });
  },
  methods: {
    goToSlide(index) {
      this.currentSlide = index;
      this.$refs.carousel.slideTo(index);
    },
    async addToCart() {
      if (!this.selectedVariant || this.quantity < 1) {
        this.errorMessage = 'Please select a valid variant and quantity.';
        return;
      }

      this.errorMessage = '';
      
      // Get existing cart ID from localStorage if it exists
      const existingCartId = localStorage.getItem('cartId');
      
      let operation;
      let variables;

      if (existingCartId) {
        // Add to existing cart
        operation = `mutation cartLinesAdd($cartId: ID!, $lines: [CartLineInput!]!) {
          cartLinesAdd(cartId: $cartId, lines: $lines) {
            cart {
              id
              checkoutUrl
            }
          }
        }`;

        variables = {
          cartId: existingCartId,
          lines: [
            {
              quantity: this.quantity,
              merchandiseId: this.selectedVariant
            }
          ]
        };

      } else {
        // Create new cart
        operation = `mutation createCart($cartInput: CartInput) {
          cartCreate(input: $cartInput) {
            cart {
              id
              checkoutUrl
            }
          }
        }`;

        variables = {
          cartInput: {
            lines: [
              {
                quantity: this.quantity,
                merchandiseId: this.selectedVariant
              }
            ]
          }
        };
      }

      try {
        const {data} = await this.client.request(operation, {
          variables: variables
        });

        const cart = existingCartId ? data?.cartLinesAdd?.cart : data?.cartCreate?.cart;

        if (cart) {
          // Store cart ID in localStorage
          localStorage.setItem('cartId', cart.id);
          console.log(cart.id);
          this.checkoutUrl = cart.checkoutUrl;
          this.showModal = true;
        }

      } catch (error) {
        console.error('Error adding to cart:', error);
        this.errorMessage = 'An error occurred while adding the product to the cart.';
      }
    },

    // createNewCheckout is no longer needed since we're using the Cart API
    continueShopping() {
      this.showModal = false;
    },
    goToCheckout() {
      window.location.href = this.checkoutUrl;
    },
    viewCart() {
      window.location.href = this.checkoutUrl;
    }
  }

};
</script>


<style>
  .shopify-product-page{
    /* Thumbnail styles */
    .thumbnail-img {
      width: 60px;
      height: 60px;
      cursor: pointer;
      object-fit: cover;
      border: 2px solid transparent;
      transition: border 0.3s ease;
    }

    .thumbnail-img:hover {
      border: 2px solid #333;
    }

    .active-thumbnail {
      border: 2px solid #000;
    }

    /* Add space between thumbnails */
    .thumbnail-img + .thumbnail-img {
      margin-left: 10px;
    }
    h1{
      &.merch-title{
        font-size: 2.4rem;
        line-height: 1.2;
      }
    }
    .modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.6);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .modal-content {
      background: white;
      padding: 20px;
      border-radius: 10px;
      text-align: center;
    }

    .modal-content button {
      margin: 0 10px;
    }
  }

@media only screen and (max-width : 767px){
   .shopify-product-page{
  	h1{
  		&.merch-title{
  			font-size: 6.5vw;
  	  	line-height: 1.2;
  		}
  	}
  }
}
</style>

