<template>
	<nav id="menu-bar" class="container-fluid">
		<div class="menu-basket contianer" :class="{ basketopen: basketopen }" v-if="basketcount > 0">
			
			<div class="row">
				<div class="col-7">
					<p class="text-large mb-0"><b>Basket</b></p>
				</div>
				<div class="col-5 pt-2 text-right">
					<p class="text-small mb-0"><a href="/basket"><b>Go to Basket</b> <i class="fa fa-angle-double-right"></i></a></p>
				</div>
			</div>
			<hr class="my-2 pb-2" />
			<div v-for="item in basket" class="row mb-2">
				<div class="col-9">
					<p class="mb-0">{{item.name}}</p>
				</div>
				<div class="col-3 text-right">
					<p class="mb-0">£{{item.price}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<hr class="mt-2" />
				</div>
				<div class="col-9">
					<p class="mb-0"><b>Total</b></p>
				</div>
				<div class="col-3 text-right">
					<p class="mb-0"><b>£{{total}}</b></p>
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-7">
					<p class="text-small mb-0"><a href="/checkout"><b>Checkout</b> <i class="fa fa-angle-double-right"></i></a></p>
				</div>
				<div class="col-5 text-right">
					<p class="text-small text-primary mb-0 cursor-pointer"><b @click="toggleBasket()"><i class="fa fa-times"></i> Close</b></p>
				</div>
			</div>
		</div>
		<div class="row half_row top-stripe text-white px-3 mob-px-0">
			<div class="col-9 half_col">
				<p class="mb-0">Have you done your SMM today?</p>
				<!-- <p class="mb-0"><a href="/shop" class="text-white"><i class="fa fa-heart mr-2 bounce"></i><b>Valentine's Sale NOW ON!</b> <u>Shop Now!</u></a></p> -->
				<!-- <top-timer ds="2023-11-23T09:00:00+00:00"></top-timer> -->
			</div>
			<div class="col-3 half_col text-right">
				<p class="mb-0" v-if="user != null"><a href="/dashboard" class="text-white">Hi {{user.first_name}}<i class="fa fa-user-circle ml-2"></i></a></p>
				<p class="mb-0" v-else><a href="/login" class="text-white">Login <i class="fa fa-sign-in ml-2"></i></a></p>
			</div>
		</div>
		<div class="row menu-row shadow px-3 mob-px-0">
			<div class="col-8">
				<a href="/">
					<img id="top-logo" src="/img/logos/logo-long.svg" class="img-fluid my-3" loading="lazy" alt="Tom Morrison logo" width="162" height="35"/>
				</a>
			</div>
			<div class="col-4">
				<div class="menu-merch" v-if="numberOfShopifyItems > 0">
					<a href="/shopify/basket">
						<img src="/img/icons/shirt-sharp-solid.svg" width="20" height="20" class="merch-icon"/>
						<span class="basket-count">{{ numberOfShopifyItems }}</span>
					</a>
				</div>
				<span class="menu-cart" aria-label="shopping cart" v-if="basketcount > 0" @click="toggleBasket()">
					<i class="fa fa-shopping-cart text-dark"></i>
					<div v-if="basketcount > 0" class="basket-count">{{basketcount}}</div>
				</span>
				<a href="/shop" class="menu-cart" aria-label="shopping cart" v-else>
					<i class="fa fa-shopping-cart text-dark"></i>
				</a>
				<div id="menu_btn"><div class="nav-icon"><span></span><span></span><span></span></div></div>
			</div>
		</div>
		<div id="main-menu" class="shadow">
			<div class="menu-inner pr-5">
				<div class="nav-item" :class="{'active': page == 'Homepage'}">
					<p class="mb-0">
						<a class="nav-link" href="/">Home</a>
					</p>
				</div>
				<div class="nav-item" :class="{'active': page == 'Shop'}">
					<p class="mb-0">
						<a class="nav-link" href="/shop">Shop</a>
					</p>
				</div>
				<div class="nav-item" :class="{'active': page == 'Merch'}">
					<p class="mb-0">
						<a class="nav-link" href="/merch">Merch</a>
					</p>
				</div>
				<div class="nav-item" :class="{'active': page == 'Seminars'}">
					<p class="mb-0">
						<a class="nav-link" href="/seminars">Seminars</a>
					</p>
				</div>
				<div class="nav-item" :class="{'active': page == 'Facts'}">
					<p class="mb-0">
						<a class="nav-link" href="/facts">Tom Facts</a>
					</p>
				</div>
				<div class="nav-item" :class="{'active': page == 'About'}">
					<p class="mb-0">
						<a class="nav-link" href="/about">About Us</a>
					</p>
				</div>
				<div class="nav-item" :class="{'active': page == 'Blog'}">
					<p class="mb-0">
						<a class="nav-link" href="/blog">Blog</a>
					</p>
				</div>
				<div class="nav-item" :class="{'active': page == 'Podcast'}">
					<p class="mb-0">
						<a class="nav-link" href="/podcast">Podcast</a>
					</p>
				</div>
				<div class="nav-item" :class="{'active': page == 'Reviews - Simplistic Mobility Method'}">
					<p class="mb-0">
						<a class="nav-link" href="/simplistic-mobility-method-reviews">Reviews</a>
					</p>
				</div>
				<div class="nav-item" :class="{'active': page == 'Help'}">
					<p class="mb-0">
						<a class="nav-link" href="/help">Help</a>
					</p>
				</div>
				<div class="nav-item text-right mt-3">
					<a href="/login">
						<button type="button" class="btn btn-small btn-outline d-inline-block"><i class="fa fa-sign-in mr-1 d-inline-block" style="font-size: 16px;"></i> Login</button>
					</a>
				</div>
				<div class="menu-inner-bottom">
					<div class="row">
						<!--        <div class="col-5 text-left">
							<a href="/login">
								<button class="btn btn-white-line">Login</button>
							</a>
						</div> -->
						<div class="col-12">
							<p class="text-right">
								<a href="https://www.facebook.com/Movementandmotion" target="_blank" rel="noopener" aria-label="Facebook"><span class="social-circle"><i class="fa fa-facebook"></i></span></a>
								<a href="https://www.tiktok.com/@tom_morrison" target="_blank" rel="noopener" aria-label="TikTok"><span class="social-circle"><img src="/img/icons/tiktok-brands.svg" width="18" height="18" alt="tom morrison tiktok"/></span></a>
								<a href="https://www.instagram.com/tom.morrison.training" target="_blank" rel="noopener" aria-label="Instagram"><span class="social-circle"><i class="fa fa-instagram"></i></span></a>
								<a href="https://www.youtube.com/channel/UC1bHlccT8JOMAWm5wMuzG9A" target="_blank" rel="noopener" aria-label="YouTube"><span class="social-circle"><i class="fa fa-youtube-play"></i></span></a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
</template>
<script>
import TopTimer from '../sale/TopTimer.vue';
export default {
	components:{
		TopTimer
	},
	props:{
		user: Object,
		page: String,
		cart: Object,
		pagename: String
	},
	data() {
		return {
			errors: {},
			loaded: true,
			basket: null,
			basketcount: null,
			total: 0,
			basketopen: false,
			numberOfShopifyItems: 0,
		}
	},
	created(){
		this.checkShopifyCart();
	},
	mounted(){
		this.basketcount = Object.entries(this.cart).length;
		this.basket = this.cart;
		for (let itemKey in this.basket) {
			if (this.basket.hasOwnProperty(itemKey)) { // Check property is not from prototype chain
				this.total += this.basket[itemKey].price; // Correctly access the price property
			}
		}
		document.getElementById('menu_btn').addEventListener('click', function() {
			document.getElementById('menu_btn').classList.toggle('nav_open');
			document.getElementById('main-menu').classList.toggle('on');
		});
	},
	methods:{
    toggleBasket(){
        if(this.basketopen){
            this.basketopen = false;
        }else{
            this.basketopen = true;
        }
    },
    async checkShopifyCart() {
		const cartId = localStorage.getItem('cartId');
		if (!cartId) {
			console.log('No cart ID available');
			return;
		}
		
		if (!this.$shopifyClient) {
			console.error('Shopify client is not available');
			return;
		}
		
		const operation = `
			query {
				cart(id: "${cartId}") {
					id
					lines(first: 10) {
						edges {
							node {
								quantity
							}
						}
					}
				}
			}
		`;

		try {
			const { data, errors } = await this.$shopifyClient.request(operation);
			if (errors) {
				console.error('GraphQL Errors:', errors);
				return;
			}
			if (data && data.cart && data.cart.lines) {
				// Calculate the total number of items in the Shopify cart
				const totalItems = data.cart.lines.edges.reduce((total, edge) => {
					return total + edge.node.quantity;
				}, 0);

				// Assign the computed total to the numberOfShopifyItems variable
				this.numberOfShopifyItems = totalItems;
				console.log('Total items in cart:', this.numberOfShopifyItems);
			}
		} catch (error) {
			console.error('Error fetching Shopify cart:', error);
			this.numberOfShopifyItems = 0; // Reset to 0 in case of an error
		}
	}

}

}
</script>
<style lang="scss">
@mixin transition($ms) { 
	-webkit-transition: all $ms ease;
	-moz-transition: all $ms ease ;
	-o-transition: all $ms ease;
	transition: all $ms ease;
}
@-webkit-keyframes bounce {
	0% { transform: translateY(-3px)  }
	50% { transform: translateY(3px) }
	100% { transform: translateY(-3px) }
}

@keyframes bounce {
	0% { transform: translateY(-3px)  }
	50% { transform: translateY(3px) }
	100% { transform: translateY(-3px) }
}
$primary: #D72737;
#content{
	padding-top: 96px;
}
#menu-bar{
	background-color: #fff;
	width: 100%;
	height: 96px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1010;
	.menu-basket{
		position: absolute;
		top: -1000px;
		max-height: 0;
		right: 3rem;
		background-color: #fff;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		width: 320px;
		max-width: 100%;
		z-index: 0;
		padding: 1rem;
		@include transition(200ms);
		&.basketopen{
			top: 96px;
			z-index: 1050;
			max-height: 1000px;
			box-shadow: 0px 10px 9px -1px rgba(0, 0, 0, 0.05);
		}
	}
	.top-stripe{
		position: relative;
		z-index: 1010;
		height: 28px;
		padding-top: 3px;
		overflow: hidden;
		background: #59604E;
		// background: linear-gradient(-45deg, #8F5125, #321E19);
		background: linear-gradient(-45deg, #DD3433, #C32C2E, #AF2726, #9F221A);
		background-size: 400% 400%;
		background-size: 100%;
		animation: gradient 10s ease infinite;
		p{
			font-size: 14px;
			color: #ffffff;
			a{
				color: #ffffff !important;
			}
		}
		i.bounce{
			width: 13px;
			margin-right: 4px;
			height: auto;
			-webkit-animation: bounce 3s infinite ease-in-out;
			-o-animation: bounce 3s infinite ease-in-out;
			-ms-animation: bounce 3s infinite ease-in-out; 
			-moz-animation: bounce 3s infinite ease-in-out; 
			animation: bounce 3s infinite ease-in-out;
		}
	}
	.menu-row{
		position: relative;
		z-index: 1010;
		background-color: #fff;
	}
	.timer{
		width: auto;
		.timer-box{
			margin: auto;
			.timer-number{
				border: 0;
				padding: 0;
				width: auto;
				height: auto;
				line-height: 1 !important;
				font-size: 14px !important;
				font-weight: 300;
				font-family: 'Karla', sans-serif;
				text-decoration: underline;
			}
			p{
				display: inline;
				text-align: left;
				position: relative;
				bottom: auto;
				font-weight: 300;
				font-size: 12px;
			}
		}
	}
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#main-menu{
	position: fixed;
	right: -500px;
	top: 0;
	width: 300px;
	height: 100%;
	background-color: white;
	color: #000;
	z-index: 1000;
	@include transition(300ms);
	&.on{
		right: 0;
	}
	.menu-inner{
		margin-top: 60px;
		padding-top: 50px;
		text-align: right;
		a{
			color: #000;
			
			&:hover{
				color: $primary;
			}
			&.nav-link{
				display: inline-block;
				font-size: 20px;
				padding-bottom: 0.3rem;
				padding-left: 0;
				padding-right: 0;
				padding-top: 1rem;
				&.underline{
					border-bottom: 2px solid $primary;
				}
			}
		}.nav-item{
			position:relative;
			&.active{
				&:after{
					content: "";
					position: absolute;
					bottom: 0;
					right: -3rem;
					width: 110px;
					height: 2px;
					background-color: $primary;
				}
			}
		}
		.menu-inner-bottom{
			position: absolute;
			width: 100%;
			left: 0;
			bottom: 0;
			margin-top: 0 -15px 0 -15px;
			padding: 1rem 1rem 0;
			background: #2D2F32;
			box-shadow: 0px -4px 6px -2px rgba(0, 0, 0, 0.1) !important;
			.social-circle{
				background-color: transparent;
				color: #fff;
				padding-top: 4px;
				border-radius: 100%;
				width: 35px;
				font-size: 20px;
				height: 35px;
				margin-left: 5px;
				text-align: center;
				display: inline-block;
				@include transition(300ms); 
				&:hover{
					background-color: transparent;
					color: $primary;
				}
			}
		}
	}
}
.menu-cart{
	position: absolute;
	top: 22px;
	right: calc(1rem + 50px);
	z-index: 1100;
	cursor: pointer;
	display: inline-block;
	width: 30px;
	height: 30px;
	i{
		font-size: 28px;
	}
	.basket-count{
		position: absolute;
		top:-7px;
		right:-6px;
		border-radius: 100%;
		background-color: #D82737;
		color:#fff;
		text-align:center;
		width:18px;
		height:18px;
		font-size:12px;
		cursor:pointer;
	}
}
.menu-merch{
	position: absolute;
	top: 22px;
	right: calc(1rem + 100px);
	z-index: 1100;
	cursor: pointer;
	display: inline-block;
	width: 30px;
	height: 30px;
	img{
		width: 28px;
		height: 28px;
	}
	.basket-count{
		position: absolute;
		top:-7px;
		right:-6px;
		border-radius: 100%;
		background-color: #D82737;
		color:#fff;
		text-align:center;
		width:18px;
		height:18px;
		font-size:12px;
		cursor:pointer;
	}
}
#menu_btn{
	position: absolute;
	top: 26px;
	right: 1rem;
	z-index: 1100;
	cursor: pointer;
	display: inline-block;
	width: 30px;
	height: 30px;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease ;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	.nav-icon {
		width: 30px;
		height: 30px;
		position: relative;
		z-index: 110;
		cursor: pointer;
		-webkit-transition: all 300ms ease;
		-moz-transition: all 300ms ease ;
		-o-transition: all 300ms ease;
		transition: all 300ms ease;
		span {
			display: block;
			position: absolute;
			border-radius: 0px;
			height: 3px;
			width: 100%;
			background: #1C2D4B;
			opacity: 1;
			right: 0;
			cursor: pointer;
			-webkit-transition: all 300ms ease;
			-moz-transition: all 300ms ease ;
			-o-transition: all 300ms ease;
			transition: all 300ms ease;
			-webkit-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
			-moz-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
			box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
		}
		span:nth-child(1) {
			top: 0px;
		}
		span:nth-child(2) {
			top: 8px; 
			-webkit-transition: all 300ms ease;
			-moz-transition: all 300ms ease ;
			-o-transition: all 300ms ease;
			transition: all 300ms ease;
		}
		span:nth-child(3) {
			top: 16px; 
			width: 60%;
		}
		&.nav_open{
			span {
				border-radius: 10px;
				background: #1C2D4B;
			}
			span:nth-child(1) {
				top: 9px !important;
				-webkit-transform: rotate(135deg) !important;
				-moz-transform: rotate(135deg) !important;
				-o-transform: rotate(135deg) !important;
				transform: rotate(135deg) !important; 
			}
			span:nth-child(2) {
				opacity: 0 !important;
				left: 20vw !important; 
			}
			span:nth-child(3) {
				width: 100%;
				top: 9px !important;
				-webkit-transform: rotate(-135deg) !important;
				-moz-transform: rotate(-135deg) !important;
				-o-transform: rotate(-135deg) !important;
				transform: rotate(-135deg) !important; 
			}
		}
	}
	&:hover{
		.nav-icon{
			span:nth-child(3) {
				width: 100%;
			}
		}
	}
	&.on{
		background-color: #e83e8c;
	}
	&.dark{
		.nav-icon {
			span {
				background: #F6CF3C;
			}
		}
	}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	.menu .menu-dropdown-holder .menu-dropdown a{
		font-size: 1.1rem;
	}
}
@media only screen and (max-width : 767px){
	.menu .menu-links .menu-item{
		font-size: 4.5vw;
	}
	#menu-bar{
		.top-stripe{
			padding-top: 0;
		}
		.menu-basket{
			max-width: calc(100vw - 1rem);
			right: 0.5rem;
		}
	}
	
}
</style>